@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridContentModel>
@using Custom.ViewModel
@using NRRC_External_2025.Models.Custom
@using Umbraco.Cms.Core.Models.Blocks
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@inject IPublishedUrlProvider IPublishedUrlProvider


@if (Model is not null)
{
    var _Widget = (Widget_ItemsFromList)Model?.BlockGridItem?.Content;
    if (_Widget != null && _Widget.HideWidget is false)
    {
        @* var items = Model?.PublishedContentItem?
                         .ChildrenOfType(Dt_NewsItem.ModelTypeAlias)?
                         .Where(x => x.Value<bool>(nameof(Dt_EventsItem.Hide)) is false)
                          .OrderByDescending(p => p.Value<DateTime>(nameof(Dt_NewsItem.Date)))
                          .ToList(); *@

        var items = Model?.PublishedContentItem?
       .ChildrenOfType(Dt_ServicesItem.ModelTypeAlias)?
       .Where(x => x.Value<bool>(nameof(Dt_ServicesItem.Hide)) is false)
        .OrderByDescending(p => p.Value<DateTime>(nameof(Dt_ServicesItem.ItemOrder)))
        .ToList();


        <div class="bg-gray py-5 services">
            <div class="px-0 px-xl-5">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between align-items-center gap-3 mb-3">
                        @if (Model.isHomePage)
                        {
                            <h3 class="font-bold">@_Widget?.Title</h3>
                            var readMoreLink = _Widget?.ReadMoreLink.ToLinkURL("");
                            <a class="btn bg-transparent d-flex align-items-center gap-2 font-medium border" href="@_Widget?.ReadMoreLink.ToLinkURL("")">
                                <span>@_Widget?.ReadMoreLink?.Name</span>
                            </a>
                        }
                    </div>
                    <p class="mb-4"> @_Widget?.Details</p>
                </div>
            </div>
            <div class="py-4">
                <div class="owl-carousel owl-theme services-carousel">
                    


                    @if (items != null && items.Count() > 0)
                    {
                        if (_Widget?.MaxRecords > 0)
                        {
                            items = items?.Take(_Widget.MaxRecords).ToList();
                        }
                        foreach (Dt_ServicesItem item in items)
                        {
                            @* var ImageUrl = item?.Image?.Url(IPublishedUrlProvider);
                            var imgAltText = item?.Image?.Value<string>(nameof(Image.AltText)); *@
                            <div class="item">
                                <div class="service-item border bg-white rounded-4 p-3 d-flex flex-column align-items-start">
                                    <div class="icon bg-green2 rounded-circle d-flex align-items-center justify-content-center mb-4">
                                        <svg width="24" height="20" viewBox="0 0 24 20" fill="none" xmlns="http://www.w3.org/2000/svg">
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M8.99993 0.75C6.37658 0.75 4.24993 2.87665 4.24993 5.5C4.24993 8.12335 6.37658 10.25 8.99993 10.25C11.6233 10.25 13.7499 8.12335 13.7499 5.5C13.7499 2.87665 11.6233 0.75 8.99993 0.75ZM5.74993 5.5C5.74993 3.70507 7.205 2.25 8.99993 2.25C10.7949 2.25 12.2499 3.70507 12.2499 5.5C12.2499 7.29493 10.7949 8.75 8.99993 8.75C7.205 8.75 5.74993 7.29493 5.74993 5.5Z" fill="white" />
                                            <path fill-rule="evenodd" clip-rule="evenodd" d="M13.8729 13.4501C10.8869 11.85 7.11294 11.85 4.12698 13.4501C4.03389 13.5 3.91744 13.5591 3.78458 13.6265C3.19218 13.9271 2.27346 14.3932 1.64361 14.9481C1.25533 15.2901 0.839209 15.7785 0.762242 16.4123C0.677967 17.1061 1.02252 17.7168 1.60562 18.2168C2.60054 19.0699 3.79236 19.75 5.32565 19.75H12.6742C14.2075 19.75 15.3993 19.0699 16.3942 18.2168C16.9773 17.7168 17.3219 17.1061 17.2376 16.4123C17.1606 15.7785 16.7445 15.2901 16.3562 14.9481C15.7264 14.3932 14.8077 13.9271 14.2153 13.6265C14.0824 13.5591 13.966 13.5 13.8729 13.4501ZM2.582 17.0781C2.22858 16.775 2.24805 16.6191 2.25118 16.5941C2.26113 16.5121 2.33861 16.3349 2.63515 16.0736C3.10447 15.6602 3.77821 15.316 4.37062 15.0134C4.53369 14.9301 4.69072 14.8498 4.8355 14.7722C7.37889 13.4093 10.621 13.4093 13.1644 14.7722C13.3092 14.8499 13.4661 14.93 13.6292 15.0134C14.2216 15.316 14.8954 15.6602 15.3647 16.0736C15.6612 16.3349 15.7386 16.5112 15.7486 16.5931C15.7517 16.6182 15.7713 16.775 15.4179 17.0781C14.5734 17.8022 13.7165 18.25 12.6742 18.25H5.32565C4.28332 18.25 3.4265 17.8022 2.582 17.0781Z" fill="white" />
                                            <path d="M15.6457 3.80443C15.8248 3.7689 16.0118 3.75 16.2045 3.75C17.678 3.75 18.7498 4.82206 18.7498 6C18.7498 7.17794 17.678 8.25 16.2045 8.25C16.0118 8.25 15.8248 8.2311 15.6457 8.19557C15.2394 8.11497 14.8447 8.37901 14.7641 8.78531C14.6835 9.1916 14.9476 9.58631 15.3539 9.6669C15.6289 9.72145 15.9135 9.75 16.2045 9.75C18.3709 9.75 20.2498 8.13577 20.2498 6C20.2498 3.86423 18.3709 2.25 16.2045 2.25C15.9135 2.25 15.6289 2.27855 15.3539 2.3331C14.9476 2.41369 14.6835 2.80839 14.7641 3.21469C14.8447 3.62099 15.2394 3.88503 15.6457 3.80443Z" fill="white" />
                                            <path d="M17.4998 12.25C17.0856 12.25 16.7498 12.5858 16.7498 13C16.7498 13.4142 17.0856 13.75 17.4998 13.75C17.8099 13.75 18.3481 13.8438 18.979 14.0395C19.5987 14.2318 20.2458 14.5032 20.7705 14.8174C21.3233 15.1484 21.623 15.4575 21.7187 15.6752C21.756 15.7602 21.7537 15.8104 21.7424 15.852C21.7284 15.9039 21.6778 16.0185 21.4924 16.1839C20.7439 16.8516 20.0004 17.25 19.1061 17.25H18.6159C18.2016 17.25 17.8659 17.5858 17.8659 18C17.8659 18.4142 18.2016 18.75 18.6159 18.75H19.1061C20.5114 18.75 21.597 18.1006 22.4909 17.3032C22.8271 17.0034 23.0796 16.6521 23.1901 16.2448C23.3034 15.8273 23.2472 15.425 23.092 15.0718C22.8026 14.4132 22.1628 13.9027 21.5411 13.5305C20.8913 13.1414 20.129 12.8258 19.4235 12.6069C18.7293 12.3915 18.0267 12.25 17.4998 12.25Z" fill="white" />
                                        </svg>
                                    </div>
                                    <h5 class=" font-bold mb-2">@item.ToPageTitle()</h5>
                                    <p class="flex-grow-1">@item?.Description</p>
                                    <ul class="d-flex gap-2 flex-wrap mb-4 px-0 mt-1 small font-medium">
                                        <li class="border border-gray-100 rounded-2 p-2 py-1 bg-gray-100">المستفيدين</li>
                                        <li class="border border-blue-500 rounded-2 p-2 py-1 bg-blue-50 text-primary">خدمات</li>
                                        <li class="border border-green-600 rounded-2 p-2 py-1 bg-green-50 text-success">نووي</li>
                                    </ul>
                                    <a class="btn bg-white d-flex align-items-center gap-2 font-medium border text-black" href="@item?.Url(IPublishedUrlProvider)">
                                        <i class="bi bi-arrow-right"></i>
                                    </a>
                                </div>
                            </div>
                        }
                    }

                   
                   
                </div>
            </div>
            <div class="px-0 px-xl-5">
                <div class="container-fluid">
                    <div class="d-flex justify-content-between align-items-center gap-3 owlcarousel-control">
                        <div class="side-nav d-flex align-items-center gap-3">
                            <a class="next rounded-circle bg-white d-flex align-items-center justify-content-center"><i class="bi bi-chevron-left fs-5"></i></a>
                            <a class="prev rounded-circle bg-white d-flex align-items-center justify-content-center"><i class="bi bi-chevron-right fs-5"></i></a>
                        </div>
                        <div class="owl-dots d-flex gap-2">
                            <button role="button" class="owl-dot"><span></span></button>
                        </div>
                    </div>
                </div>
            </div>
        </div>




    }


}


