<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1fc2c919-8d10-4118-a6ac-b76cf973f817" Alias="DT_Events" Level="2">
  <Info>
    <Name>Events</Name>
    <Icon>icon-calendar color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages+Lists</Folder>
    <Compositions>
      <Composition Key="2531df67-da8e-43f6-885f-5121f357e959">pageProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0abc018e-bcc6-40d3-a00e-79dafc53e2d9">DT_RedirectPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="de511324-a6cd-4117-a4f9-b1e26fb77dac" SortOrder="0">DT_EventsItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>