<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="e2ea1d03-ea75-4a36-afec-31ed9f77893e" Alias="DT_FAQ" Level="2">
  <Info>
    <Name>FAQ</Name>
    <Icon>icon-columns color-light-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages+Lists</Folder>
    <Compositions>
      <Composition Key="2531df67-da8e-43f6-885f-5121f357e959">pageProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure>
    <ContentType Key="b2538747-ccb0-4a8f-9f6e-59d4190ad548" SortOrder="0">DT_FAQItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>