<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="b425fa4c-71cc-4a01-9f77-11bab9ebfc5c" Alias="DT_Folder" Level="2">
  <Info>
    <Name>Folder</Name>
    <Icon>icon-item-arrangement</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="2531df67-da8e-43f6-885f-5121f357e959">pageProperties</Composition>
      <Composition Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42">pageSEO</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0abc018e-bcc6-40d3-a00e-79dafc53e2d9">DT_RedirectPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d089cbc2-ad76-44d1-85b2-efd5b2c326d0" SortOrder="0">DT_PageContent</ContentType>
    <ContentType Key="203a5710-bca8-485f-840a-b43ff4a454ae" SortOrder="1">DT_Versions</ContentType>
    <ContentType Key="36b53dcc-69a5-4429-be8f-5bd3cc2fadc7" SortOrder="2">DT_News</ContentType>
    <ContentType Key="1fc2c919-8d10-4118-a6ac-b76cf973f817" SortOrder="3">DT_Events</ContentType>
    <ContentType Key="f3fe52ca-45ed-4f1b-b846-2190cf2bbc21" SortOrder="4">DT_Numbers</ContentType>
    <ContentType Key="8e3fbf5f-d0b8-49a4-9365-c6b3cda0b8b0" SortOrder="5">DT_Services</ContentType>
    <ContentType Key="4347676f-98ca-439d-8ee9-a31e4b6b086c" SortOrder="6">lookupItems</ContentType>
    <ContentType Key="200c18fa-76de-4434-917a-da763df9e427" SortOrder="7">news_Letter</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>