<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="ebea22a2-6912-42ab-8b38-43ee95a48e68" Alias="DT_HomePage" Level="2">
  <Info>
    <Name>Home Page</Name>
    <Icon>icon-home color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>True</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="409ccf1f-a207-47a8-800e-5a18afca5fe3">footer</Composition>
      <Composition Key="25073e67-51b1-4eaf-bd3f-cecbd511d2bf">pageBlockList</Composition>
      <Composition Key="2531df67-da8e-43f6-885f-5121f357e959">pageProperties</Composition>
      <Composition Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42">pageSEO</Composition>
      <Composition Key="69599cbd-c9c7-4f2b-8947-ab2fa73fc271">pageTitles</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="ff06347c-81b3-4e42-9ac9-27c74aa69337">DT_HomePage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d089cbc2-ad76-44d1-85b2-efd5b2c326d0" SortOrder="0">DT_PageContent</ContentType>
    <ContentType Key="b425fa4c-71cc-4a01-9f77-11bab9ebfc5c" SortOrder="1">DT_Folder</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>