<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="f3fe52ca-45ed-4f1b-b846-2190cf2bbc21" Alias="DT_Numbers" Level="2">
  <Info>
    <Name>Numbers</Name>
    <Icon>icon-bars color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages+Lists</Folder>
    <Compositions>
      <Composition Key="2531df67-da8e-43f6-885f-5121f357e959">pageProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0abc018e-bcc6-40d3-a00e-79dafc53e2d9">DT_RedirectPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="3163c488-281a-4e45-bf72-dfa4dc171302" SortOrder="0">dT_NumbersItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>