<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="d089cbc2-ad76-44d1-85b2-efd5b2c326d0" Alias="DT_PageContent" Level="2">
  <Info>
    <Name>Page Content</Name>
    <Icon>icon-disk-image color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages</Folder>
    <Compositions>
      <Composition Key="25073e67-51b1-4eaf-bd3f-cecbd511d2bf">pageBlockList</Composition>
      <Composition Key="1f8a4639-e5ba-4083-a643-32d575eb8fef">pageChildrens</Composition>
      <Composition Key="144cc30d-58d6-4659-9bdd-f31830fde04c">pageContent</Composition>
      <Composition Key="ae00ed51-7c3c-4637-b9c4-bff15162127b">pageDescription</Composition>
      <Composition Key="2531df67-da8e-43f6-885f-5121f357e959">pageProperties</Composition>
      <Composition Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42">pageSEO</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="544a3a9b-8d32-4eba-901e-bcd48670cd55">DT_PageContent</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="d089cbc2-ad76-44d1-85b2-efd5b2c326d0" SortOrder="0">DT_PageContent</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>