<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="69c5056e-1b5d-49c8-b616-b82cf1135bf5" Alias="dT_ServiceItem" Level="2">
  <Info>
    <Name>DT_ServiceItem</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages+Lists</Folder>
    <Compositions>
      <Composition Key="2531df67-da8e-43f6-885f-5121f357e959">pageProperties</Composition>
      <Composition Key="69599cbd-c9c7-4f2b-8947-ab2fa73fc271">pageTitles</Composition>
    </Compositions>
    <DefaultTemplate>DT_ServiceItem</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="4737d5bd-91c8-4c6b-b16e-b3fadaf26cc8">DT_ServiceItem</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties />
  <Tabs />
</ContentType>