<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="8e3fbf5f-d0b8-49a4-9365-c6b3cda0b8b0" Alias="DT_Services" Level="2">
  <Info>
    <Name>Services</Name>
    <Icon>icon-server color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages+Lists</Folder>
    <Compositions>
      <Composition Key="2531df67-da8e-43f6-885f-5121f357e959">pageProperties</Composition>
    </Compositions>
    <DefaultTemplate>DT_Services</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0f318359-c478-4a78-93ee-9e1cc41311f1">DT_Services</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="0f09c673-d575-41ed-a555-028855ade0fe" SortOrder="0">DT_ServicesItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>