<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="203a5710-bca8-485f-840a-b43ff4a454ae" Alias="DT_Versions" Level="2">
  <Info>
    <Name>Versions</Name>
    <Icon>icon-files color-blue</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>True</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Pages+Lists</Folder>
    <Compositions>
      <Composition Key="2531df67-da8e-43f6-885f-5121f357e959">pageProperties</Composition>
    </Compositions>
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates>
      <Template Key="0abc018e-bcc6-40d3-a00e-79dafc53e2d9">DT_RedirectPage</Template>
    </AllowedTemplates>
  </Info>
  <Structure>
    <ContentType Key="2309e9da-efe0-4acb-afd8-487a8a88a443" SortOrder="0">DT_VersionsItem</ContentType>
  </Structure>
  <GenericProperties />
  <Tabs />
</ContentType>