<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="409ccf1f-a207-47a8-800e-5a18afca5fe3" Alias="footer" Level="2">
  <Info>
    <Name>Footer</Name>
    <Icon>icon-link color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>9b07d4d6-1a89-4d4a-9bb4-e8e174a4e5ca</Key>
      <Name>Footer Page Widgets</Name>
      <Alias>footerPageWidgets</Alias>
      <Definition>f170f8a9-84ab-4802-8e5a-aa894c209604</Definition>
      <Type>Umbraco.BlockGrid</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content/footer">Footer</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e8eb929f-fa62-4d87-89a8-8fba5ff8a06e</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>ea49de5f-dc70-43a6-a933-931807c69c5c</Key>
      <Caption>Footer</Caption>
      <Alias>content/footer</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>