<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="5d67e395-cc51-4b26-8c5c-4adc74e51f42" Alias="pageSEO" Level="2">
  <Info>
    <Name>Page SEO</Name>
    <Icon>icon-defrag color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>aadbc0e4-1aea-4465-b558-b4f00a6ddcea</Key>
      <Name>Canonical</Name>
      <Alias>Canonical</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Used in SEO, see: http://googlewebmastercentral.blogspot.com/2009/02/specify-your-canonical.html]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seO/seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>652b112a-3e56-465f-b678-a14dbc7c26e1</Key>
      <Name>Excluded Document Types</Name>
      <Alias>excludedDocumentTypes</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="seO/xmlSitemapSettings">XML Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>86d02dcc-ae12-4aa8-8f7c-ab19515310a4</Key>
      <Name>Facebook App ID</Name>
      <Alias>FBAppID</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[In order to use Facebook Insights you must add the app ID to your page. Insights lets you view analytics for traffic to your site from Facebook. Find the app ID in your App Dashboard.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="seO/facebookOpenGraphMetaTags">Facebook Open Graph Meta Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>fc8988da-5fab-41fe-966e-5d378e03911b</Key>
      <Name>Hide From Xml Sitemap</Name>
      <Alias>hideFromXmlSitemap</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[whether to show this page on the XML sitemap]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seO/xmlSitemapSettings">XML Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6039b6c6-764c-4cf3-9d68-1ca647f53017</Key>
      <Name>Menu Display Image</Name>
      <Alias>menuDisplayImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="seO/navigation">Navigation</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>566c1388-cdae-4fc6-89d6-0aabbdd5897f</Key>
      <Name>Menu Display Name</Name>
      <Alias>menuDisplayName</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seO/navigation">Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a8a014df-4559-4154-9659-c6ac7f93b1f1</Key>
      <Name>Author</Name>
      <Alias>metaAuthor</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The name of the page’s author.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="seO/seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>450cec4f-f1b5-412a-a517-0cbd8c6abb2d</Key>
      <Name>Meta Description</Name>
      <Alias>metaDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A brief description of the content on your page. This text is shown below the title in a google search result The ideal length is between 130 and 155 characters.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="seO/seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>5df31656-9aef-45ad-bb5e-8fc0deb66622</Key>
      <Name>Meta keywords</Name>
      <Alias>metaKeywords</Alias>
      <Definition>b6b73142-b9c1-4bf8-a16d-e1c23320b549</Definition>
      <Type>Umbraco.Tags</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Keywords that describe the content of the page. This is considered optional since most modern search engines don't use this anymore.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="seO/seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>bfe7b81e-351c-4388-b340-a30cccb6ddb0</Key>
      <Name>Meta Tag Block</Name>
      <Alias>metaTagBlock</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Can input any text what you want to render in the HTML HEAD. For example: 
<meta name="keywords" content="{Title}"><meta http-equiv="charset" content="{Charset}">]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="seO/seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d9116621-0f91-480d-8789-602a9dd208ff</Key>
      <Name>Description</Name>
      <Alias>OGDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A brief description of the content, usually between 2 and 4 sentences. This will displayed below the title of the post on Facebook.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="seO/facebookOpenGraphMetaTags">Facebook Open Graph Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0d41c37a-3ec3-4e6f-ba4b-6ea758c4e52a</Key>
      <Name>Image</Name>
      <Alias>OGImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The URL of the image that appears when someone shares the content to Facebook.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="seO/facebookOpenGraphMetaTags">Facebook Open Graph Meta Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7dd901e6-de63-43d4-bfdd-a3b7c1bd193c</Key>
      <Name>Locale</Name>
      <Alias>OGLocale</Alias>
      <Definition>f38f0ac7-1d27-439c-9f3f-089cd8825a53</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The locale of the resource. Defaults to en_US.]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="seO/facebookOpenGraphMetaTags">Facebook Open Graph Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>0cf2ed2d-5ec6-48f3-881a-71150c858dd3</Key>
      <Name>Title</Name>
      <Alias>OGTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of your article without any branding such as your site name.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seO/facebookOpenGraphMetaTags">Facebook Open Graph Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>59df6edd-a052-4bab-af2c-12ec77cd43bb</Key>
      <Name>Type</Name>
      <Alias>OGType</Alias>
      <Definition>f38f0ac7-1d27-439c-9f3f-089cd8825a53</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The type of media of your content. This tag impacts how your content shows up in News Feed. If you don't specify a type,the default is website. Each URL should be a single object, so multiple og:type values are not possible.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="seO/facebookOpenGraphMetaTags">Facebook Open Graph Meta Tags</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>a3b31355-e14b-41a3-85ee-6d2e59f95e1c</Key>
      <Name>URL</Name>
      <Alias>OGURL</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The canonical URL for your page. This should be the undecorated URL, without session variables, user identifying parameters, or counters. Likes and Shares for this URL will aggregate at this URL. For example, mobile domain URLs should point to the desktop version of the URL as the canonical URL to aggregate Likes and Shares across different versions of the page.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seO/facebookOpenGraphMetaTags">Facebook Open Graph Meta Tags</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>d84f214a-90ce-4900-96b9-8c0731c16850</Key>
      <Name>Page Title</Name>
      <Alias>pageTitle2</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The title of the page, this is also the first text in a google search result.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seO/seO">SEO</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>56372804-37a4-4b2a-a4cc-cba3a9007ad5</Key>
      <Name>Search Engine Change Frequency</Name>
      <Alias>searchEngineChangeFrequency</Alias>
      <Definition>f38f0ac7-1d27-439c-9f3f-089cd8825a53</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[How often will the content of this page change?]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seO/xmlSitemapSettings">XML Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>1b5d5018-d908-4e2d-805f-c17c1467d6a2</Key>
      <Name>Search Engine Relative Priority</Name>
      <Alias>searchEngineRelativePriority</Alias>
      <Definition>8f1ef1e1-9de4-40d3-a072-6673f631ca64</Definition>
      <Type>Umbraco.Label</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Indicate the relative priority of this page compared to the rest of the site]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="seO/xmlSitemapSettings">XML Sitemap Settings</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>35f30b54-2a65-49c0-b176-5ce5c0dca0aa</Key>
      <Name>Card Type</Name>
      <Alias>TwitterCardType</Alias>
      <Definition>f38f0ac7-1d27-439c-9f3f-089cd8825a53</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Select the twitter card type you need to use.]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seO/twitterCards">Twitter Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>6a9b6209-a8c5-4244-8b5e-65f1bddc3d61</Key>
      <Name>Description</Name>
      <Alias>TwitterDescription</Alias>
      <Definition>c6bac0dd-4ab9-45b1-8e30-e4b619ee5da3</Definition>
      <Type>Umbraco.TextArea</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A description that concisely summarizes the content as appropriate for presentation within a Tweet. You should not re-use the title as the description or use this field to describe the general services provided by the website.]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="seO/twitterCards">Twitter Cards</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>93a20399-6d29-4bb4-abd7-f3aee9d20ee6</Key>
      <Name>Image</Name>
      <Alias>TwitterImage</Alias>
      <Definition>ad9f0cf2-bda2-45d5-9ea1-a63cfc873fd3</Definition>
      <Type>Umbraco.MediaPicker3</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A URL to a unique image representing the content of the page. You should not use a generic image such as your website logo, author photo, or other image that spans multiple pages. Images for this Card support an aspect ratio of 2:1 with minimum dimensions of 300x157 or maximum of 4096x4096 pixels. Images must be less than 5MB in size. JPG, PNG, WEBP and GIF formats are supported. Only the first frame of an animated GIF will be used. SVG is not supported.]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="seO/twitterCards">Twitter Cards</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>2d27779d-4639-4347-8389-a79033a71ee1</Key>
      <Name>Image Alt</Name>
      <Alias>TwitterImageAlt</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A text description of the image conveying the essential nature of an image to users who are visually impaired. Maximum 420 characters.]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="seO/twitterCards">Twitter Cards</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>7ae19c18-219f-4de2-bc0a-48521247f0e6</Key>
      <Name>Site</Name>
      <Alias>TwitterSite</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[The Twitter @username the card should be attributed to.]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="seO/twitterCards">Twitter Cards</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e2e92338-09a7-43eb-991a-4259699f733c</Key>
      <Name>Title</Name>
      <Alias>TwitterTitle</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[A concise title for the related content.]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="seO/twitterCards">Twitter Cards</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>389c1ac3-6439-4e13-b279-27215b142d50</Key>
      <Name>Hide From Navigation</Name>
      <Alias>umbracoNaviHide77</Alias>
      <Definition>92897bc6-a5f3-4ffe-ae27-f2e7e33dda49</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[Hide From Navigation Main Menu]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="seO/navigation">Navigation</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>72a7d77c-9806-4cc9-a9a9-13422858bd76</Key>
      <Caption>Navigation</Caption>
      <Alias>seO/navigation</Alias>
      <Type>Group</Type>
      <SortOrder>2</SortOrder>
    </Tab>
    <Tab>
      <Key>794e0e16-2157-45a8-9137-46e67c346936</Key>
      <Caption>Facebook Open Graph Meta Tags</Caption>
      <Alias>seO/facebookOpenGraphMetaTags</Alias>
      <Type>Group</Type>
      <SortOrder>3</SortOrder>
    </Tab>
    <Tab>
      <Key>8ce9c8e3-0231-4644-b9b2-9c6fd688eaea</Key>
      <Caption>SEO</Caption>
      <Alias>seO/seO</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
    <Tab>
      <Key>9311d30f-8eae-45f0-b74d-e816dce4a27c</Key>
      <Caption>Twitter Cards</Caption>
      <Alias>seO/twitterCards</Alias>
      <Type>Group</Type>
      <SortOrder>4</SortOrder>
    </Tab>
    <Tab>
      <Key>b819e0b9-f9cd-492b-b2b9-37760dd99bc6</Key>
      <Caption>SEO</Caption>
      <Alias>seO</Alias>
      <Type>Tab</Type>
      <SortOrder>20</SortOrder>
    </Tab>
    <Tab>
      <Key>f810fa65-f5f1-4b4a-bb0e-11e96420b0fe</Key>
      <Caption>XML Sitemap Settings</Caption>
      <Alias>seO/xmlSitemapSettings</Alias>
      <Type>Group</Type>
      <SortOrder>-1</SortOrder>
    </Tab>
  </Tabs>
</ContentType>