<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="1f8a4639-e5ba-4083-a643-32d575eb8fef" Alias="pageChildrens" Level="2">
  <Info>
    <Name>Page Children's</Name>
    <Icon>icon-defrag</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Compositions</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>f7750573-2d3f-4b64-a604-d2635fe34655</Key>
      <Name>Children's</Name>
      <Alias>childrens</Alias>
      <Definition>c0808dd3-8133-4e4b-8ce8-e2bea84a96a4</Definition>
      <Type>Umbraco.ListView</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="children">Children</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>5c3e1df6-54c3-4b29-b436-f2a66921ad52</Key>
      <Caption>Children</Caption>
      <Alias>children</Alias>
      <Type>Tab</Type>
      <SortOrder>12</SortOrder>
    </Tab>
  </Tabs>
</ContentType>