<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="2f0234a0-7281-402e-b68b-f5be810192e9" Alias="Widget_ItemsFromSource" Level="2">
  <Info>
    <Name>Items From Source</Name>
    <Icon>icon-bulleted-list color-black</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Culture</Variations>
    <IsElement>true</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Widgets</Folder>
    <Compositions />
    <DefaultTemplate></DefaultTemplate>
    <AllowedTemplates />
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>371af88c-5f0b-4e0f-a1db-3ca6c2d4d3b0</Key>
      <Name>Details</Name>
      <Alias>details</Alias>
      <Definition>666e54de-6392-4245-89ea-c975e7ac6c4f</Definition>
      <Type>Umbraco.TinyMCE</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[leave it empty if there is not detils]]></Description>
      <SortOrder>2</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>e4da21f3-c506-49cf-bd5b-072cdb2a30db</Key>
      <Name>Hide Widget</Name>
      <Alias>hideWidget</Alias>
      <Definition>8aab75db-f074-4000-b273-eee5238f5a83</Definition>
      <Type>Umbraco.TrueFalse</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>6</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>38900e69-e6c0-48c9-9ebd-c6ea1326bdc3</Key>
      <Name>Max Records</Name>
      <Alias>maxRecords</Alias>
      <Definition>2e6d3631-066e-44b8-aec4-96f09099b2b5</Definition>
      <Type>Umbraco.Integer</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[set to 0 to get all records]]></Description>
      <SortOrder>4</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>b673a74e-25ac-4341-ab91-19bf9b4318d9</Key>
      <Name>Read more link</Name>
      <Alias>readMoreLink</Alias>
      <Definition>0da31371-cdf5-4468-89fa-14178eb07a6f</Definition>
      <Type>Umbraco.MultiUrlPicker</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[leave it empty if there is not link]]></Description>
      <SortOrder>5</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>dc7619b3-0eca-4be2-baa5-bdc069aa5bab</Key>
      <Name>Source Link</Name>
      <Alias>sourceLink</Alias>
      <Definition>50aed73e-73bd-454f-b26c-f86c1b115e60</Definition>
      <Type>Umbraco.MultiNodeTreePicker</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>3</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>23313746-6d82-4df0-9b0b-ec4d11b27dbd</Key>
      <Name>Source</Name>
      <Alias>sourceWidget</Alias>
      <Definition>156d79a3-34e1-4704-86df-23665dbd7673</Definition>
      <Type>Umbraco.DropDown.Flexible</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[select source data]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
    <GenericProperty>
      <Key>28f280dd-8b86-4ff8-90a4-85498f6cd872</Key>
      <Name>Title</Name>
      <Alias>title</Alias>
      <Definition>0cc0eba1-9960-42c9-bf9b-60e150b429ae</Definition>
      <Type>Umbraco.TextBox</Type>
      <Mandatory>true</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[leave it empty if there is not title]]></Description>
      <SortOrder>1</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Culture</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>e6293dc9-9825-4bf0-afb4-1bc9d0c278ae</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Group</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>