<?xml version="1.0" encoding="utf-8"?>
<ContentType Key="a6e417e9-bb90-4226-8310-1da956d3215b" Alias="widget_ListOfPublications" Level="2">
  <Info>
    <Name>List Of Publications</Name>
    <Icon>icon-document</Icon>
    <Thumbnail>folder.png</Thumbnail>
    <Description></Description>
    <AllowAtRoot>False</AllowAtRoot>
    <IsListView>False</IsListView>
    <Variations>Nothing</Variations>
    <IsElement>false</IsElement>
    <HistoryCleanup>
      <PreventCleanup>False</PreventCleanup>
      <KeepAllVersionsNewerThanDays></KeepAllVersionsNewerThanDays>
      <KeepLatestVersionPerDayForDays></KeepLatestVersionPerDayForDays>
    </HistoryCleanup>
    <Folder>Widgets</Folder>
    <Compositions />
    <DefaultTemplate>Widget_ListOfPublications</DefaultTemplate>
    <AllowedTemplates>
      <Template Key="e86e1748-2dc6-4a44-8893-959bf07b9f2f">Widget_ListOfPublications</Template>
    </AllowedTemplates>
  </Info>
  <Structure />
  <GenericProperties>
    <GenericProperty>
      <Key>3edb3eed-f726-4d68-af6b-54a8017366d9</Key>
      <Name>publications</Name>
      <Alias>publications</Alias>
      <Definition>3d4df81b-d6c3-4885-8715-1d8d685e019d</Definition>
      <Type>Umbraco.BlockList</Type>
      <Mandatory>false</Mandatory>
      <Validation></Validation>
      <Description><![CDATA[]]></Description>
      <SortOrder>0</SortOrder>
      <Tab Alias="content">Content</Tab>
      <Variations>Nothing</Variations>
      <MandatoryMessage></MandatoryMessage>
      <ValidationRegExpMessage></ValidationRegExpMessage>
      <LabelOnTop>false</LabelOnTop>
    </GenericProperty>
  </GenericProperties>
  <Tabs>
    <Tab>
      <Key>70fcaef0-c066-40d7-a9ae-8cebda8bf540</Key>
      <Caption>Content</Caption>
      <Alias>content</Alias>
      <Type>Tab</Type>
      <SortOrder>0</SortOrder>
    </Tab>
  </Tabs>
</ContentType>