@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage
@using Umbraco.Cms.Web.Common.PublishedModels;
@using ContentModels = Umbraco.Cms.Web.Common.PublishedModels;
@using Umbraco.Cms.Core.Routing
@using Umbraco.Extensions

@inject IPublishedValueFallback PublishedValueFallback
@inject IPublishedUrlProvider PublishedUrlProvider

@{
    var currentPage = Umbraco.AssignedContentItem;
    var rootPage = Umbraco.ContentAtRoot().FirstOrDefault(a => a.ContentType.Alias == Dt_HomePage.ModelTypeAlias); // Assuming the first node is the home page
    bool isHomePage = currentPage != null && currentPage.Id == rootPage?.Id;
    var ShowBreadcrumb = Model.Value<bool>(nameof(PageProperties.ShowBreadcrumb));
    bool IsArabic = true;
    string Lang_URL = "/";

    if (Model != null && Model.GetCultureFromDomains() != null && !string.IsNullOrEmpty(Model.GetCultureFromDomains()))
    {
        if (Model.GetCultureFromDomains().ToLower().Contains("en"))
        {
            IsArabic = false;
            Lang_URL = "/en";
        }
        else
        {
            IsArabic = true;
            Lang_URL = "/";
        }
    }

    var currentPage_title = Model.ToPageTitle();
    var currentPage_Description = Model?.Value(nameof(PageDescription.Description)).ToStringNull();

    // int index = 1;
    // var hideTitle = false;
}

@if (isHomePage is false && ShowBreadcrumb)
{
    var list = Model?.Ancestors<IPublishedContent>().Reverse();

    <div class="page-title-section border-bottom pb-5">
        <div class="breadcrumb-box">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                    @if (list?.Count() > 0)
                    {
                        foreach (var item in list)
                        {
                            var item_PageTitle = item.ToPageTitle();

                            var item_url = item.Url();

                            @if (currentPage?.Id == item.Id)
                            {
                                <li class="breadcrumb-item">
                                    @item_PageTitle
                                </li>
                            }
                            else
                            {
                                <li class="breadcrumb-item">
                                    <a href="@item_url">
                                        @item_PageTitle
                                    </a>
                                </li>
                            }
                          
                        }
                        <li class="breadcrumb-item active" aria-current="page">
                            @currentPage_title
                        </li>
                    }

                </ol>
            </nav>

        </div>
        <div class="d-flex justify-content-between align-items-center">
            <h2 class="font-bold"> @currentPage_title</h2>
            @*  <button class="bg-green text-white p-3 py-2 btn" type="button">
            بدء الخدمة
        </button> *@
        </div>
    </div>
}



