@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<object>

<div class="alert alert-warning NoRecords">
    @SharedHelper.GetDictionaryValue("NoRecords", Umbraco)
    @* @Umbraco.GetDictionaryValue("NoRecords") *@
</div>
