 @using Umbraco.Cms.Core.Models
@inherits Umbraco.Cms.Web.Common.Views.UmbracoViewPage<BlockGridItem>
@inject Umbraco.Cms.Core.Web.IUmbracoContextAccessor _contextAccessor

@{
    bool IsArabic = true;

    var widget = (Widget_ImportantLinks)Model.Content;
    var allItems = widget.Links; 

    var importantLinks = allItems?.Where(x => x.Content.Value<string>("category") == "ImportantLinks");
    var relatedLinks = allItems?.Where(x => x.Content.Value<string>("category") == "RelatedLinks");
    if (_contextAccessor.TryGetUmbracoContext(out var context))
    {
        var culture = context.PublishedRequest?.Culture?.ToLower() ?? "";
        if (culture.Contains("en"))
        {
            IsArabic = false;
        }
    }
}

<div class="bg-light py-5 importantLinks">
    <div class="px-0 px-xl-5">
        <div class="container-fluid">
            <div class="d-flex justify-content-between align-items-center gap-3 mb-3">
                <h3 class="font-bold"> @(IsArabic ? "روابط هامة" : "Important Links")</h3>
            </div>
        </div>
    </div>
    <div class="py-2">
        <div class="px-0 px-xl-5 ">
            <div class="container-fluid">
                <ul class="nav nav-underline" id="myTab" role="tablist">
                    <li class="nav-item" role="presentation">
                        <button class="nav-link active" id="tab1" data-bs-toggle="tab" data-bs-target="#tab1-pane" type="button" role="tab" aria-controls="tab1-pane" aria-selected="true">
                            @(IsArabic ? "روابط هامة" : "Important Links")
                        </button>
                    </li>
                    <li class="nav-item" role="presentation">
                        <button class="nav-link" id="tab2" data-bs-toggle="tab" data-bs-target="#tab2-pane" type="button" role="tab" aria-controls="tab2-pane" aria-selected="false">
                            @(IsArabic ? "جهات ذات علاقة" : "Related parties")
                        </button>
                    </li>

                </ul>

                <div class="tab-content" id="myTabContent">
                    <div class="tab-pane fade show active" id="tab1-pane" role="tabpanel" aria-labelledby="tab1" tabindex="0">
                        <div class="py-4">
                            <div class="owl-carousel owl-theme owl-importantlinks">
                                 @foreach (var item in importantLinks)
                                {
                                    var content = item.Content;

                                    var icon = content.Value<MediaWithCrops>("icon");
                                    var title = content.Value<string>("title");
                                    var url = content.Value<Link>("Link");
                                    var hide = content.Value<bool>("hide");
                                    var description = content.Value<string>("description");

                                    if (hide) { continue; }

                                    <div class="item">
                                        <div class="importantLinks-item border bg-white rounded-4 p-3 d-flex flex-column align-items-start">
                                            <div class="icon bg-green-50 rounded-circle d-flex align-items-center justify-content-center mb-4">
                                                <img src="@icon?.Url()" alt="pdf icon" width="20" height="22" />

                                            </div>
                                            <h5 class="mb-4 font-bold">
                                                <a href="@url?.Url">
                                                    @title
                                                </a>
                                            </h5>
                                            <p class="flex-grow-1 d-flex align-items-start" style="height:50px; overflow:hidden;">
                                                @description
                                            </p>
                                            <a href="@url?.Url" class="btn bg-white d-flex align-items-center gap-2 font-medium border text-black">
                                                <i class="bi bi-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="tab2-pane" role="tabpanel" aria-labelledby="tab2" tabindex="0">
                        <div class="py-4">
                            <div class="owl-carousel owl-theme owl-importantlinks">
                                @foreach (var item in relatedLinks)
                                {
                                    var content = item.Content;
                                    var icon = content.Value<MediaWithCrops>("icon");
                                    var title = content.Value<string>("title");
                                    var url = content.Value<Link>("link");
                                    var hide = content.Value<bool>("hide");
                                    var description = content.Value<string>("description");

                                    if (hide) { continue; }

                                    <div class="item">
                                        <div class="importantLinks-item border bg-white rounded-4 p-3 d-flex flex-column align-items-start">
                                            <div class="icon bg-green-50 rounded-circle d-flex align-items-center justify-content-center mb-4">
                                                <img src="@icon?.Url()" alt="pdf icon" width="20" height="22" />

                                            </div>
                                            <h5 class="mb-4 font-bold">
                                                <a href="@url?.Url">
                                                    @title
                                                </a>
                                            </h5>
                                            <p class="flex-grow-1 d-flex align-items-start" style="height:50px; overflow:hidden;">
                                                @description
                                            </p>
                                            <a href="@url?.Url" class="btn bg-white d-flex align-items-center gap-2 font-medium border text-black">
                                                <i class="bi bi-arrow-right"></i>
                                            </a>
                                        </div>
                                    </div>
                                }
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>