<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="d77b92ef-be4d-46cf-b35d-5ffe0ef45d0b" Alias="ImportantLinks" Level="1">
  <Info>
    <Parent>CMS</Parent>
  </Info>
  <Translations>
    <Translation Language="ar">روابط هامة</Translation>
    <Translation Language="en-US">Important Links</Translation>
  </Translations>
</Dictionary>