<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="2caa18ad-c263-4f82-b34a-7b5180302df7" Alias="Latest Updatated Date" Level="1">
  <Info>
    <Parent>Home</Parent>
  </Info>
  <Translations>
    <Translation Language="ar">تاريخ اخر تعديل:</Translation>
    <Translation Language="en-US">last edit date:</Translation>
  </Translations>
</Dictionary>