<?xml version="1.0" encoding="utf-8"?>
<Dictionary Key="cb87c78b-662c-45e5-8461-eada8e14bdee" Alias="Start_Service" Level="1">
  <Info>
    <Parent>Home</Parent>
  </Info>
  <Translations>
    <Translation Language="ar">ابدأ الخدمة</Translation>
    <Translation Language="en-US">Start the service</Translation>
  </Translations>
</Dictionary>