<?xml version="1.0" encoding="utf-8"?>
<Domain Key="5f785b64-0000-0000-0000-000000000000" Alias="/en">
  <Info>
    <IsWildcard>false</IsWildcard>
    <Language>en-US</Language>
    <Root Key="0f311b6b-5687-4b97-b224-c668f9306d37">/الهيئة العامة للتجارة الخارجية</Root>
    <SortOrder>1</SortOrder>
  </Info>
</Domain>