<?xml version="1.0" encoding="utf-8"?>
<DataType Key="aa98a490-1d95-42f2-8d47-1f6d23d6683c" Alias="About Us_Strategic Goal - Show in Home - Toggle" Level="1">
  <Info>
    <Name>About Us_Strategic Goal - Show in Home - Toggle</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": null,
  "LabelOn": null,
  "ShowLabels": false
}]]></Config>
</DataType>