<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c56882f6-01bc-4ec1-9213-90b1269ee9f8" Alias="Block List - Services" Level="3">
  <Info>
    <Name>Block List - Services</Name>
    <EditorAlias>Umbraco.BlockList</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Blocked+List</Folder>
  </Info>
  <Config><![CDATA[{
  "Blocks": [
    {
      "backgroundColor": null,
      "contentElementTypeKey": "2c1f5842-16e2-4a04-9a40-54569cf61e03",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "iconColor": null,
      "label": "{{title}}",
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "MaxPropertyWidth": null,
  "UseInlineEditingAsDefault": false,
  "UseLiveEditing": false,
  "UseSingleBlockMode": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>