<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f170f8a9-84ab-4802-8e5a-aa894c209604" Alias="Block Grid- Content" Level="3">
  <Info>
    <Name>Block Grid- Content</Name>
    <EditorAlias>Umbraco.BlockGrid</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
    <Folder>Custom/Blocked+Grid</Folder>
  </Info>
  <Config><![CDATA[{
  "BlockGroups": [
    {
      "key": "6056dd13-e0bf-4f6c-93d3-2da87760834f",
      "name": "Widgets"
    },
    {
      "key": "b9314554-b26f-4de0-9cc1-6931f22b459b",
      "name": "Footer"
    },
    {
      "key": "d32df9ca-6da4-44d7-a075-54e0686b410d",
      "name": "Demo Blocks"
    }
  ],
  "Blocks": [
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "035946d5-2b0b-40fb-aa0a-1a324b32e220",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "d32df9ca-6da4-44d7-a075-54e0686b410d",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Headline ({{headline | truncate:true:36}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoHeadlineBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "2fb2d33f-a06f-4647-9201-d1ad808c01d1",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "d32df9ca-6da4-44d7-a075-54e0686b410d",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Image",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoImageBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "5a1c2031-bef7-48a0-b182-5aa5f3a99c4c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "d32df9ca-6da4-44d7-a075-54e0686b410d",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Rich Text  ({{richText | ncRichText | truncate:true:36}})",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoRichTextBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": false,
      "areaGridColumns": null,
      "areas": [
        {
          "alias": "left",
          "columnSpan": 6,
          "createLabel": null,
          "key": "bceaf32b-dbdb-485e-b039-3096a114fd2d",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        },
        {
          "alias": "right",
          "columnSpan": 6,
          "createLabel": null,
          "key": "f2b1b33e-fbc3-4020-8a58-d594790ce962",
          "maxAllowed": null,
          "minAllowed": 0,
          "rowSpan": 1,
          "specifiedAllowance": []
        }
      ],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "52b6c347-732b-4370-8575-269447ff72d5",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "d32df9ca-6da4-44d7-a075-54e0686b410d",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Two Column Layout",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": "~/App_Plugins/Umbraco.BlockGridEditor.DefaultCustomViews/umbBlockGridDemoTwoColumnLayoutBlock.html"
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "bb07a215-4197-4e5d-8ebc-d77c8b0699ce",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "6056dd13-e0bf-4f6c-93d3-2da87760834f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Items from List - {{title}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "2f0234a0-7281-402e-b68b-f5be810192e9",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "6056dd13-e0bf-4f6c-93d3-2da87760834f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "Items from source - {{title}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "33c7c75c-6861-4fdb-9b25-977be1bed62d",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "6056dd13-e0bf-4f6c-93d3-2da87760834f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{title}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "9b53cc24-ce23-4df5-a968-72e69aa3c4ba",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "6056dd13-e0bf-4f6c-93d3-2da87760834f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{title}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "21a0dbab-b90f-4a5d-a52b-530ee1c7afb3",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "6056dd13-e0bf-4f6c-93d3-2da87760834f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{title}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "16073a46-be0f-4b95-a75e-41d17cb99fdd",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "6056dd13-e0bf-4f6c-93d3-2da87760834f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{title}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "d267ea9c-b36d-4551-89b9-d48e931c97e4",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "6056dd13-e0bf-4f6c-93d3-2da87760834f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{title}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "b46fe9da-a756-4990-9196-21a19acfc969",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "6056dd13-e0bf-4f6c-93d3-2da87760834f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{title}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "eed60584-73e5-4236-a2e6-6f6105241c2c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "6056dd13-e0bf-4f6c-93d3-2da87760834f",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{title}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "715f2167-a770-4550-a278-695a5fbf6f93",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b9314554-b26f-4de0-9cc1-6931f22b459b",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{title}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    },
    {
      "allowAtRoot": true,
      "allowInAreas": true,
      "areaGridColumns": null,
      "areas": [],
      "backgroundColor": null,
      "columnSpanOptions": [],
      "contentElementTypeKey": "6d243e1b-ce43-4f80-a383-699d56a4031c",
      "editorSize": "medium",
      "forceHideContentEditorInOverlay": false,
      "groupKey": "b9314554-b26f-4de0-9cc1-6931f22b459b",
      "iconColor": null,
      "inlineEditing": false,
      "label": "{{title}}",
      "rowMaxSpan": 1,
      "rowMinSpan": 1,
      "settingsElementTypeKey": null,
      "stylesheet": null,
      "thumbnail": null,
      "view": null
    }
  ],
  "CreateLabel": null,
  "GridColumns": null,
  "LayoutStylesheet": null,
  "MaxPropertyWidth": null,
  "UseLiveEditing": false,
  "ValidationLimit": {
    "max": null,
    "min": null
  }
}]]></Config>
</DataType>