<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8aab75db-f074-4000-b273-eee5238f5a83" Alias="Check Box (false)" Level="1">
  <Info>
    <Name>Check Box (false)</Name>
    <EditorAlias>Umbraco.TrueFalse</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Default": false,
  "LabelOff": "2",
  "LabelOn": "1",
  "ShowLabels": false
}]]></Config>
</DataType>