<?xml version="1.0" encoding="utf-8"?>
<DataType Key="fa37fe4f-bdbb-4204-a228-186e51c7c189" Alias="Date Picker with time (1)" Level="1">
  <Info>
    <Name>Date Picker with time (1)</Name>
    <EditorAlias>Umbraco.DateTime</EditorAlias>
    <DatabaseType>Date</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Format": "YYYY-MM-DD HH:mm:ss",
  "OffsetTime": false
}]]></Config>
</DataType>