<?xml version="1.0" encoding="utf-8"?>
<DataType Key="0d7782c8-3142-4b01-a01d-ba45691b9dd0" Alias="ImportantLink - Category - Dropdown" Level="1">
  <Info>
    <Name>ImportantLink - Category - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Services"
    },
    {
      "id": 2,
      "value": "ImportantLinks"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>