<?xml version="1.0" encoding="utf-8"?>
<DataType Key="8440c139-4405-487b-9959-7283c8cb093b" Alias="ImportantLink - Category - Dropdown (1)" Level="1">
  <Info>
    <Name>ImportantLink - Category - Dropdown (1)</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "ImportantLinks"
    },
    {
      "id": 2,
      "value": "RelatedLinks"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>