<?xml version="1.0" encoding="utf-8"?>
<DataType Key="156d79a3-34e1-4704-86df-23665dbd7673" Alias="Items From Source - Source - Dropdown" Level="1">
  <Info>
    <Name>Items From Source - Source - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "AboutUs_Goals"
    },
    {
      "id": 2,
      "value": "LandingPage"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>