<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f2cffb9d-a2c8-460c-adff-470e13424b56" Alias="Items From List - Template - Dropdown" Level="1">
  <Info>
    <Name>Items From List - Template - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [],
  "Multiple": false
}]]></Config>
</DataType>