<?xml version="1.0" encoding="utf-8"?>
<DataType Key="e8af9ae2-f1cd-459a-8725-3ba840c854cc" Alias="LinksCategories" Level="1">
  <Info>
    <Name>LinksCategories</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "ImportantLinks"
    },
    {
      "id": 2,
      "value": "RelatedLinks"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>