<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a67ada9d-56a9-4290-b341-b527286474c2" Alias="List of Links - Category - Dropdown" Level="1">
  <Info>
    <Name>List of Links - Category - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "Menu 1"
    },
    {
      "id": 2,
      "value": "Menu 2"
    },
    {
      "id": 3,
      "value": "Menu 3"
    },
    {
      "id": 4,
      "value": "Social Links Menu"
    },
    {
      "id": 5,
      "value": "Last Links"
    },
    {
      "id": 7,
      "value": "Copy Rights"
    },
    {
      "id": 6,
      "value": "Logos"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>