<?xml version="1.0" encoding="utf-8"?>
<DataType Key="c00c383f-a321-49cf-bbcf-b6b629481c75" Alias="List View - DT_Versions" Level="3">
  <Info>
    <Name>List View - DT_Versions</Name>
    <EditorAlias>Umbraco.ListView</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
    <Folder>Custom/List+View</Folder>
  </Info>
  <Config><![CDATA[{
  "BulkActionPermissions": {
    "allowBulkCopy": true,
    "allowBulkDelete": true,
    "allowBulkMove": true,
    "allowBulkPublish": true,
    "allowBulkUnpublish": true
  },
  "Icon": "icon-list",
  "IncludeProperties": [
    {
      "alias": "order",
      "header": "Sort",
      "isSystem": 0,
      "nameTemplate": null
    },
    {
      "alias": "owner",
      "header": "Created by",
      "isSystem": 1,
      "nameTemplate": null
    },
    {
      "alias": "updateDate",
      "header": "Last edited",
      "isSystem": 1,
      "nameTemplate": null
    }
  ],
  "Layouts": [
    {
      "icon": "icon-list",
      "isSystem": 1,
      "name": "List",
      "path": "views/propertyeditors/listview/layouts/list/list.html",
      "selected": true
    },
    {
      "icon": "icon-thumbnails-small",
      "isSystem": 1,
      "name": "Grid",
      "path": "views/propertyeditors/listview/layouts/grid/grid.html",
      "selected": true
    }
  ],
  "OrderBy": "order",
  "OrderDirection": "asc",
  "PageSize": 10,
  "ShowContentFirst": false,
  "TabName": null,
  "UseInfiniteEditor": false
}]]></Config>
</DataType>