<?xml version="1.0" encoding="utf-8"?>
<DataType Key="17e9428b-d1c6-4ffc-bafd-4e482bcc218f" Alias="Media Picker - Image" Level="1">
  <Info>
    <Name>Media Picker - Image</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>