<?xml version="1.0" encoding="utf-8"?>
<DataType Key="a180f7ff-b5bc-4e31-a98e-bd6caf88f5e6" Alias="Media Picker - Pdf" Level="1">
  <Info>
    <Name>Media Picker - Pdf</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "umbracoMediaArticle",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>