<?xml version="1.0" encoding="utf-8"?>
<DataType Key="cdcc89b3-c6e5-4fe0-a00c-5a001045a4c0" Alias="Media Picker - All" Level="1">
  <Info>
    <Name>Media Picker - All</Name>
    <EditorAlias>Umbraco.MediaPicker3</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Crops": [],
  "EnableLocalFocalPoint": false,
  "Filter": "Image,umbracoMediaVideo,File,umbracoMediaVectorGraphics",
  "IgnoreUserStartNodes": false,
  "Multiple": false,
  "StartNodeId": null,
  "ValidationLimit": {
    "max": 1,
    "min": null
  }
}]]></Config>
</DataType>