<?xml version="1.0" encoding="utf-8"?>
<DataType Key="50aed73e-73bd-454f-b26c-f86c1b115e60" Alias="Multinode Treepicker (one)" Level="1">
  <Info>
    <Name>Multinode Treepicker (one)</Name>
    <EditorAlias>Umbraco.MultiNodeTreePicker</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Filter": null,
  "IgnoreUserStartNodes": false,
  "MaxNumber": 1,
  "MinNumber": 0,
  "ShowOpen": false,
  "TreeSource": {
    "dynamicRoot": null,
    "id": "umb://document/0f311b6b56874b97b224c668f9306d37",
    "query": null,
    "type": "content"
  }
}]]></Config>
</DataType>