<?xml version="1.0" encoding="utf-8"?>
<DataType Key="f113e76f-56f9-4720-866f-5eae6e47e7ee" Alias="Number - Number - [Contentment] Number Input" Level="1">
  <Info>
    <Name>Number - Number - [Contentment] Number Input</Name>
    <EditorAlias>Umbraco.Community.Contentment.NumberInput</EditorAlias>
    <DatabaseType>Integer</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "size": "m"
}]]></Config>
</DataType>