<?xml version="1.0" encoding="utf-8"?>
<DataType Key="666e54de-6392-4245-89ea-c975e7ac6c4f" Alias="Rich Text Editor (minimum)" Level="1">
  <Info>
    <Name>Rich Text Editor (minimum)</Name>
    <EditorAlias>Umbraco.TinyMCE</EditorAlias>
    <DatabaseType>Ntext</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Blocks": [],
  "Editor": {
    "toolbar": [
      "ace",
      "removeformat",
      "undo",
      "redo",
      "cut",
      "copy",
      "paste",
      "styles",
      "bold",
      "italic",
      "underline",
      "strikethrough",
      "alignleft",
      "aligncenter",
      "alignright",
      "alignjustify",
      "bullist",
      "numlist",
      "outdent",
      "indent",
      "link",
      "unlink",
      "anchor",
      "umbmediapicker",
      "table",
      "umbembeddialog",
      "hr",
      "subscript",
      "superscript",
      "charmap",
      "rtl",
      "ltr"
    ],
    "stylesheets": [],
    "maxImageSize": 500,
    "mode": "classic"
  },
  "HideLabel": false,
  "IgnoreUserStartNodes": false,
  "MediaParentId": "umb://media/48ee850fab4a445e8076220d7e1189b3",
  "OverlaySize": "small",
  "UseLiveEditing": false
}]]></Config>
</DataType>