<?xml version="1.0" encoding="utf-8"?>
<DataType Key="1c1936f0-977e-485f-b674-a7ecf37a9dfd" Alias="Service Category - Color - Dropdown" Level="1">
  <Info>
    <Name>Service Category - Color - Dropdown</Name>
    <EditorAlias>Umbraco.DropDown.Flexible</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "Items": [
    {
      "id": 1,
      "value": "gray"
    },
    {
      "id": 2,
      "value": "blue"
    },
    {
      "id": 3,
      "value": "green"
    }
  ],
  "Multiple": false
}]]></Config>
</DataType>