<?xml version="1.0" encoding="utf-8"?>
<DataType Key="2e20200f-3efd-434e-b798-17636c236f8d" Alias="Services Item - Category - Content Picker" Level="1">
  <Info>
    <Name>Services Item - Category - Content Picker</Name>
    <EditorAlias>Umbraco.ContentPicker</EditorAlias>
    <DatabaseType>Nvarchar</DatabaseType>
  </Info>
  <Config><![CDATA[{
  "IgnoreUserStartNodes": false,
  "ShowOpenButton": false,
  "StartNodeId": "umb://document/0818153c914c44ba8e2e419bc6964f48"
}]]></Config>
</DataType>