@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
@import url("https://fonts.googleapis.com/css?family=IBM+Plex+Sans+Arabic:var(--text-xl-medium-font-weight),var(--text-xl-regular-font-weight),var(--display-md-medium-font-weight),var(--text-md-medium-font-weight),var(--display-lg-bold-font-weight),var(--display-md-regular-font-weight),600,var(--text-lg-medium-font-weight),var(--text-lg-regular-font-weight),var(--text-md-regular-font-weight),var(--text-sm-regular-font-weight),var(--display-xs-semibold-font-weight),var(--display-lg-semibold-font-weight),var(--text-sm-bold-font-weight),400,var(--text-xs-medium-font-weight),var(--text-lg-bold-font-weight),var(--text-sm-medium-font-weight),var(--text-sm-semibold-font-weight),var(--text-sm-regular-underlined-font-weight),var(--text-xs-regular-font-weight),var(--display-lg-medium-font-weight),500,700");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
