<?xml version="1.0" encoding="utf-8"?>
<Media Key="c3489afa-36d4-47c0-b7ef-045ee54c22a0" Alias="12 Sr" Level="6">
  <Info>
    <Parent Key="7bcf4ec4-15a6-4978-8481-784fba07a3be">Files</Parent>
    <Path>/NRRC/Content///Files/Sr</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:38</CreateDate>
    <NodeName Default="12 Sr" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0snerq4u/12-sr.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>