<?xml version="1.0" encoding="utf-8"?>
<Media Key="e48e1404-274e-4e82-af7f-f5179fc949bf" Alias="2030" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:02:59</CreateDate>
    <NodeName Default="2030" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/guki3zco/2030.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>