<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ee49faa-8c7f-47f1-a5b9-e66fea697c9d" Alias="404" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:03</CreateDate>
    <NodeName Default="404" />
    <SortOrder>37</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/toppiht5/404.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>