<?xml version="1.0" encoding="utf-8"?>
<Media Key="068dd23e-1561-4ab2-9eb3-a7092ecbc4f5" Alias="about" Level="2">
  <Info>
    <Parent Key="b2262c0c-0ead-4ec1-9d78-e1d81302418a">Gaft</Parent>
    <Path>/Gaft/about</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-23T20:18:40</CreateDate>
    <NodeName Default="about" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>