<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0198fe0-1aa6-4675-bed7-99cc7b787387" Alias="Accessability Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/AccessabilityIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:03</CreateDate>
    <NodeName Default="Accessability Icon" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0ghbtqfg/accessability-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>