<?xml version="1.0" encoding="utf-8"?>
<Media Key="628f7630-6304-4d7e-bcc6-96c0cacfa2e0" Alias="Analytics Up" Level="2">
  <Info>
    <Parent Key="068dd23e-1561-4ab2-9eb3-a7092ecbc4f5">about</Parent>
    <Path>/about/AnalyticsUp</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-23T20:18:56</CreateDate>
    <NodeName Default="Analytics Up" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/af1i4yqe/analytics-up.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>