<?xml version="1.0" encoding="utf-8"?>
<Media Key="34537d1e-a704-4729-883f-ce40d5f09cec" Alias="Angle Arrow Down Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/AngleArrowDownIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:04</CreateDate>
    <NodeName Default="Angle Arrow Down Icon" />
    <SortOrder>40</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/f34fgnae/angle-arrow-down-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>