<?xml version="1.0" encoding="utf-8"?>
<Media Key="47cba5d9-a2ad-498d-a001-83cd616f62df" Alias="Annual Report2020" Level="6">
  <Info>
    <Parent Key="17557184-09ef-4d19-988b-2fc18fbf10d2">Files</Parent>
    <Path>/NRRC/Pages///Files/AnnualReport2020</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-13T02:36:53</CreateDate>
    <NodeName Default="Annual Report2020" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/44snwr3n/annual-report2020.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>