<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f0e2cdb-cfdc-4f08-b4e6-453783a36858" Alias="AR Regulatory On Radiation Uses In The Kingdom" Level="3">
  <Info>
    <Parent Key="9d7afe46-0f02-4fd6-b424-b9acb7395da6">Videos</Parent>
    <Path>/Gaft/Videos/ARRegulatoryOnRadiationUsesInTheKingdom</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVideo</ContentType>
    <CreateDate>2025-05-26T20:31:36</CreateDate>
    <NodeName Default="AR Regulatory On Radiation Uses In The Kingdom" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4mwa2t42/ar_regulatory-on-radiation-uses-in-the-kingdom.mp4]]></Value>
    </umbracoFile>
  </Properties>
</Media>