<?xml version="1.0" encoding="utf-8"?>
<Media Key="f87107aa-7f50-4e1e-b3ea-b6f87f35c81f" Alias="Ar" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Ar</Path>
    <Trashed Parent="dce59ff6-b254-4a88-a25d-4e5b49c1e5dc">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-10T19:32:48</CreateDate>
    <NodeName Default="Ar" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties />
</Media>