<?xml version="1.0" encoding="utf-8"?>
<Media Key="6043df08-6473-4655-a2b0-681001ce3275" Alias="Arrowswiperright (1)" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Arrowswiperright1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-19T12:19:22</CreateDate>
    <NodeName Default="Arrowswiperright (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/b1pfgydt/arrowswiperright.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>