<?xml version="1.0" encoding="utf-8"?>
<Media Key="c2327071-1ceb-42c0-92c3-8338070c4b4c" Alias="Arrowswiperleft" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Arrowswiperleft</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-19T12:19:22</CreateDate>
    <NodeName Default="Arrowswiperleft" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/o3ydfqxl/arrowswiperleft.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>