<?xml version="1.0" encoding="utf-8"?>
<Media Key="5ff91d07-f3de-448d-a26f-1e4949c118f7" Alias="Arrow Black Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/ArrowBlackIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:39</CreateDate>
    <NodeName Default="Arrow Black Icon" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/gyopsx44/arrow-black-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>