<?xml version="1.0" encoding="utf-8"?>
<Media Key="7195955e-37bf-453e-8d0b-785d437387d2" Alias="Arrowswiperright" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Arrowswiperright</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T12:19:22</CreateDate>
    <NodeName Default="Arrowswiperright" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n4kjk2n5/arrowswiperright.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>