<?xml version="1.0" encoding="utf-8"?>
<Media Key="d975b875-7ab4-4426-8c9a-6b09576e9a35" Alias="Arrow Left Black" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/ArrowLeftBlack</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:02:59</CreateDate>
    <NodeName Default="Arrow Left Black" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/is2hlwnu/arrow-left-black.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>