<?xml version="1.0" encoding="utf-8"?>
<Media Key="d61ca450-787f-46cf-a149-b8dff26b4772" Alias="Arrow Left" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/ArrowLeft</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:02:59</CreateDate>
    <NodeName Default="Arrow Left" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mgsbzvt5/arrow-left.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>