<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4c5d50b-9157-453e-991a-cf3d25413198" Alias="Arrow Black Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/ArrowBlackIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:04</CreateDate>
    <NodeName Default="Arrow Black Icon" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hlknl3cx/arrow-black-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>