<?xml version="1.0" encoding="utf-8"?>
<Media Key="1808be18-6a84-46f4-8046-6adb50c7c0ec" Alias="Arrow Dark Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/ArrowDarkIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:05</CreateDate>
    <NodeName Default="Arrow Dark Icon" />
    <SortOrder>42</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/fg5aqgee/arrow-dark-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>