<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f387a8d-6c72-4a97-a127-76896b844aa2" Alias="Bannerhome" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Bannerhome</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-19T12:19:23</CreateDate>
    <NodeName Default="Bannerhome" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[اتفاقية التجارة الحرة بين دول مجلس التعاون وجمهورية تركيا]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rn3dq51s/bannerhome.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>