<?xml version="1.0" encoding="utf-8"?>
<Media Key="993d7704-bece-46ed-9c2e-d5cadf979eea" Alias="Banner Img" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/BannerImg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-17T06:02:40</CreateDate>
    <NodeName Default="Banner Img" />
    <SortOrder>52</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/aj1d1goo/banner-img.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>