<?xml version="1.0" encoding="utf-8"?>
<Media Key="631b947c-0973-4778-8bcf-29958d2f33d6" Alias="Bord Of Directors Ar" Level="5">
  <Info>
    <Parent Key="e6005287-bd73-44ed-9c2a-5e7729601fc6">مجلس الإداره</Parent>
    <Path>/NRRC/Pages///BordOfDirectorsAr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T14:18:46</CreateDate>
    <NodeName Default="Bord Of Directors Ar" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/pkkbwy1t/bord-of-directors_ar.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>