<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3ac87b2-9fe8-4d10-ba85-5290837db27b" Alias="Bord Of Directors Ar" Level="5">
  <Info>
    <Parent Key="e6005287-bd73-44ed-9c2a-5e7729601fc6">مجلس الإداره</Parent>
    <Path>/NRRC/Content///BordOfDirectorsAr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:05</CreateDate>
    <NodeName Default="Bord Of Directors Ar" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wsdlzm5i/bord-of-directors_ar.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>