<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c9cd8f6-21e4-4d08-966a-a0dbaa868004" Alias="Bord Of Directors En" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/BordOfDirectorsEn</Path>
    <Trashed Parent="e6005287-bd73-44ed-9c2a-5e7729601fc6">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:05</CreateDate>
    <NodeName Default="Bord Of Directors En" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4dmjylhe/bord-of-directors_en.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>