<?xml version="1.0" encoding="utf-8"?>
<Media Key="8788afa4-65b6-4f8b-9a31-90199fd14333" Alias="Briefcase 06" Level="2">
  <Info>
    <Parent Key="068dd23e-1561-4ab2-9eb3-a7092ecbc4f5">about</Parent>
    <Path>/about/Briefcase06</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-23T20:19:04</CreateDate>
    <NodeName Default="Briefcase 06" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/swxjrb3w/briefcase-06.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>