<?xml version="1.0" encoding="utf-8"?>
<Media Key="6a567b51-23ef-4788-ab8a-194a816e13b1" Alias="Calendar Dark Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/CalendarDarkIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:40</CreateDate>
    <NodeName Default="Calendar Dark Icon" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mb3fm0xp/calendar-dark-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>