<?xml version="1.0" encoding="utf-8"?>
<Media Key="e134c5b9-40ae-475d-a0d0-31bfe717d0d9" Alias="Calendar Dark Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/CalendarDarkIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:05</CreateDate>
    <NodeName Default="Calendar Dark Icon" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/rdcdjyno/calendar-dark-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>