<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7cb702a-96c2-4d01-8b31-b7ce90f144f7" Alias="Chaticon" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/Chaticon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:02:59</CreateDate>
    <NodeName Default="Chaticon" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/dnymxz4c/chaticon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>