<?xml version="1.0" encoding="utf-8"?>
<Media Key="c47b9e6e-e969-4c3a-86e6-f3d40c609450" Alias="Check Circle Green Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/CheckCircleGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:40</CreateDate>
    <NodeName Default="Check Circle Green Icon" />
    <SortOrder>54</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/l4phxrdj/check-circle-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>