<?xml version="1.0" encoding="utf-8"?>
<Media Key="e735c48a-7caa-482c-b26f-ecd25d6c98f7" Alias="Check Circle Green Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/CheckCircleGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:06</CreateDate>
    <NodeName Default="Check Circle Green Icon" />
    <SortOrder>45</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xpcdlz3k/check-circle-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>