<?xml version="1.0" encoding="utf-8"?>
<Media Key="66f6b71e-974f-4ae7-8820-8d0eeee194e3" Alias="Checkmark Square 02" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/CheckmarkSquare02</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:02:59</CreateDate>
    <NodeName Default="Checkmark Square 02" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f41pmzsp/checkmark-square-02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>