<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0de79af-ff82-435a-bb7f-867457712167" Alias="Circle Arrow Right 01" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/CircleArrowRight01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:01</CreateDate>
    <NodeName Default="Circle Arrow Right 01" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tz2n3qec/circle-arrow-right-01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>