<?xml version="1.0" encoding="utf-8"?>
<Media Key="c6878f8c-76b1-4afa-b6ce-11c7d8401a74" Alias="City 02" Level="2">
  <Info>
    <Parent Key="068dd23e-1561-4ab2-9eb3-a7092ecbc4f5">about</Parent>
    <Path>/about/City02</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-23T20:19:04</CreateDate>
    <NodeName Default="City 02" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xwhjprvr/city-02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>