<?xml version="1.0" encoding="utf-8"?>
<Media Key="710913ea-94b6-4e3e-b109-a74a51ff9d1d" Alias="Clock Green Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/ClockGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:06</CreateDate>
    <NodeName Default="Clock Green Icon" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1mjbs2nw/clock-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>