<?xml version="1.0" encoding="utf-8"?>
<Media Key="3606b9f0-2b33-4064-8f74-87e765d47d41" Alias="Closesearch" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/Closesearch</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:01</CreateDate>
    <NodeName Default="Closesearch" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yg2bmnrt/closesearch.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>