<?xml version="1.0" encoding="utf-8"?>
<Media Key="90ac927b-662d-4665-b5c2-11fff4284e22" Alias="Close Dark Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/CloseDarkIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:06</CreateDate>
    <NodeName Default="Close Dark Icon" />
    <SortOrder>47</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/jkjkzebn/close-dark-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>