<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e0142aa-d56d-4411-a028-65d3777d3244" Alias="Contactus Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/ContactusIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:06</CreateDate>
    <NodeName Default="Contactus Icon" />
    <SortOrder>48</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/tnbacptn/contactus-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>