<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ecaa789-ecbb-4c25-86ca-64a76b6623c9" Alias="Contact White Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/ContactWhiteIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:07</CreateDate>
    <NodeName Default="Contact White Icon" />
    <SortOrder>49</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xctnutv1/contact-white-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>