<?xml version="1.0" encoding="utf-8"?>
<Media Key="1ff63db5-4e01-44da-be80-acd2f6eb09c5" Alias="Contact 02" Level="2">
  <Info>
    <Parent Key="068dd23e-1561-4ab2-9eb3-a7092ecbc4f5">about</Parent>
    <Path>/about/Contact02</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-23T20:19:03</CreateDate>
    <NodeName Default="Contact 02" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qq4pmhyb/contact-02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>