<?xml version="1.0" encoding="utf-8"?>
<Media Key="48ee850f-ab4a-445e-8076-220d7e1189b3" Alias="Content" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Content</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-17T03:39:13</CreateDate>
    <NodeName Default="Content" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>