<?xml version="1.0" encoding="utf-8"?>
<Media Key="b814d151-505e-4a62-810b-1f808cdf51e5" Alias="Dateblackicon" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/Dateblackicon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:02:46</CreateDate>
    <NodeName Default="Dateblackicon" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/mdibjoc4/dateblackicon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>