<?xml version="1.0" encoding="utf-8"?>
<Media Key="b0cd8735-ea23-41c1-8145-be6890440db3" Alias="Device Green Con" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/DeviceGreenCon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:07</CreateDate>
    <NodeName Default="Device Green Con" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/asdn1mbd/device-green-con.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>