<?xml version="1.0" encoding="utf-8"?>
<Media Key="97f9b8b5-55ef-4e5a-88d8-325bbe150f73" Alias="DGA Logo" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/DGALogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-30T17:00:08</CreateDate>
    <NodeName Default="DGA Logo" />
    <SortOrder>51</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/wo2ptf5p/dga-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>