<?xml version="1.0" encoding="utf-8"?>
<Media Key="429ca2f7-3ab9-4247-a098-ba62147c2962" Alias="DGA Logo" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/DGALogo</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-17T06:02:05</CreateDate>
    <NodeName Default="DGA Logo" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4grjyqvz/dga-logo.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>