<?xml version="1.0" encoding="utf-8"?>
<Media Key="a701051a-9c07-4529-9e4b-9fc071eafaa0" Alias="Dgaimg" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/Dgaimg</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-19T15:03:02</CreateDate>
    <NodeName Default="Dgaimg" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/dqcbdjyh/dgaimg.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>