<?xml version="1.0" encoding="utf-8"?>
<Media Key="a4210d83-07bb-4bce-93e7-f8c9fd9ba1ac" Alias="Dollar" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Dollar</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T12:19:22</CreateDate>
    <NodeName Default="Dollar" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wigddjf1/dollar.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>