<?xml version="1.0" encoding="utf-8"?>
<Media Key="3b31d3e3-f92e-49d5-a830-f512ef03e9a2" Alias="Earth" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/Earth</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:02</CreateDate>
    <NodeName Default="Earth" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/0ljdcozo/earth.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>