<?xml version="1.0" encoding="utf-8"?>
<Media Key="dd98a937-ec0c-4027-8917-b91cfb525f7d" Alias="Envelope Green Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/EnvelopeGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:08</CreateDate>
    <NodeName Default="Envelope Green Icon" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/a0ujrxim/envelope-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>