<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1c5f71b-e4bd-4630-bbff-2d063f9aa69a" Alias="Envelope Green Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Content</Parent>
    <Path>/Content/EnvelopeGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:01:19</CreateDate>
    <NodeName Default="Envelope Green Icon" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/fl1nlun3/envelope-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>