<?xml version="1.0" encoding="utf-8"?>
<Media Key="03c5ca5f-4950-47fa-ab0d-4e7f66cce35c" Alias="Exchange 03" Level="2">
  <Info>
    <Parent Key="068dd23e-1561-4ab2-9eb3-a7092ecbc4f5">about</Parent>
    <Path>/about/Exchange03</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-23T20:19:04</CreateDate>
    <NodeName Default="Exchange 03" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/n1fmka0q/exchange-03.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>