<?xml version="1.0" encoding="utf-8"?>
<Media Key="0d71ad08-6e0c-43a8-a7af-eed3daef3475" Alias="Favicon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/Favicon</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-05-30T17:00:08</CreateDate>
    <NodeName Default="Favicon" />
    <SortOrder>55</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ccwhcdim/favicon.ico]]></Value>
    </umbracoFile>
  </Properties>
</Media>