<?xml version="1.0" encoding="utf-8"?>
<Media Key="62555a2e-fa16-4db5-8d93-76086fe61f48" Alias="Favicon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/Favicon</Path>
    <Trashed>false</Trashed>
    <ContentType>File</ContentType>
    <CreateDate>2025-05-17T06:02:03</CreateDate>
    <NodeName Default="Favicon" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gznfkyqw/favicon.ico]]></Value>
    </umbracoFile>
  </Properties>
</Media>