<?xml version="1.0" encoding="utf-8"?>
<Media Key="d5a46b05-be58-4f15-b964-cae54ea248e3" Alias="Files" Level="5">
  <Info>
    <Parent Key="d47290e3-d5d6-495d-a081-b0d7925043f2">اللوائح الفنية</Parent>
    <Path>/NRRC/Content///Files</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:22</CreateDate>
    <NodeName Default="Files" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>