<?xml version="1.0" encoding="utf-8"?>
<Media Key="7bcf4ec4-15a6-4978-8481-784fba07a3be" Alias="Files" Level="5">
  <Info>
    <Parent Key="e957b191-c836-4547-9a93-ae5785c0d983">اللوائح الفنية الخاصة</Parent>
    <Path>/NRRC/Content///Files</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:38</CreateDate>
    <NodeName Default="Files" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>