<?xml version="1.0" encoding="utf-8"?>
<Media Key="01ba10d6-5d47-4fda-be37-0bd889c07c46" Alias="Files" Level="5">
  <Info>
    <Parent Key="bb86c8cc-7a65-4fdf-b487-0544d1644ff2">الأنظمة النووية واللوائح التنفيذية</Parent>
    <Path>/NRRC/Content///Files</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:20</CreateDate>
    <NodeName Default="Files" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>