<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f1e6444-7f57-48a5-825f-2c98b2df4fa4" Alias="Files" Level="5">
  <Info>
    <Parent Key="a381554f-fb85-45ec-821f-62f786c7b83a">سياسات الهيئة</Parent>
    <Path>/NRRC/Pages///Files</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-13T00:22:37</CreateDate>
    <NodeName Default="Files" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>