<?xml version="1.0" encoding="utf-8"?>
<Media Key="17557184-09ef-4d19-988b-2fc18fbf10d2" Alias="Files" Level="5">
  <Info>
    <Parent Key="2cbafd51-a636-4cc0-bae1-febff0125495">التقرير السنوي</Parent>
    <Path>/NRRC/Pages///Files</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-13T02:36:52</CreateDate>
    <NodeName Default="Files" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>