<?xml version="1.0" encoding="utf-8"?>
<Media Key="f23f4c81-8b03-4749-8dbc-ecb936c3c749" Alias="Files" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Files</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-21T15:16:29</CreateDate>
    <NodeName Default="Files" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>