<?xml version="1.0" encoding="utf-8"?>
<Media Key="47de9515-9477-46a1-b1a3-0d0b84801bf4" Alias="Files" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Files</Path>
    <Trashed Parent="2cbafd51-a636-4cc0-bae1-febff0125495">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:13</CreateDate>
    <NodeName Default="Files" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties />
</Media>