<?xml version="1.0" encoding="utf-8"?>
<Media Key="b03955aa-3d50-405d-8d4d-6227f545869f" Alias="Files" Level="5">
  <Info>
    <Parent Key="afe79877-4dec-4fc9-bbab-9f822f1b1dff">الأدلة الإرشادية</Parent>
    <Path>/NRRC/Content///Files</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:14</CreateDate>
    <NodeName Default="Files" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>