<?xml version="1.0" encoding="utf-8"?>
<Media Key="b21b8051-acef-40ea-a0cd-99cc93fcb68d" Alias="Final Annual Report 2021" Level="102">
  <Info>
    <Parent Key="47de9515-9477-46a1-b1a3-0d0b84801bf4">Files</Parent>
    <Path>/[-21]/Files/FinalAnnualReport2021</Path>
    <Trashed Parent="47de9515-9477-46a1-b1a3-0d0b84801bf4">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:13</CreateDate>
    <NodeName Default="Final Annual Report 2021" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/p4abxmxp/final-annual-report-2021.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>