<?xml version="1.0" encoding="utf-8"?>
<Media Key="d48db46a-b43d-4e87-ad80-00d5da33191e" Alias="Final Annual Report 2021" Level="6">
  <Info>
    <Parent Key="17557184-09ef-4d19-988b-2fc18fbf10d2">Files</Parent>
    <Path>/NRRC/Pages///Files/FinalAnnualReport2021</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-13T02:36:54</CreateDate>
    <NodeName Default="Final Annual Report 2021" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/is0i1vb3/final-annual-report-2021.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>