<?xml version="1.0" encoding="utf-8"?>
<Media Key="ba6b46d3-2cdf-44f7-a680-b75b35d10569" Alias="Foundations And Rules" Level="6">
  <Info>
    <Parent Key="8f1e6444-7f57-48a5-825f-2c98b2df4fa4">Files</Parent>
    <Path>/NRRC/Pages///Files/FoundationsAndRules</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-13T00:22:37</CreateDate>
    <NodeName Default="Foundations And Rules" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5vdgxow5/foundations_and_rules.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>