<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2262c0c-0ead-4ec1-9d78-e1d81302418a" Alias="Gaft" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Gaft</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-05-17T05:57:33</CreateDate>
    <NodeName Default="Gaft" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>