<?xml version="1.0" encoding="utf-8"?>
<Media Key="0207037f-64bc-4a14-b195-8ae4f6181bdd" Alias="Gaftlogo" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/Gaftlogo</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:02</CreateDate>
    <NodeName Default="Gaftlogo" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/jybboav2/gaftlogo.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>