<?xml version="1.0" encoding="utf-8"?>
<Media Key="1058284f-a433-44b2-93d1-cf38f9e2c9c5" Alias="Gov Identifier" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/GovIdentifier</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:03</CreateDate>
    <NodeName Default="Gov Identifier" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pyufqebt/gov-identifier.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>