<?xml version="1.0" encoding="utf-8"?>
<Media Key="b80f1b96-f22d-45d1-a843-4b1bdfee64ef" Alias="Hierarchy Square 02" Level="2">
  <Info>
    <Parent Key="068dd23e-1561-4ab2-9eb3-a7092ecbc4f5">about</Parent>
    <Path>/about/HierarchySquare02</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-23T20:19:04</CreateDate>
    <NodeName Default="Hierarchy Square 02" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/u2nb5obn/hierarchy-square-02.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>