<?xml version="1.0" encoding="utf-8"?>
<Media Key="15857eaa-62f2-4f54-9a35-fe98628af0fc" Alias="Home Page" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/HomePage</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-17T03:39:30</CreateDate>
    <NodeName Default="Home Page" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>