<?xml version="1.0" encoding="utf-8"?>
<Media Key="fc6d5ab2-cd1b-419c-9cb1-c176be1dd9c6" Alias="Icon 18" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/Icon18</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:03</CreateDate>
    <NodeName Default="Icon 18" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qnng15a1/icon-18.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>