<?xml version="1.0" encoding="utf-8"?>
<Media Key="b8c12793-0b26-404c-839e-18a212a68d71" Alias="Image" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/Image</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-19T15:03:03</CreateDate>
    <NodeName Default="Image" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sutndobg/image.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>