<?xml version="1.0" encoding="utf-8"?>
<Media Key="d03ac57c-d50b-4247-862e-3f18673929da" Alias="Info Red Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/InfoRedIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:09</CreateDate>
    <NodeName Default="Info Red Icon" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/jxcdvual/info-red-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>