<?xml version="1.0" encoding="utf-8"?>
<Media Key="45517783-6dd9-4a2a-84fb-dc89d756c927" Alias="Information Circle 1" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/InformationCircle1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:04</CreateDate>
    <NodeName Default="Information Circle 1" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wj1fcroz/information-circle-1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>