<?xml version="1.0" encoding="utf-8"?>
<Media Key="04de61ab-4a70-4662-8f8b-8d73271e69ca" Alias="Info Red Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/InfoRedIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:05</CreateDate>
    <NodeName Default="Info Red Icon" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/tjqn2bdq/info-red-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>