<?xml version="1.0" encoding="utf-8"?>
<Media Key="3e7d67f5-3d55-4855-aab8-afc97808d16f" Alias="Information Diamond" Level="2">
  <Info>
    <Parent Key="068dd23e-1561-4ab2-9eb3-a7092ecbc4f5">about</Parent>
    <Path>/about/InformationDiamond</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-23T20:19:04</CreateDate>
    <NodeName Default="Information Diamond" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/yrth0psv/information-diamond.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>