<?xml version="1.0" encoding="utf-8"?>
<Media Key="0cf96dc3-f4a0-4d6c-ae92-070cbf52959f" Alias="Insta White Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/InstaWhiteIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:09</CreateDate>
    <NodeName Default="Insta White Icon" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/4jwpsdfa/insta-white-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>