<?xml version="1.0" encoding="utf-8"?>
<Media Key="4e68aae9-a4a1-4158-b883-57bfded83cfb" Alias="Jopom" Level="5">
  <Info>
    <Parent Key="30d90c90-035d-40a3-a0cb-b47c4e314126">الإطار القانوني</Parent>
    <Path>/NRRC/Content///Jopom</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:08</CreateDate>
    <NodeName Default="Jopom" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/34vgqtvb/jopom.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>