<?xml version="1.0" encoding="utf-8"?>
<Media Key="71b57955-3d6f-4636-8267-3d7fa15a180e" Alias="Ksa Flag" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/KsaFlag</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:05</CreateDate>
    <NodeName Default="Ksa Flag" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/mr2lk2lp/ksa-flag.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>