<?xml version="1.0" encoding="utf-8"?>
<Media Key="8a94762b-333d-4499-a68d-fdae5b2c15c5" Alias="Law Of Combating Crimes Of Terrorism And Its Financing" Level="6">
  <Info>
    <Parent Key="01ba10d6-5d47-4fda-be37-0bd889c07c46">Files</Parent>
    <Path>/NRRC/Content///Files/LawOfCombatingCrimesOfTerrorismAndItsFinancing</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:20</CreateDate>
    <NodeName Default="Law Of Combating Crimes Of Terrorism And Its Financing" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/av1jjcr3/law-of-combating-crimes-of-terrorism-and-its-financing.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>