<?xml version="1.0" encoding="utf-8"?>
<Media Key="9a213fa0-737f-4e11-a1db-b16076a375a4" Alias="Law Of Nuclear And Radiological Control" Level="6">
  <Info>
    <Parent Key="01ba10d6-5d47-4fda-be37-0bd889c07c46">Files</Parent>
    <Path>/NRRC/Content///Files/LawOfNuclearAndRadiologicalControl</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:20</CreateDate>
    <NodeName Default="Law Of Nuclear And Radiological Control" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ry5ddgt5/law-of-nuclear-and-radiological-control.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>