<?xml version="1.0" encoding="utf-8"?>
<Media Key="e20f06c0-361c-4e9d-ae0d-9ffc0bf102e5" Alias="Leading Icon 52" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/LeadingIcon52</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:05</CreateDate>
    <NodeName Default="Leading Icon 52" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4eda5yq2/leading-icon-52.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>