<?xml version="1.0" encoding="utf-8"?>
<Media Key="e9a92b14-be25-4db7-bb31-6d7213b3cc49" Alias="Legal Framework Ar" Level="5">
  <Info>
    <Parent Key="30d90c90-035d-40a3-a0cb-b47c4e314126">الإطار القانوني</Parent>
    <Path>/NRRC/Content///LegalFrameworkAr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:09</CreateDate>
    <NodeName Default="Legal Framework Ar" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/civlt0jf/legal-framework_ar.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>