<?xml version="1.0" encoding="utf-8"?>
<Media Key="1720a9e0-6461-4669-9ee9-155d3f556fb2" Alias="Link Green Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/LinkGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:06</CreateDate>
    <NodeName Default="Link Green Icon" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0gudaf1b/link-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>