<?xml version="1.0" encoding="utf-8"?>
<Media Key="d1d6cdd0-dd47-4875-b308-7717f1c20ec2" Alias="Link Green Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/LinkGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:09</CreateDate>
    <NodeName Default="Link Green Icon" />
    <SortOrder>60</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2hgnnukh/link-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>