<?xml version="1.0" encoding="utf-8"?>
<Media Key="189e6603-a08e-4601-9f64-4ae273df5aef" Alias="Linkout Green Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/LinkoutGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:10</CreateDate>
    <NodeName Default="Linkout Green Icon" />
    <SortOrder>62</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/gjtj2geo/linkout-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>