<?xml version="1.0" encoding="utf-8"?>
<Media Key="b3ddfde4-78b8-4c28-9fec-de681ffa25b8" Alias="Linkout Green Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/LinkoutGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:06</CreateDate>
    <NodeName Default="Linkout Green Icon" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0x4n1m3y/linkout-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>