<?xml version="1.0" encoding="utf-8"?>
<Media Key="b9682904-4615-49e2-8e3f-e9ffa1ed2ce5" Alias="Link White Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/LinkWhiteIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:10</CreateDate>
    <NodeName Default="Link White Icon" />
    <SortOrder>63</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/guuhroiv/link-white-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>