<?xml version="1.0" encoding="utf-8"?>
<Media Key="ebe3222e-1f98-4a3b-a039-118a73f169ed" Alias="Link Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/LinkIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:10</CreateDate>
    <NodeName Default="Link Icon" />
    <SortOrder>61</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/d2roh02y/link-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>