<?xml version="1.0" encoding="utf-8"?>
<Media Key="74c585e0-281a-450d-bf88-52de36261c67" Alias="Lock Green Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/LockGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:10</CreateDate>
    <NodeName Default="Lock Green Icon" />
    <SortOrder>64</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0gcnk3a0/lock-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>