<?xml version="1.0" encoding="utf-8"?>
<Media Key="a80ec93c-f86d-4117-9fd9-0eed68b173d8" Alias="Logo Nrrc White" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/LogoNrrcWhite</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-30T17:00:11</CreateDate>
    <NodeName Default="Logo Nrrc White" />
    <SortOrder>68</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/hleb3kdn/logo_nrrc-white.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>