<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e0f4d74-201e-4403-aa24-846704f6ebf1" Alias="Logo Nrrc (1)" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/LogoNrrc1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:11</CreateDate>
    <NodeName Default="Logo Nrrc (1)" />
    <SortOrder>67</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/ivgb4lq4/logo_nrrc.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>