<?xml version="1.0" encoding="utf-8"?>
<Media Key="2e4f886b-3e64-42f7-bdab-3dfd395d3273" Alias="Logo White Nrrc" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/LogoWhiteNrrc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-17T06:02:08</CreateDate>
    <NodeName Default="Logo White Nrrc" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nwee4lte/logo_white_nrrc.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>