<?xml version="1.0" encoding="utf-8"?>
<Media Key="04776c98-08b0-4629-9928-71ef7e7d2914" Alias="Logo 2030" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/Logo2030</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:10</CreateDate>
    <NodeName Default="Logo 2030" />
    <SortOrder>65</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vfwhobfq/logo_2030.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>