<?xml version="1.0" encoding="utf-8"?>
<Media Key="625e9a56-a4ee-45bc-9f4f-eaafc532b72e" Alias="Logo Nrrc" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/LogoNrrc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-17T06:02:07</CreateDate>
    <NodeName Default="Logo Nrrc" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/kcnf2yxo/logo_nrrc.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>