<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ee0bdf4-9857-4879-b21a-538f2e482539" Alias="Logos" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/Logos</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-19T15:03:06</CreateDate>
    <NodeName Default="Logos" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4k4patsx/logos.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>