<?xml version="1.0" encoding="utf-8"?>
<Media Key="0e52e226-20e8-47e8-aab6-147ffd9aeb83" Alias="Logo White Nrrc" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/LogoWhiteNrrc</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-30T17:00:11</CreateDate>
    <NodeName Default="Logo White Nrrc" />
    <SortOrder>69</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/edrfedxi/logo_white_nrrc.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>