<?xml version="1.0" encoding="utf-8"?>
<Media Key="bc5e07c5-b323-4285-80c3-cc22f9e07ff8" Alias="Logo Nrrc (1)" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/LogoNrrc1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:07</CreateDate>
    <NodeName Default="Logo Nrrc (1)" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/4qdf3pbd/logo_nrrc.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>