<?xml version="1.0" encoding="utf-8"?>
<Media Key="3dc96ceb-0bc8-43e1-8865-6df6a3cae9a5" Alias="Mail Open Love" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/MailOpenLove</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:06</CreateDate>
    <NodeName Default="Mail Open Love" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1jwmspoi/mail-open-love.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>