<?xml version="1.0" encoding="utf-8"?>
<Media Key="70735c98-9bb5-40c8-b5d3-d8108a8b59e9" Alias="Masradsep2024" Level="6">
  <Info>
    <Parent Key="62f57fee-c604-4a28-933e-94df99469cf5">Files</Parent>
    <Path>/NRRC/Content///Files/Masradsep2024</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:14</CreateDate>
    <NodeName Default="Masradsep2024" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wzohg2fv/masradsep2024.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>