<?xml version="1.0" encoding="utf-8"?>
<Media Key="b5748e0d-f7e5-4ab1-b5cd-4adbcc86d41e" Alias="Money Green Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/MoneyGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:11</CreateDate>
    <NodeName Default="Money Green Icon" />
    <SortOrder>70</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hshhjnpf/money-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>