<?xml version="1.0" encoding="utf-8"?>
<Media Key="9aebbcc3-4f43-4205-a8a0-3b046d5a3d6c" Alias="Msg" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/Msg</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:07</CreateDate>
    <NodeName Default="Msg" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4k4oxgsd/msg.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>