<?xml version="1.0" encoding="utf-8"?>
<Media Key="73a14026-dd54-4470-926e-85ae4d6fd8e4" Alias="Nationalpolicy En" Level="5">
  <Info>
    <Parent Key="1b0807d1-b73b-499a-bb0f-4f53c4839957">السياسات الوطنية</Parent>
    <Path>/NRRC/Pages///NationalpolicyEn</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-12T15:04:07</CreateDate>
    <NodeName Default="Nationalpolicy En" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bbakc20u/nationalpolicy_en.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>