<?xml version="1.0" encoding="utf-8"?>
<Media Key="831390bb-ef8d-4986-a455-7f96613ada72" Alias="Nationalpolicy Ar" Level="5">
  <Info>
    <Parent Key="1b0807d1-b73b-499a-bb0f-4f53c4839957">السياسات الوطنية</Parent>
    <Path>/NRRC/Pages///NationalpolicyAr</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-12T15:04:07</CreateDate>
    <NodeName Default="Nationalpolicy Ar" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/swibha2n/nationalpolicy_ar.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>