<?xml version="1.0" encoding="utf-8"?>
<Media Key="7f19dd1a-e48c-4936-8c34-d976c9cd6f7a" Alias="News 01" Level="2">
  <Info>
    <Parent Key="068dd23e-1561-4ab2-9eb3-a7092ecbc4f5">about</Parent>
    <Path>/about/News01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-23T20:18:58</CreateDate>
    <NodeName Default="News 01" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fpobs52m/news-01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>