<?xml version="1.0" encoding="utf-8"?>
<Media Key="de09277b-1550-4d45-8286-e6e23f8020c1" Alias="News Img2" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/NewsImg2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-30T17:00:12</CreateDate>
    <NodeName Default="News Img2" />
    <SortOrder>72</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/putbtxsq/news-img2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>