<?xml version="1.0" encoding="utf-8"?>
<Media Key="531f47f9-534c-4c47-bf8b-9b45a8316b7c" Alias="News Img2" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/NewsImg2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-17T06:02:08</CreateDate>
    <NodeName Default="News Img2" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/53db4u0m/news-img2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>