<?xml version="1.0" encoding="utf-8"?>
<Media Key="179d73f4-8a66-46ff-b4d3-bd30a516e2d6" Alias="News Img1" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/NewsImg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-30T17:00:12</CreateDate>
    <NodeName Default="News Img1" />
    <SortOrder>71</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/4jzj0f1g/news-img1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>