<?xml version="1.0" encoding="utf-8"?>
<Media Key="b29b2288-65b1-424e-a7b4-7ea24c749de3" Alias="News Img Full" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/NewsImgFull</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-30T17:00:12</CreateDate>
    <NodeName Default="News Img Full" />
    <SortOrder>74</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ryrjxmvr/news-img-full.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>