<?xml version="1.0" encoding="utf-8"?>
<Media Key="081ae107-c0a1-4355-898a-b3788a222059" Alias="News Img1" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/NewsImg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-05-17T06:02:08</CreateDate>
    <NodeName Default="News Img1" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ahqbucfb/news-img1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>