<?xml version="1.0" encoding="utf-8"?>
<Media Key="ef9a44f4-f2d1-4596-8c29-c5dd18b60f39" Alias="NRRC R 17 Security Of Radioactive Materials" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR17SecurityOfRadioactiveMaterials</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:37</CreateDate>
    <NodeName Default="NRRC R 17 Security Of Radioactive Materials" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1jcjv14r/nrrc-r-17-security-of-radioactive-materials.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>