<?xml version="1.0" encoding="utf-8"?>
<Media Key="c1c002bf-c2b5-4db4-8524-1e1064758d91" Alias="NRRC R 02 Old" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR02Old</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:23</CreateDate>
    <NodeName Default="NRRC R 02 Old" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/sebmbqnv/nrrc-r-02-old.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>