<?xml version="1.0" encoding="utf-8"?>
<Media Key="645321a2-e30d-4714-bf84-da35f007c73b" Alias="NRRC SG 005" Level="6">
  <Info>
    <Parent Key="b03955aa-3d50-405d-8d4d-6227f545869f">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCSG005</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:15</CreateDate>
    <NodeName Default="NRRC SG 005" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rqqfgzan/nrrc-sg-005.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>