<?xml version="1.0" encoding="utf-8"?>
<Media Key="488c3e78-18d0-492d-8ce1-333e5536705c" Alias="NRRC SG 017" Level="6">
  <Info>
    <Parent Key="b03955aa-3d50-405d-8d4d-6227f545869f">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCSG017</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:17</CreateDate>
    <NodeName Default="NRRC SG 017" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ky5iysgq/nrrc-sg-017.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>