<?xml version="1.0" encoding="utf-8"?>
<Media Key="c69d9373-29e5-4586-a225-163d00e59603" Alias="NRRC R 03 Licensing And Regulatory Oversight Of Nuclear Facilities Rev. 0.1" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR03LicensingAndRegulatoryOversightOfNuclearFacilitiesRev01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:24</CreateDate>
    <NodeName Default="NRRC R 03 Licensing And Regulatory Oversight Of Nuclear Facilities Rev. 0.1" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lwjj1rxf/nrrc-r-03-licensing-and-regulatory-oversight-of-nuclear-facilities_rev-01.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>