<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c45e6ae-0a5c-4c60-9d06-584afe17b5b8" Alias="NRRC SG 018" Level="6">
  <Info>
    <Parent Key="b03955aa-3d50-405d-8d4d-6227f545869f">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCSG018</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:18</CreateDate>
    <NodeName Default="NRRC SG 018" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qdtek5c2/nrrc-sg-018.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>