<?xml version="1.0" encoding="utf-8"?>
<Media Key="d874b198-aa8a-4a0e-9018-8016c16ea5e2" Alias="NRRC SG 014" Level="6">
  <Info>
    <Parent Key="b03955aa-3d50-405d-8d4d-6227f545869f">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCSG014</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:17</CreateDate>
    <NodeName Default="NRRC SG 014" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/w0yhjwek/nrrc-sg-014.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>