<?xml version="1.0" encoding="utf-8"?>
<Media Key="cf766873-7214-4576-b3d8-d25468d239ec" Alias="NRRC R 01 SR02" Level="6">
  <Info>
    <Parent Key="7bcf4ec4-15a6-4978-8481-784fba07a3be">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR01SR02</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:39</CreateDate>
    <NodeName Default="NRRC R 01 SR02" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lvuhntyu/nrrc-r-01-sr02.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>