<?xml version="1.0" encoding="utf-8"?>
<Media Key="66638855-dace-4799-bb4a-35361afec75a" Alias="NRRC R 01 SR08 2" Level="6">
  <Info>
    <Parent Key="7bcf4ec4-15a6-4978-8481-784fba07a3be">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR01SR082</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:40</CreateDate>
    <NodeName Default="NRRC R 01 SR08 2" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/poeggzwo/nrrc-r-01-sr08-2.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>