<?xml version="1.0" encoding="utf-8"?>
<Media Key="48e27a29-8e83-497c-a9ce-a82b75348f31" Alias="NRRC SG 03" Level="6">
  <Info>
    <Parent Key="b03955aa-3d50-405d-8d4d-6227f545869f">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCSG03</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:18</CreateDate>
    <NodeName Default="NRRC SG 03" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/a33oesed/nrrc-sg-03.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>