<?xml version="1.0" encoding="utf-8"?>
<Media Key="63bd9317-19bc-4132-bd40-b0880de2e945" Alias="NRRC R 01 SR10" Level="6">
  <Info>
    <Parent Key="7bcf4ec4-15a6-4978-8481-784fba07a3be">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR01SR10</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:41</CreateDate>
    <NodeName Default="NRRC R 01 SR10" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hgjl0y32/nrrc-r-01-sr10.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>