<?xml version="1.0" encoding="utf-8"?>
<Media Key="9f9e6a88-b50a-44f5-b0d8-09b04f39fb90" Alias="NRRC Policies" Level="5">
  <Info>
    <Parent Key="30d90c90-035d-40a3-a0cb-b47c4e314126">الإطار القانوني</Parent>
    <Path>/NRRC/Content///NRRCPolicies</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:09</CreateDate>
    <NodeName Default="NRRC Policies" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rzvj3hyk/nrrc-policies.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>