<?xml version="1.0" encoding="utf-8"?>
<Media Key="ad065932-2376-469a-a948-a8698fcbb321" Alias="NRRC R 15 Safe Transport Of Radioactive Material Rev. 0.1" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR15SafeTransportOfRadioactiveMaterialRev01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:35</CreateDate>
    <NodeName Default="NRRC R 15 Safe Transport Of Radioactive Material Rev. 0.1" />
    <SortOrder>27</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/drmbnllw/nrrc-r-15-safe-transport-of-radioactive-material_rev-01.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>