<?xml version="1.0" encoding="utf-8"?>
<Media Key="ae8ec3c0-fa7a-46e1-8dfb-f35a8c5ce224" Alias="NRRC R 06 Design Of Nuclear Facilities Rev 0.1" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR06DesignOfNuclearFacilitiesRev01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:25</CreateDate>
    <NodeName Default="NRRC R 06 Design Of Nuclear Facilities Rev 0.1" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/31bj3lt0/nrrc-r-06-design-of-nuclear-facilities_rev-01.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>