<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bf98069-0edd-4300-9664-3e82f6fb9555" Alias="NRRC R 01 SR13" Level="6">
  <Info>
    <Parent Key="7bcf4ec4-15a6-4978-8481-784fba07a3be">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR01SR13</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:41</CreateDate>
    <NodeName Default="NRRC R 01 SR13" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/i4apsc43/nrrc-r-01-sr13.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>