<?xml version="1.0" encoding="utf-8"?>
<Media Key="3fce097f-1098-4fec-854e-cef05bcf5f2d" Alias="NRRC SG 06" Level="6">
  <Info>
    <Parent Key="b03955aa-3d50-405d-8d4d-6227f545869f">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCSG06</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:18</CreateDate>
    <NodeName Default="NRRC SG 06" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/keen2p2y/nrrc-sg-06.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>