<?xml version="1.0" encoding="utf-8"?>
<Media Key="b65ba087-1455-4dde-ab2d-ff11b0a383ac" Alias="Nrrcstatute" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/Nrrcstatute</Path>
    <Trashed Parent="dce59ff6-b254-4a88-a25d-4e5b49c1e5dc">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-10T19:32:48</CreateDate>
    <NodeName Default="Nrrcstatute" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qgqfxnsv/nrrcstatute.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>