<?xml version="1.0" encoding="utf-8"?>
<Media Key="818a1417-949e-4b18-90d4-3e42cf14fefa" Alias="NRRC R 04 Leadership And Management For Safety" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR04LeadershipAndManagementForSafety</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:24</CreateDate>
    <NodeName Default="NRRC R 04 Leadership And Management For Safety" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hekivam4/nrrc-r-04-leadership-and-management-for-safety.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>