<?xml version="1.0" encoding="utf-8"?>
<Media Key="0bdf9976-9ef6-46c6-895d-440390dd5cec" Alias="NRRC R 18 SR01 (1)" Level="6">
  <Info>
    <Parent Key="7bcf4ec4-15a6-4978-8481-784fba07a3be">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR18SR011</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:42</CreateDate>
    <NodeName Default="NRRC R 18 SR01 (1)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/lcmn4c5w/nrrc-r-18-sr01-1.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>