<?xml version="1.0" encoding="utf-8"?>
<Media Key="93662b3e-ff02-4e16-a6d7-03bae18a3ddd" Alias="NRRC R 12 Nuclear Material Accountancy And Control Rev. 0.1" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR12NuclearMaterialAccountancyAndControlRev01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:34</CreateDate>
    <NodeName Default="NRRC R 12 Nuclear Material Accountancy And Control Rev. 0.1" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cavhneyc/nrrc-r-12-nuclear-material-accountancy-and-control_rev-01.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>