<?xml version="1.0" encoding="utf-8"?>
<Media Key="ee6f4ab0-e3cf-4f0c-aa6d-89f0a075eb41" Alias="NRRC R 11 Nuclear Security Rev. 0.1" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR11NuclearSecurityRev01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:33</CreateDate>
    <NodeName Default="NRRC R 11 Nuclear Security Rev. 0.1" />
    <SortOrder>21</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tzfg51wp/nrrc-r-11-nuclear-security_rev-01.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>