<?xml version="1.0" encoding="utf-8"?>
<Media Key="ce64fdb6-6d31-4f67-a18d-e90a54bb5168" Alias="NRRC SG 09" Level="6">
  <Info>
    <Parent Key="b03955aa-3d50-405d-8d4d-6227f545869f">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCSG09</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:19</CreateDate>
    <NodeName Default="NRRC SG 09" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/td4hjtrr/nrrc-sg-09.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>