<?xml version="1.0" encoding="utf-8"?>
<Media Key="80d3b43e-819a-4431-82c2-e342d0abe922" Alias="NRRC SG 004" Level="6">
  <Info>
    <Parent Key="b03955aa-3d50-405d-8d4d-6227f545869f">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCSG004</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:15</CreateDate>
    <NodeName Default="NRRC SG 004" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cc0nhae0/nrrc-sg-004.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>