<?xml version="1.0" encoding="utf-8"?>
<Media Key="2b8a48f1-fe5b-47d5-a8f9-1ebeb8a17028" Alias="NRRC R 08 Construction And Commissioning Of Nuclear Facilities" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR08ConstructionAndCommissioningOfNuclearFacilities</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:27</CreateDate>
    <NodeName Default="NRRC R 08 Construction And Commissioning Of Nuclear Facilities" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/13eiuk01/nrrc-r-08-construction-and-commissioning-of-nuclear-facilities.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>