<?xml version="1.0" encoding="utf-8"?>
<Media Key="09274b3e-7680-4636-9de6-def1a4a2ecd5" Alias="NRRC R 09 Operations Of Nuclear Facilities" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR09OperationsOfNuclearFacilities</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:27</CreateDate>
    <NodeName Default="NRRC R 09 Operations Of Nuclear Facilities" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cbfdocma/nrrc-r-09-operations-of-nuclear-facilities.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>