<?xml version="1.0" encoding="utf-8"?>
<Media Key="4a029e8f-90b0-47af-a46e-68f8dba5f4ec" Alias="NRRC R 18 Authorization And Regulatory Control Of Nuclear Related Items Rev. 0.1" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR18AuthorizationAndRegulatoryControlOfNuclearRelatedItemsRev01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:38</CreateDate>
    <NodeName Default="NRRC R 18 Authorization And Regulatory Control Of Nuclear Related Items Rev. 0.1" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ugpaesvq/nrrc-r-18-authorization-and-regulatory-control-of-nuclear-related-items_rev-01.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>