<?xml version="1.0" encoding="utf-8"?>
<Media Key="f6f60f94-87cf-4190-a173-9a7a8ea0204e" Alias="NRRC SG 011" Level="6">
  <Info>
    <Parent Key="b03955aa-3d50-405d-8d4d-6227f545869f">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCSG011</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:16</CreateDate>
    <NodeName Default="NRRC SG 011" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xihpn3wp/nrrc-sg-011.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>