<?xml version="1.0" encoding="utf-8"?>
<Media Key="e63c4e1e-db62-43a9-a5f5-9d04718f0f2c" Alias="NRRC R 01 SR01 Newone Copy" Level="6">
  <Info>
    <Parent Key="7bcf4ec4-15a6-4978-8481-784fba07a3be">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR01SR01NewoneCopy</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:39</CreateDate>
    <NodeName Default="NRRC R 01 SR01 Newone Copy" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/gbhdzztc/nrrc-r-01-sr01-newone-copy.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>