<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ddea938-47ce-4190-af41-e57d0876cc51" Alias="NRRC R 01 SR07" Level="6">
  <Info>
    <Parent Key="7bcf4ec4-15a6-4978-8481-784fba07a3be">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR01SR07</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:40</CreateDate>
    <NodeName Default="NRRC R 01 SR07" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c0un21oo/nrrc-r-01-sr07.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>