<?xml version="1.0" encoding="utf-8"?>
<Media Key="1cdfc18f-7e60-4ad8-bc24-7241de50e06b" Alias="NRRC R 01 SR04" Level="6">
  <Info>
    <Parent Key="7bcf4ec4-15a6-4978-8481-784fba07a3be">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR01SR04</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:39</CreateDate>
    <NodeName Default="NRRC R 01 SR04" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/uhan4hda/nrrc-r-01-sr04.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>