<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd67969f-12fb-4eba-aeeb-771d637fab98" Alias="NRRC R 18 Authorization And Regulatory Control Of Nuclear Related Items" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR18AuthorizationAndRegulatoryControlOfNuclearRelatedItems</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:37</CreateDate>
    <NodeName Default="NRRC R 18 Authorization And Regulatory Control Of Nuclear Related Items" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wglgppp1/nrrc-r-18-authorization-and-regulatory-control-of-nuclear-related-items.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>