<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ff096e4-3b19-40cf-b9e5-b4b147c999c5" Alias="NRRC SG 08" Level="6">
  <Info>
    <Parent Key="b03955aa-3d50-405d-8d4d-6227f545869f">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCSG08</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:19</CreateDate>
    <NodeName Default="NRRC SG 08" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zklpadyz/nrrc-sg-08.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>