<?xml version="1.0" encoding="utf-8"?>
<Media Key="a0162bb7-6c1f-40ac-8854-186cfe8561ea" Alias="NRRC R 09 Operations Of Nuclear Facilities Rev 0.1" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR09OperationsOfNuclearFacilitiesRev01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:27</CreateDate>
    <NodeName Default="NRRC R 09 Operations Of Nuclear Facilities Rev 0.1" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tevbnia5/nrrc-r-09-operations-of-nuclear-facilities_rev-01.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>