<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2564d91-4a0e-45cb-ba5e-1a07abfa40ef" Alias="NRRC R 16 Management Of Radioactive Waste Rev. 0.1" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR16ManagementOfRadioactiveWasteRev01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:36</CreateDate>
    <NodeName Default="NRRC R 16 Management Of Radioactive Waste Rev. 0.1" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x3gfnmqo/nrrc-r-16-management-of-radioactive-waste_rev-01.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>