<?xml version="1.0" encoding="utf-8"?>
<Media Key="102b63df-e986-4b6e-905e-c1fbd6c6f1c9" Alias="NRRC R 07 Safety Assessment Of Nuclear Facilities" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR07SafetyAssessmentOfNuclearFacilities</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:26</CreateDate>
    <NodeName Default="NRRC R 07 Safety Assessment Of Nuclear Facilities" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4frdweeg/nrrc-r-07-safety-assessment-of-nuclear-facilities.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>