<?xml version="1.0" encoding="utf-8"?>
<Media Key="e48f2423-c883-4d9e-beda-2a37b2cd7172" Alias="NRRC R 07 Safety Assessment Of Nuclear Facilities Rev 0.1" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR07SafetyAssessmentOfNuclearFacilitiesRev01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:26</CreateDate>
    <NodeName Default="NRRC R 07 Safety Assessment Of Nuclear Facilities Rev 0.1" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/busi5zed/nrrc-r-07-safety-assessment-of-nuclear-facilities_rev-01.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>