<?xml version="1.0" encoding="utf-8"?>
<Media Key="78d29c0f-d55a-4de2-b839-d47a2a0cf3e2" Alias="NRRC SG 016" Level="6">
  <Info>
    <Parent Key="b03955aa-3d50-405d-8d4d-6227f545869f">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCSG016</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:17</CreateDate>
    <NodeName Default="NRRC SG 016" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/egone4c0/nrrc-sg-016.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>