<?xml version="1.0" encoding="utf-8"?>
<Media Key="85113c16-8144-4512-850d-968468638b43" Alias="NRRC SG 020" Level="6">
  <Info>
    <Parent Key="b03955aa-3d50-405d-8d4d-6227f545869f">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCSG020</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:18</CreateDate>
    <NodeName Default="NRRC SG 020" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ha4bdbke/nrrc-sg-020.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>