<?xml version="1.0" encoding="utf-8"?>
<Media Key="4875e31c-643d-4e47-8d1c-ed2b0fa34bd2" Alias="NRRC R 12 Nuclear Material Accountancy And Control" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR12NuclearMaterialAccountancyAndControl</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:34</CreateDate>
    <NodeName Default="NRRC R 12 Nuclear Material Accountancy And Control" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/glrhksb3/nrrc-r-12-nuclear-material-accountancy-and-control.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>