<?xml version="1.0" encoding="utf-8"?>
<Media Key="fe40e75a-35ae-4a24-92af-ce1d167c410e" Alias="NRRC SG 012" Level="6">
  <Info>
    <Parent Key="b03955aa-3d50-405d-8d4d-6227f545869f">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCSG012</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:16</CreateDate>
    <NodeName Default="NRRC SG 012" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ottfb5vo/nrrc-sg-012.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>