<?xml version="1.0" encoding="utf-8"?>
<Media Key="b1ced639-6e90-4fbe-960c-32f69c9af153" Alias="NRRC R 01 Radiation Safety Rev 0.1" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR01RadiationSafetyRev01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:23</CreateDate>
    <NodeName Default="NRRC R 01 Radiation Safety Rev 0.1" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/c5lm3mmq/nrrc-r-01-radiation-safety_rev-01.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>