<?xml version="1.0" encoding="utf-8"?>
<Media Key="1041d9e3-0f57-47a0-8259-d47daef5c845" Alias="NRRC R 06 Design Of Nuclear" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR06DesignOfNuclear</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:26</CreateDate>
    <NodeName Default="NRRC R 06 Design Of Nuclear" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zxmfcecx/nrrc-r-06-design-of-nuclear.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>