<?xml version="1.0" encoding="utf-8"?>
<Media Key="03faf526-6ab1-40c2-a2d3-1f7bb121e0f3" Alias="NRRC R 11 Nuclear Security" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR11NuclearSecurity</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:28</CreateDate>
    <NodeName Default="NRRC R 11 Nuclear Security" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bd0pua3r/nrrc-r-11-nuclear-security.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>