<?xml version="1.0" encoding="utf-8"?>
<Media Key="787e2552-ed28-49a0-9b58-07be5f1ff89a" Alias="NRRC R 01 SR11 1" Level="6">
  <Info>
    <Parent Key="7bcf4ec4-15a6-4978-8481-784fba07a3be">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR01SR111</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:41</CreateDate>
    <NodeName Default="NRRC R 01 SR11 1" />
    <SortOrder>10</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/pqsh24bi/nrrc-r-01-sr11-1.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>