<?xml version="1.0" encoding="utf-8"?>
<Media Key="0055184e-c966-43e7-9003-d617bb4a5f53" Alias="Nrrcstatute" Level="5">
  <Info>
    <Parent Key="597937ec-a66e-4a18-b674-1251225bfea4">تنظيم الهيئة</Parent>
    <Path>/NRRC/Content///Nrrcstatute</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:02</CreateDate>
    <NodeName Default="Nrrcstatute" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/jamfkadg/nrrcstatute.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>