<?xml version="1.0" encoding="utf-8"?>
<Media Key="78ebedae-b12b-4aee-8c5d-6e1aa2c3e7f7" Alias="NRRC R 03 Licensing And Regulatory Oversight Of Nuclear Facilities" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR03LicensingAndRegulatoryOversightOfNuclearFacilities</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:24</CreateDate>
    <NodeName Default="NRRC R 03 Licensing And Regulatory Oversight Of Nuclear Facilities" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/qdwpw4bl/nrrc-r-03-licensing-and-regulatory-oversight-of-nuclear-facilities.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>