<?xml version="1.0" encoding="utf-8"?>
<Media Key="447cd807-e70a-4636-bb47-40b5fd5cbbb8" Alias="NRRC SG 002" Level="6">
  <Info>
    <Parent Key="b03955aa-3d50-405d-8d4d-6227f545869f">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCSG002</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:15</CreateDate>
    <NodeName Default="NRRC SG 002" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fhmhyrak/nrrc-sg-002.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>