<?xml version="1.0" encoding="utf-8"?>
<Media Key="d259dcda-acf8-448e-899e-2d64710a974c" Alias="NRRC R 10 Decommissioning Of Nuclear Facilities" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR10DecommissioningOfNuclearFacilities</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:28</CreateDate>
    <NodeName Default="NRRC R 10 Decommissioning Of Nuclear Facilities" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/4toftuxy/nrrc-r-10-decommissioning-of-nuclear-facilities.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>