<?xml version="1.0" encoding="utf-8"?>
<Media Key="bfab0b80-53d2-4551-b76d-8afb9ebf0361" Alias="NRRC R 01 Radiation Safety" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR01RadiationSafety</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:22</CreateDate>
    <NodeName Default="NRRC R 01 Radiation Safety" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vyflxp4s/nrrc-r-01-radiation-safety.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>