<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbabc3a4-994f-4128-9e07-05979811bb2e" Alias="NRRC R 16 Management Of Radioactive Waste" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR16ManagementOfRadioactiveWaste</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:36</CreateDate>
    <NodeName Default="NRRC R 16 Management Of Radioactive Waste" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rlblxw0p/nrrc-r-16-management-of-radioactive-waste.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>