<?xml version="1.0" encoding="utf-8"?>
<Media Key="a5de730c-45bf-44e5-af66-de55813f6c8f" Alias="NRRC R 01 SR05" Level="6">
  <Info>
    <Parent Key="7bcf4ec4-15a6-4978-8481-784fba07a3be">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR01SR05</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:40</CreateDate>
    <NodeName Default="NRRC R 01 SR05" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ejzn3jn5/nrrc-r-01-sr05.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>