<?xml version="1.0" encoding="utf-8"?>
<Media Key="784c8f3b-f2c0-463e-8b8b-b5695a109ed8" Alias="NRRC R 08 Construction And Commissioning Of Nuclear Facilities Rev. 0.1" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR08ConstructionAndCommissioningOfNuclearFacilitiesRev01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:27</CreateDate>
    <NodeName Default="NRRC R 08 Construction And Commissioning Of Nuclear Facilities Rev. 0.1" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cwhfy4ga/nrrc-r-08-construction-and-commissioning-of-nuclear-facilities_rev-01.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>