<?xml version="1.0" encoding="utf-8"?>
<Media Key="98bf6058-0541-47fa-b24a-448b508caa38" Alias="NRRC R 02" Level="6">
  <Info>
    <Parent Key="d5a46b05-be58-4f15-b964-cae54ea248e3">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR02</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:23</CreateDate>
    <NodeName Default="NRRC R 02" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/ozql5gcb/nrrc-r-02.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>