<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c281fa0-8092-4da4-85fb-593488713a14" Alias="NRRC R 18 SR01 Rev.01ARABIC2024 INDEX" Level="6">
  <Info>
    <Parent Key="7bcf4ec4-15a6-4978-8481-784fba07a3be">Files</Parent>
    <Path>/NRRC/Content///Files/NRRCR18SR01Rev01ARABIC2024INDEX</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:42</CreateDate>
    <NodeName Default="NRRC R 18 SR01 Rev.01ARABIC2024 INDEX" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rypdqxes/nrrc-r-18-sr01-rev01arabic2024-index.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>