<?xml version="1.0" encoding="utf-8"?>
<Media Key="a726c4cb-3f02-4517-b040-c8137aeb2e75" Alias="Nuclear Oversight And Radiological Practices Ar" Level="5">
  <Info>
    <Parent Key="8e85d88e-6825-46ce-a9d9-32f8adac8269">الرقابة النووية والممارسات الإشعاعية</Parent>
    <Path>/NRRC/Pages///NuclearOversightAndRadiologicalPracticesAr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T14:18:46</CreateDate>
    <NodeName Default="Nuclear Oversight And Radiological Practices Ar" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/zxccnjyc/nuclear-oversight-and-radiological-practices_ar.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>