<?xml version="1.0" encoding="utf-8"?>
<Media Key="82331c49-f9f8-4b4d-8f11-ba1d8cf02603" Alias="Nuclear Oversight And Radiological Practices Ar" Level="5">
  <Info>
    <Parent Key="8e85d88e-6825-46ce-a9d9-32f8adac8269">الرقابة النووية والممارسات الإشعاعية</Parent>
    <Path>/NRRC/Content///NuclearOversightAndRadiologicalPracticesAr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:07</CreateDate>
    <NodeName Default="Nuclear Oversight And Radiological Practices Ar" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/j2odhaxy/nuclear-oversight-and-radiological-practices_ar.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>