<?xml version="1.0" encoding="utf-8"?>
<Media Key="df6dec50-45c9-41be-bcc0-53b2537da05b" Alias="Nuclear Oversight And Radiological Practices En" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/NuclearOversightAndRadiologicalPracticesEn</Path>
    <Trashed Parent="8e85d88e-6825-46ce-a9d9-32f8adac8269">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:07</CreateDate>
    <NodeName Default="Nuclear Oversight And Radiological Practices En" />
    <SortOrder>19</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/k1wg1x4j/nuclear-oversight-and-radiological-practices_en.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>