<?xml version="1.0" encoding="utf-8"?>
<Media Key="ff06f0a3-42c6-4f96-9e96-8fe97fcad4d1" Alias="Numicon4" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/Numicon4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:07</CreateDate>
    <NodeName Default="Numicon4" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/slyan54g/numicon4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>