<?xml version="1.0" encoding="utf-8"?>
<Media Key="935bd38e-5eff-4b42-b897-981c1799e155" Alias="Numicon2" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/Numicon2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:07</CreateDate>
    <NodeName Default="Numicon2" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/x5jfxe55/numicon2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>