<?xml version="1.0" encoding="utf-8"?>
<Media Key="549102c5-3eb9-4e69-9408-bcbfd4e6518e" Alias="Opendata Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/OpendataIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:09</CreateDate>
    <NodeName Default="Opendata Icon" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/4qbjcvfz/opendata-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>