<?xml version="1.0" encoding="utf-8"?>
<Media Key="cd6738d6-f36b-44e2-9f20-2ba1b6ef9d7e" Alias="Operating Forms (OF)" Level="5">
  <Info>
    <Parent Key="30d90c90-035d-40a3-a0cb-b47c4e314126">الإطار القانوني</Parent>
    <Path>/NRRC/Content///OperatingFormsOF</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:10</CreateDate>
    <NodeName Default="Operating Forms (OF)" />
    <SortOrder>9</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/0a2gptll/operating-forms-of.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>