<?xml version="1.0" encoding="utf-8"?>
<Media Key="dce59ff6-b254-4a88-a25d-4e5b49c1e5dc" Alias="Pages" Level="2">
  <Info>
    <Parent Key="b2262c0c-0ead-4ec1-9d78-e1d81302418a">NRRC</Parent>
    <Path>/NRRC/Pages</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-10T19:32:34</CreateDate>
    <NodeName Default="Pages" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>