<?xml version="1.0" encoding="utf-8"?>
<Media Key="549e6d77-ca6c-4f09-9b28-3e7b5c584c12" Alias="Partner1" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Partner1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-19T12:19:22</CreateDate>
    <NodeName Default="Partner1" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ofwj2vdm/partner1.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>