<?xml version="1.0" encoding="utf-8"?>
<Media Key="b2bbcb47-8228-43cc-858f-855daced8ce7" Alias="Partner5 (1)" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Partner51</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-19T12:19:23</CreateDate>
    <NodeName Default="Partner5 (1)" />
    <SortOrder>14</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ihflxmri/partner5.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>