<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ed7cc43-b49f-4a71-8ebd-b790ebb9b174" Alias="Partner1 (1)" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Partner11</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T12:19:22</CreateDate>
    <NodeName Default="Partner1 (1)" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/olgno5u5/partner1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>