<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c5aa63c-5efb-4595-9665-477946a07761" Alias="Partner4" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Partner4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T12:19:23</CreateDate>
    <NodeName Default="Partner4" />
    <SortOrder>11</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/bwtfuth1/partner4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>