<?xml version="1.0" encoding="utf-8"?>
<Media Key="df788b8d-9ac4-4439-aa1b-1c3cf331f9f2" Alias="Partner2 (1)" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Partner21</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T12:19:23</CreateDate>
    <NodeName Default="Partner2 (1)" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xsfhrx4e/partner2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>