<?xml version="1.0" encoding="utf-8"?>
<Media Key="4dc41866-7728-408b-9a03-6817ddf166dd" Alias="Partner4 (1)" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Partner41</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-19T12:19:23</CreateDate>
    <NodeName Default="Partner4 (1)" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/mammitji/partner4.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>