<?xml version="1.0" encoding="utf-8"?>
<Media Key="83fa6494-538d-4b5d-8a87-3c85647fc4ae" Alias="Partner6 (1)" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Partner61</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-19T12:19:23</CreateDate>
    <NodeName Default="Partner6 (1)" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/sjspva2n/partner6.webp"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>