<?xml version="1.0" encoding="utf-8"?>
<Media Key="205832e0-cb14-4921-9d62-a69cd696dbf5" Alias="Partner5" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Partner5</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-19T12:19:23</CreateDate>
    <NodeName Default="Partner5" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/2yzfqiau/partner5.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>