<?xml version="1.0" encoding="utf-8"?>
<Media Key="9e3ac4c3-ad61-4d62-98ec-5208a3e5bec3" Alias="Pdf White Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/PdfWhiteIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:13</CreateDate>
    <NodeName Default="Pdf White Icon" />
    <SortOrder>77</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/4lcdvhtb/pdf-white-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>