<?xml version="1.0" encoding="utf-8"?>
<Media Key="bd76735c-fd35-4576-8dda-2f7d3d9383a9" Alias="Pdf Green Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/PdfGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:13</CreateDate>
    <NodeName Default="Pdf Green Icon" />
    <SortOrder>76</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/nvzhnpjv/pdf-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>