<?xml version="1.0" encoding="utf-8"?>
<Media Key="40fbc58f-0207-4499-96ed-d4d6cc9912d9" Alias="Pdf Green Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/PdfGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:09</CreateDate>
    <NodeName Default="Pdf Green Icon" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/x1cpwqah/pdf-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>