<?xml version="1.0" encoding="utf-8"?>
<Media Key="0a097be5-4027-41e6-b85f-2ee3ca67d12f" Alias="Phone Green Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/PhoneGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:13</CreateDate>
    <NodeName Default="Phone Green Icon" />
    <SortOrder>78</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0r3bscrh/phone-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>