<?xml version="1.0" encoding="utf-8"?>
<Media Key="023d61f0-667a-40bc-a14d-56e9bbb5f45c" Alias="Phone Green Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/PhoneGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:09</CreateDate>
    <NodeName Default="Phone Green Icon" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/yfqd0at0/phone-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>