<?xml version="1.0" encoding="utf-8"?>
<Media Key="f2b234a3-ce9e-4844-9e0c-4c23957a539e" Alias="Phone" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/Phone</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:08</CreateDate>
    <NodeName Default="Phone" />
    <SortOrder>46</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/si0lf2u4/phone.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>