<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f08d852-c7ac-4800-8d4b-386750240518" Alias="Publications" Level="2">
  <Info>
    <Parent Key="f23f4c81-8b03-4749-8dbc-ecb936c3c749">Files</Parent>
    <Path>/Files/Publications</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-05-18T05:51:58</CreateDate>
    <NodeName Default="Publications" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>