<?xml version="1.0" encoding="utf-8"?>
<Media Key="8bd9b9e1-9949-40ed-88e7-4ea66c7d86e5" Alias="Publicimg1" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Publicimg1</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-19T12:19:23</CreateDate>
    <NodeName Default="Publicimg1" />
    <SortOrder>17</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/242ntc0j/publicimg1.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>