<?xml version="1.0" encoding="utf-8"?>
<Media Key="00abcdbe-8826-4b55-97bc-d3880314c177" Alias="Publicimg2" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Publicimg2</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-04-19T12:19:23</CreateDate>
    <NodeName Default="Publicimg2" />
    <SortOrder>18</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/xdglwabg/publicimg2.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>