<?xml version="1.0" encoding="utf-8"?>
<Media Key="342e2082-7443-4884-9f3e-942e1912459e" Alias="Question Square Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/QuestionSquareIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:13</CreateDate>
    <NodeName Default="Question Square Icon" />
    <SortOrder>79</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/wmqc2ncd/question-square-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>