<?xml version="1.0" encoding="utf-8"?>
<Media Key="21543bb1-fb93-47f0-9e95-5298d9f13dfd" Alias="Question Square White Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/QuestionSquareWhiteIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:10</CreateDate>
    <NodeName Default="Question Square White Icon" />
    <SortOrder>30</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/qa3fiimt/question-square-white-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>