<?xml version="1.0" encoding="utf-8"?>
<Media Key="7e60bc64-4baa-4d74-bb9e-ecf0e62a7a30" Alias="Question Square White Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/QuestionSquareWhiteIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:13</CreateDate>
    <NodeName Default="Question Square White Icon" />
    <SortOrder>80</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/kw4ga5vk/question-square-white-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>