<?xml version="1.0" encoding="utf-8"?>
<Media Key="01eb4052-2dc5-4f49-808b-63cb00934c58" Alias="Radiation Facility 6Thapril23" Level="6">
  <Info>
    <Parent Key="7bcf4ec4-15a6-4978-8481-784fba07a3be">Files</Parent>
    <Path>/NRRC/Content///Files/RadiationFacility6Thapril23</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:43</CreateDate>
    <NodeName Default="Radiation Facility 6Thapril23" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/praowaof/radiation_facility_6thapril23.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>