<?xml version="1.0" encoding="utf-8"?>
<Media Key="cdb50e13-4853-4849-bb2b-178399f223e3" Alias="Safe Transport Of Radioactive Materials1" Level="6">
  <Info>
    <Parent Key="7bcf4ec4-15a6-4978-8481-784fba07a3be">Files</Parent>
    <Path>/NRRC/Content///Files/SafeTransportOfRadioactiveMaterials1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:43</CreateDate>
    <NodeName Default="Safe Transport Of Radioactive Materials1" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/huhlltkt/safe-transport-of-radioactive-materials1.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>