<?xml version="1.0" encoding="utf-8"?>
<Media Key="75bf7ac9-8d03-45e3-990c-e115a03b54b5" Alias="Sahm" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Sahm</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T12:19:23</CreateDate>
    <NodeName Default="Sahm" />
    <SortOrder>20</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/5b3l43id/sahm.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>