<?xml version="1.0" encoding="utf-8"?>
<Media Key="0202ce79-5c7f-450a-80ef-27b2bd3df657" Alias="Screenshot 2024 09 15 084742" Level="5">
  <Info>
    <Parent Key="5c4857fd-d274-4494-ab6b-f746f54f4781">الإتفاقيات الدولية</Parent>
    <Path>/NRRC/Content///Screenshot20240915084742</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:05</CreateDate>
    <NodeName Default="Screenshot 2024 09 15 084742" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/p5haeat5/screenshot-2024-09-15-084742.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>