<?xml version="1.0" encoding="utf-8"?>
<Media Key="4953479f-0ce5-4edd-945c-cc6533672b68" Alias="Search Dark Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/SearchDarkIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:10</CreateDate>
    <NodeName Default="Search Dark Icon" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vzdfgspf/search-dark-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>