<?xml version="1.0" encoding="utf-8"?>
<Media Key="59b445bf-e463-4a15-947f-2c731c42ec12" Alias="Search Dark Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/SearchDarkIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:14</CreateDate>
    <NodeName Default="Search Dark Icon" />
    <SortOrder>82</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/rzcliwld/search-dark-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>