<?xml version="1.0" encoding="utf-8"?>
<Media Key="27706ad9-e641-4ac7-a368-3287b3a78cf4" Alias="Service White Icon3" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/ServiceWhiteIcon3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:01</CreateDate>
    <NodeName Default="Service White Icon3" />
    <SortOrder>33</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/3bvhaj0b/service-white-icon3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>