<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cfa9619-0346-4494-9615-bf28c1db5d40" Alias="Servicon2" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Servicon2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T12:19:23</CreateDate>
    <NodeName Default="Servicon2" />
    <SortOrder>22</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fclpulcg/servicon2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>