<?xml version="1.0" encoding="utf-8"?>
<Media Key="00922ad1-d8a7-41c9-9693-fb12910a77a2" Alias="Service White Icon4" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/ServiceWhiteIcon4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:00</CreateDate>
    <NodeName Default="Service White Icon4" />
    <SortOrder>24</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/2avjeafh/service-white-icon4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>