<?xml version="1.0" encoding="utf-8"?>
<Media Key="3dcddc7e-2bbc-46c9-8b3d-d63e32c6c559" Alias="Service White Icon3" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/ServiceWhiteIcon3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:11</CreateDate>
    <NodeName Default="Service White Icon3" />
    <SortOrder>35</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/j5om0pn2/service-white-icon3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>