<?xml version="1.0" encoding="utf-8"?>
<Media Key="0209ca5e-53d0-4f9f-8276-3332aa3b3712" Alias="Service White Icon2" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/ServiceWhiteIcon2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:01</CreateDate>
    <NodeName Default="Service White Icon2" />
    <SortOrder>32</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/n5fasawq/service-white-icon2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>