<?xml version="1.0" encoding="utf-8"?>
<Media Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419" Alias="Shared" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Shared</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-04-19T15:02:12</CreateDate>
    <NodeName Default="Shared" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>