<?xml version="1.0" encoding="utf-8"?>
<Media Key="7c54ea3f-8bc8-43a4-bec0-d35ab20617f8" Alias="Statistic Green Icon2" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/StatisticGreenIcon2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:12</CreateDate>
    <NodeName Default="Statistic Green Icon2" />
    <SortOrder>38</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/b1vfi5gi/statistic-green-icon2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>