<?xml version="1.0" encoding="utf-8"?>
<Media Key="b52373e4-8432-4b64-8542-864e03bb1923" Alias="Statistic Green Icon2" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/StatisticGreenIcon2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:00</CreateDate>
    <NodeName Default="Statistic Green Icon2" />
    <SortOrder>25</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/0vzdhnjs/statistic-green-icon2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>