<?xml version="1.0" encoding="utf-8"?>
<Media Key="4394ed92-948d-4244-aa14-5c2c38b76e9b" Alias="Statistic Green Icon3" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/StatisticGreenIcon3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:12</CreateDate>
    <NodeName Default="Statistic Green Icon3" />
    <SortOrder>39</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/upwjiq2n/statistic-green-icon3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>