<?xml version="1.0" encoding="utf-8"?>
<Media Key="f80e65b3-7edd-41b4-b827-e5ee4cfd5979" Alias="Statute Of The Nuclear And Radiation Control Commission" Level="6">
  <Info>
    <Parent Key="01ba10d6-5d47-4fda-be37-0bd889c07c46">Files</Parent>
    <Path>/NRRC/Content///Files/StatuteOfTheNuclearAndRadiationControlCommission</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:21</CreateDate>
    <NodeName Default="Statute Of The Nuclear And Radiation Control Commission" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/tvsb34g3/statute-of-the-nuclear-and-radiation-control-commission.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>