<?xml version="1.0" encoding="utf-8"?>
<Media Key="5f60a38c-a8ef-47c6-aa78-6d6c0684c378" Alias="Statistic Green Icon4" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/StatisticGreenIcon4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:01</CreateDate>
    <NodeName Default="Statistic Green Icon4" />
    <SortOrder>29</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xwrhax5p/statistic-green-icon4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>