<?xml version="1.0" encoding="utf-8"?>
<Media Key="a492080b-c6e0-4428-b361-21e6d3602c4c" Alias="Statistic Green Icon2" Level="4">
  <Info>
    <Parent Key="7e6dd93f-03cc-433d-99b1-1dc03a46fa70">InNumers</Parent>
    <Path>/NRRC/HomePage/InNumers/StatisticGreenIcon2</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-18T06:21:26</CreateDate>
    <NodeName Default="Statistic Green Icon2" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/hiejfjha/statistic-green-icon2.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>