<?xml version="1.0" encoding="utf-8"?>
<Media Key="4c87417b-771b-4968-a30d-5a333c556889" Alias="Statistic Green Icon3" Level="4">
  <Info>
    <Parent Key="7e6dd93f-03cc-433d-99b1-1dc03a46fa70">InNumers</Parent>
    <Path>/NRRC/HomePage/InNumers/StatisticGreenIcon3</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-18T06:21:27</CreateDate>
    <NodeName Default="Statistic Green Icon3" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/jjajota1/statistic-green-icon3.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>