<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9707c04-c0a9-4cf5-a68d-cf128d169db8" Alias="Statistic Green Icon1" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/StatisticGreenIcon1</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:00</CreateDate>
    <NodeName Default="Statistic Green Icon1" />
    <SortOrder>26</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/gv4hbknj/statistic-green-icon1.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>