<?xml version="1.0" encoding="utf-8"?>
<Media Key="9d4cb599-7b54-4005-ba2d-4f45b6601983" Alias="Store Add 01" Level="2">
  <Info>
    <Parent Key="068dd23e-1561-4ab2-9eb3-a7092ecbc4f5">about</Parent>
    <Path>/about/StoreAdd01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-23T20:19:03</CreateDate>
    <NodeName Default="Store Add 01" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/vc0fzhku/store-add-01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>