<?xml version="1.0" encoding="utf-8"?>
<Media Key="3c0efe57-61a7-44fd-aa4d-f7786e6a538e" Alias="Style Stroke Type Rounded 4" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/StyleStrokeTypeRounded4</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:08</CreateDate>
    <NodeName Default="Style Stroke Type Rounded 4" />
    <SortOrder>50</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m15a2pfh/style-stroke-type-rounded-4.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>