<?xml version="1.0" encoding="utf-8"?>
<Media Key="dcaa56ef-216a-450c-a13a-54c4e0a28810" Alias="Suq" Level="2">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/HomePage/Suq</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T12:19:23</CreateDate>
    <NodeName Default="Suq" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/1zlkvxdk/suq.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>