<?xml version="1.0" encoding="utf-8"?>
<Media Key="0ccbee21-5a90-4847-a243-b5d20b9e8d8b" Alias="Task Done 01" Level="2">
  <Info>
    <Parent Key="068dd23e-1561-4ab2-9eb3-a7092ecbc4f5">about</Parent>
    <Path>/about/TaskDone01</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-23T20:19:02</CreateDate>
    <NodeName Default="Task Done 01" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/cdxmwdeq/task-done-01.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>