<?xml version="1.0" encoding="utf-8"?>
<Media Key="daa16586-a18b-4fd2-8c67-790aa6358418" Alias="Technical Regulations (R)" Level="5">
  <Info>
    <Parent Key="30d90c90-035d-40a3-a0cb-b47c4e314126">الإطار القانوني</Parent>
    <Path>/NRRC/Content///TechnicalRegulationsR</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:12</CreateDate>
    <NodeName Default="Technical Regulations (R)" />
    <SortOrder>13</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/qbsldwul/technical-regulations-r.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>