<?xml version="1.0" encoding="utf-8"?>
<Media Key="1456b048-4d60-4963-a3b8-d8c29d04520e" Alias="Test" Level="1">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-04-21T15:21:40</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/m0yfmfda/test.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>