<?xml version="1.0" encoding="utf-8"?>
<Media Key="df7d890a-52c2-471f-b6a2-649cebe2b3ae" Alias="Test" Level="2">
  <Info>
    <Parent Key="f23f4c81-8b03-4749-8dbc-ecb936c3c749">Files</Parent>
    <Path>/Files/Test</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-04-21T15:16:41</CreateDate>
    <NodeName Default="Test" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/eseh1x4c/test.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>