<?xml version="1.0" encoding="utf-8"?>
<Media Key="22ba3807-01e5-42fc-92b9-a84fdf2a0096" Alias="The NRRC Strategic Plan Ar (2)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/TheNRRCStrategicPlanAr2</Path>
    <Trashed Parent="54853c24-f76d-4c6c-b8e2-67790ddb4e1f">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:06</CreateDate>
    <NodeName Default="The NRRC Strategic Plan Ar (2)" />
    <SortOrder>15</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ae2luixf/the-nrrc-strategic-plan_ar.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>