<?xml version="1.0" encoding="utf-8"?>
<Media Key="4ae1236f-d3f9-4755-8a66-bb5070e498b5" Alias="The NRRC Organizational Structure Ar" Level="5">
  <Info>
    <Parent Key="b6b67a29-6659-4edb-9ea3-83dd5b4f5c23">الهيكل التنظيمي</Parent>
    <Path>/NRRC/Content///TheNRRCOrganizationalStructureAr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:06</CreateDate>
    <NodeName Default="The NRRC Organizational Structure Ar" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/nerpcsxz/the-nrrc-organizational-structure_ar.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>