<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b4770ab-1edf-44cf-8390-1656be355817" Alias="The NRRC Strategic Plan En" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/TheNRRCStrategicPlanEn</Path>
    <Trashed Parent="54853c24-f76d-4c6c-b8e2-67790ddb4e1f">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:06</CreateDate>
    <NodeName Default="The NRRC Strategic Plan En" />
    <SortOrder>16</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/vvyeog45/the-nrrc-strategic-plan_en.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>