<?xml version="1.0" encoding="utf-8"?>
<Media Key="155d0900-019b-4e6b-b76b-6f7ceac3f3e3" Alias="The NRRC Organizational Structure Ar (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/TheNRRCOrganizationalStructureAr1</Path>
    <Trashed Parent="f87107aa-7f50-4e1e-b3ea-b6f87f35c81f">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T14:18:19</CreateDate>
    <NodeName Default="The NRRC Organizational Structure Ar (1)" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/ayef0fm1/the-nrrc-organizational-structure_ar.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>