<?xml version="1.0" encoding="utf-8"?>
<Media Key="74ce6819-eec2-42b5-a72c-172ec0d14739" Alias="The NRRC Organizational Structure Ar" Level="5">
  <Info>
    <Parent Key="b6b67a29-6659-4edb-9ea3-83dd5b4f5c23">الهيكل التنظيمي</Parent>
    <Path>/NRRC/Pages///TheNRRCOrganizationalStructureAr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T14:18:47</CreateDate>
    <NodeName Default="The NRRC Organizational Structure Ar" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/d3um23gc/the-nrrc-organizational-structure_ar.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>