<?xml version="1.0" encoding="utf-8"?>
<Media Key="a9c4eaee-7eec-4daa-9306-7cd2c2514a0f" Alias="The NRRC Organizational Structure Ar" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/TheNRRCOrganizationalStructureAr</Path>
    <Trashed Parent="f87107aa-7f50-4e1e-b3ea-b6f87f35c81f">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-10T19:32:49</CreateDate>
    <NodeName Default="The NRRC Organizational Structure Ar" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/3dvmjkpm/the-nrrc-organizational-structure_ar.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>