<?xml version="1.0" encoding="utf-8"?>
<Media Key="34731985-41c7-42a3-9ab2-8d632d4d27ee" Alias="User Group" Level="2">
  <Info>
    <Parent Key="068dd23e-1561-4ab2-9eb3-a7092ecbc4f5">about</Parent>
    <Path>/about/UserGroup</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-23T20:19:03</CreateDate>
    <NodeName Default="User Group" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/wqmhgngh/user-group.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>