<?xml version="1.0" encoding="utf-8"?>
<Media Key="de22488f-ca14-4df4-bbd8-0af251a31b79" Alias="User Green Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/UserGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:00</CreateDate>
    <NodeName Default="User Green Icon" />
    <SortOrder>28</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/xzecfxqu/user-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>