<?xml version="1.0" encoding="utf-8"?>
<Media Key="c0737498-2fed-4652-ba1f-bb2686a894fb" Alias="User White Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/UserWhiteIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:38</CreateDate>
    <NodeName Default="User White Icon" />
    <SortOrder>43</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/vf0hhqhn/user-white-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>