<?xml version="1.0" encoding="utf-8"?>
<Media Key="7ed1aaec-7b5a-4e29-b1be-4a8319d94d35" Alias="User Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/UserIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:01</CreateDate>
    <NodeName Default="User Icon" />
    <SortOrder>31</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/1wvnc5s0/user-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>