<?xml version="1.0" encoding="utf-8"?>
<Media Key="30c85a07-3d55-4974-b3b7-ac9228d49c00" Alias="User White Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/UserWhiteIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:02</CreateDate>
    <NodeName Default="User White Icon" />
    <SortOrder>34</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/gznmqmcv/user-white-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>