<?xml version="1.0" encoding="utf-8"?>
<Media Key="061c2104-e791-4d90-91f1-812e9fc6bd3a" Alias="User Green Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/UserGreenIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:29</CreateDate>
    <NodeName Default="User Green Icon" />
    <SortOrder>41</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/guqbybur/user-green-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>