<?xml version="1.0" encoding="utf-8"?>
<Media Key="4f2c61bf-a8d6-413b-a28e-6e58b477fae1" Alias="User" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/User</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:09</CreateDate>
    <NodeName Default="User" />
    <SortOrder>53</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/rzqdyt4w/user.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>