<?xml version="1.0" encoding="utf-8"?>
<Media Key="e1cfdd7f-963d-4155-a651-28f8c5cda995" Alias="Who We Are Ar" Level="5">
  <Info>
    <Parent Key="d828057d-2c05-4cce-910e-ef2856a88432">من نحن</Parent>
    <Path>/NRRC/Content///WhoWeAreAr</Path>
    <Trashed>false</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:03</CreateDate>
    <NodeName Default="Who We Are Ar" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/phon5yj3/who-we-are_ar.png"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>