<?xml version="1.0" encoding="utf-8"?>
<Media Key="4fc2ad8f-fe9e-449b-ac3a-a12a0ba01e29" Alias="Who We Are En" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/WhoWeAreEn</Path>
    <Trashed Parent="d828057d-2c05-4cce-910e-ef2856a88432">true</Trashed>
    <ContentType>Image</ContentType>
    <CreateDate>2025-06-11T23:57:04</CreateDate>
    <NodeName Default="Who We Are En" />
    <SortOrder>12</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[{
  "src": "/media/rgwnet24/who-we-are_en.jpg"
}]]></Value>
    </umbracoFile>
  </Properties>
</Media>