<?xml version="1.0" encoding="utf-8"?>
<Media Key="4016c3b6-8128-41a8-bbb2-43a3ac5cd5c7" Alias="X White Icon" Level="2">
  <Info>
    <Parent Key="48ee850f-ab4a-445e-8076-220d7e1189b3">Shared</Parent>
    <Path>/Shared/XWhiteIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-17T06:02:38</CreateDate>
    <NodeName Default="X White Icon" />
    <SortOrder>44</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/q5bbmqbi/x-white-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>