<?xml version="1.0" encoding="utf-8"?>
<Media Key="b21bab1f-00a1-4939-9c0b-9015210aeae7" Alias="X" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/X</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:09</CreateDate>
    <NodeName Default="X" />
    <SortOrder>56</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/f0vbxmvb/x.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>