<?xml version="1.0" encoding="utf-8"?>
<Media Key="e7b8ba19-c565-486f-8817-288f30465a83" Alias="Youtube White Icon" Level="3">
  <Info>
    <Parent Key="15857eaa-62f2-4f54-9a35-fe98628af0fc">Home Page</Parent>
    <Path>/NRRC/HomePage/YoutubeWhiteIcon</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-05-30T17:00:02</CreateDate>
    <NodeName Default="Youtube White Icon" />
    <SortOrder>36</SortOrder>
  </Info>
  <Properties>
    <altText>
      <Value><![CDATA[]]></Value>
    </altText>
    <umbracoFile>
      <Value><![CDATA[/media/fc3lrz1f/youtube-white-icon.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>