<?xml version="1.0" encoding="utf-8"?>
<Media Key="2c178d0c-72e9-41e2-8f19-69470d5a6361" Alias="Youtube" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/Youtube</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:09</CreateDate>
    <NodeName Default="Youtube" />
    <SortOrder>57</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/hwgbolhj/youtube.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>