<?xml version="1.0" encoding="utf-8"?>
<Media Key="1e754a88-e019-4e9f-9e05-22c00e7c5a4c" Alias="Zoom Out Area" Level="2">
  <Info>
    <Parent Key="d637a0e4-b6ae-4bf7-a033-7d444fea2419">Shared</Parent>
    <Path>/Shared/ZoomOutArea</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaVectorGraphics</ContentType>
    <CreateDate>2025-04-19T15:03:10</CreateDate>
    <NodeName Default="Zoom Out Area" />
    <SortOrder>59</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/xffhkhqz/zoom-out-area.svg]]></Value>
    </umbracoFile>
  </Properties>
</Media>