<?xml version="1.0" encoding="utf-8"?>
<Media Key="dbce1cb0-300e-4436-a791-e30036da4184" Alias="أعمالنا" Level="3">
  <Info>
    <Parent Key="dce59ff6-b254-4a88-a25d-4e5b49c1e5dc">Content</Parent>
    <Path>/NRRC/Content/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:06</CreateDate>
    <NodeName Default="أعمالنا" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>