<?xml version="1.0" encoding="utf-8"?>
<Media Key="f4e15d5f-76a9-4bbb-a879-8df434789fbe" Alias="الاطار القانونى" Level="3">
  <Info>
    <Parent Key="dce59ff6-b254-4a88-a25d-4e5b49c1e5dc">Content</Parent>
    <Path>/NRRC/Content/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:07</CreateDate>
    <NodeName Default="الاطار القانونى" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>