<?xml version="1.0" encoding="utf-8"?>
<Media Key="6ed99544-1cff-44ed-9f7c-fa1087963a99" Alias="السياسات الوطنية" Level="102">
  <Info>
    <Parent Key="0612a6d2-67bb-44b5-9f77-86c92e43beb2">السياسات الوطنية</Parent>
    <Path>/[-21]//</Path>
    <Trashed Parent="0612a6d2-67bb-44b5-9f77-86c92e43beb2">true</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-12T15:00:45</CreateDate>
    <NodeName Default="السياسات الوطنية" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/nkkns1x5/السياسات-الوطنية.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>