<?xml version="1.0" encoding="utf-8"?>
<Media Key="e957b191-c836-4547-9a93-ae5785c0d983" Alias="اللوائح الفنية الخاصة" Level="4">
  <Info>
    <Parent Key="f4e15d5f-76a9-4bbb-a879-8df434789fbe">الاطار القانونى</Parent>
    <Path>/NRRC/Content//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:38</CreateDate>
    <NodeName Default="اللوائح الفنية الخاصة" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties />
</Media>