<?xml version="1.0" encoding="utf-8"?>
<Media Key="30d90c90-035d-40a3-a0cb-b47c4e314126" Alias="الإطار القانوني" Level="4">
  <Info>
    <Parent Key="f4e15d5f-76a9-4bbb-a879-8df434789fbe">الاطار القانونى</Parent>
    <Path>/NRRC/Content//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:07</CreateDate>
    <NodeName Default="الإطار القانوني" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>