<?xml version="1.0" encoding="utf-8"?>
<Media Key="a1e127b4-9152-4d36-82ac-a0b2cf30c279" Alias="المركز الاعلامى" Level="3">
  <Info>
    <Parent Key="dce59ff6-b254-4a88-a25d-4e5b49c1e5dc">Content</Parent>
    <Path>/NRRC/Content/</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:14</CreateDate>
    <NodeName Default="المركز الاعلامى" />
    <SortOrder>8</SortOrder>
  </Info>
  <Properties />
</Media>