<?xml version="1.0" encoding="utf-8"?>
<Media Key="1b0807d1-b73b-499a-bb0f-4f53c4839957" Alias="السياسات الوطنية" Level="4">
  <Info>
    <Parent Key="f4e15d5f-76a9-4bbb-a879-8df434789fbe">الاطار القانونى</Parent>
    <Path>/NRRC/Pages//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-12T15:04:06</CreateDate>
    <NodeName Default="السياسات الوطنية" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties />
</Media>