<?xml version="1.0" encoding="utf-8"?>
<Media Key="30cf9b05-3a25-45c5-93ad-7b415704b55e" Alias="النظام الدولي للمعلومات الدولية" Level="4">
  <Info>
    <Parent Key="54f89f72-1e63-4ac0-b4c8-509b92081881">البيانات المفتوحة والمصادر العامة</Parent>
    <Path>/NRRC/Pages//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:03</CreateDate>
    <NodeName Default="النظام الدولي للمعلومات الدولية" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>