<?xml version="1.0" encoding="utf-8"?>
<Media Key="8e85d88e-6825-46ce-a9d9-32f8adac8269" Alias="الرقابة النووية والممارسات الإشعاعية" Level="4">
  <Info>
    <Parent Key="dbce1cb0-300e-4436-a791-e30036da4184">أعمالنا</Parent>
    <Path>/NRRC/Content//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:07</CreateDate>
    <NodeName Default="الرقابة النووية والممارسات الإشعاعية" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>