<?xml version="1.0" encoding="utf-8"?>
<Media Key="d47290e3-d5d6-495d-a081-b0d7925043f2" Alias="اللوائح الفنية" Level="4">
  <Info>
    <Parent Key="f4e15d5f-76a9-4bbb-a879-8df434789fbe">الاطار القانونى</Parent>
    <Path>/NRRC/Content//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:22</CreateDate>
    <NodeName Default="اللوائح الفنية" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>