<?xml version="1.0" encoding="utf-8"?>
<Media Key="67b89402-791c-4081-ae75-e738721e29b2" Alias="اللائحة التنفيذية" Level="6">
  <Info>
    <Parent Key="01ba10d6-5d47-4fda-be37-0bd889c07c46">Files</Parent>
    <Path>/NRRC/Content///Files/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:21</CreateDate>
    <NodeName Default="اللائحة التنفيذية" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/fsklqzy2/اللاي-حة-التنفيذية.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>