<?xml version="1.0" encoding="utf-8"?>
<Media Key="b6b67a29-6659-4edb-9ea3-83dd5b4f5c23" Alias="الهيكل التنظيمي" Level="4">
  <Info>
    <Parent Key="24d6d838-ac48-4420-8fc9-ca7da29fced9">عن الهيئة</Parent>
    <Path>/NRRC/Content//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:05</CreateDate>
    <NodeName Default="الهيكل التنظيمي" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>