<?xml version="1.0" encoding="utf-8"?>
<Media Key="bb86c8cc-7a65-4fdf-b487-0544d1644ff2" Alias="الأنظمة النووية واللوائح التنفيذية" Level="4">
  <Info>
    <Parent Key="f4e15d5f-76a9-4bbb-a879-8df434789fbe">الاطار القانونى</Parent>
    <Path>/NRRC/Content//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:19</CreateDate>
    <NodeName Default="الأنظمة النووية واللوائح التنفيذية" />
    <SortOrder>3</SortOrder>
  </Info>
  <Properties />
</Media>