<?xml version="1.0" encoding="utf-8"?>
<Media Key="2cbafd51-a636-4cc0-bae1-febff0125495" Alias="التقرير السنوي" Level="4">
  <Info>
    <Parent Key="54f89f72-1e63-4ac0-b4c8-509b92081881">البيانات المفتوحة والمصادر العامة</Parent>
    <Path>/NRRC/Content//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:13</CreateDate>
    <NodeName Default="التقرير السنوي" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>