<?xml version="1.0" encoding="utf-8"?>
<Media Key="5c4857fd-d274-4494-ab6b-f746f54f4781" Alias="الإتفاقيات الدولية" Level="4">
  <Info>
    <Parent Key="bf282194-415f-4f63-b179-f4232d53ecbc">التعاون الدولى والصكوك الدولية</Parent>
    <Path>/NRRC/Content//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:04</CreateDate>
    <NodeName Default="الإتفاقيات الدولية" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties />
</Media>