<?xml version="1.0" encoding="utf-8"?>
<Media Key="54853c24-f76d-4c6c-b8e2-67790ddb4e1f" Alias="الإستراتيجية" Level="4">
  <Info>
    <Parent Key="24d6d838-ac48-4420-8fc9-ca7da29fced9">عن الهيئة</Parent>
    <Path>/NRRC/Content//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:06</CreateDate>
    <NodeName Default="الإستراتيجية" />
    <SortOrder>4</SortOrder>
  </Info>
  <Properties />
</Media>