<?xml version="1.0" encoding="utf-8"?>
<Media Key="afe79877-4dec-4fc9-bbab-9f822f1b1dff" Alias="الأدلة الإرشادية" Level="4">
  <Info>
    <Parent Key="f4e15d5f-76a9-4bbb-a879-8df434789fbe">الاطار القانونى</Parent>
    <Path>/NRRC/Content//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:14</CreateDate>
    <NodeName Default="الأدلة الإرشادية" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>