<?xml version="1.0" encoding="utf-8"?>
<Media Key="0612a6d2-67bb-44b5-9f77-86c92e43beb2" Alias="السياسات الوطنية" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-21]/</Path>
    <Trashed Parent="f4e15d5f-76a9-4bbb-a879-8df434789fbe">true</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-12T15:00:45</CreateDate>
    <NodeName Default="السياسات الوطنية" />
    <SortOrder>23</SortOrder>
  </Info>
  <Properties />
</Media>