<?xml version="1.0" encoding="utf-8"?>
<Media Key="6944a5e5-9ea2-4cf1-b6a0-31aba64de61f" Alias="تنظيم الهيئة" Level="6">
  <Info>
    <Parent Key="01ba10d6-5d47-4fda-be37-0bd889c07c46">Files</Parent>
    <Path>/NRRC/Content///Files/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:21</CreateDate>
    <NodeName Default="تنظيم الهيئة" />
    <SortOrder>5</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/zosfi0nc/تنظيم-الهيي-ة.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>