<?xml version="1.0" encoding="utf-8"?>
<Media Key="a68864f5-f23a-4d1d-9b41-319d30728f05" Alias="سياسة المشاركة الالكترونية" Level="4">
  <Info>
    <Parent Key="f4e15d5f-76a9-4bbb-a879-8df434789fbe">الاطار القانونى</Parent>
    <Path>/NRRC/Content//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:12</CreateDate>
    <NodeName Default="سياسة المشاركة الالكترونية" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>