<?xml version="1.0" encoding="utf-8"?>
<Media Key="a381554f-fb85-45ec-821f-62f786c7b83a" Alias="سياسات الهيئة" Level="4">
  <Info>
    <Parent Key="f4e15d5f-76a9-4bbb-a879-8df434789fbe">الاطار القانونى</Parent>
    <Path>/NRRC/Pages//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-13T00:22:37</CreateDate>
    <NodeName Default="سياسات الهيئة" />
    <SortOrder>7</SortOrder>
  </Info>
  <Properties />
</Media>