<?xml version="1.0" encoding="utf-8"?>
<Media Key="8f5aca5a-29b2-492b-b632-84fbf03bec0e" Alias="سياسة المشاركة الإلكترونية" Level="5">
  <Info>
    <Parent Key="a68864f5-f23a-4d1d-9b41-319d30728f05">سياسة المشاركة الالكترونية</Parent>
    <Path>/NRRC/Content///</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:12</CreateDate>
    <NodeName Default="سياسة المشاركة الإلكترونية" />
    <SortOrder>0</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/otffvd3s/سياسة-المشاركة-الإلكترونية.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>