<?xml version="1.0" encoding="utf-8"?>
<Media Key="e6005287-bd73-44ed-9c2a-5e7729601fc6" Alias="مجلس الإداره" Level="4">
  <Info>
    <Parent Key="24d6d838-ac48-4420-8fc9-ca7da29fced9">عن الهيئة</Parent>
    <Path>/NRRC/Content//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:05</CreateDate>
    <NodeName Default="مجلس الإداره" />
    <SortOrder>2</SortOrder>
  </Info>
  <Properties />
</Media>