<?xml version="1.0" encoding="utf-8"?>
<Media Key="d828057d-2c05-4cce-910e-ef2856a88432" Alias="من نحن" Level="4">
  <Info>
    <Parent Key="24d6d838-ac48-4420-8fc9-ca7da29fced9">عن الهيئة</Parent>
    <Path>/NRRC/Content//</Path>
    <Trashed>false</Trashed>
    <ContentType>Folder</ContentType>
    <CreateDate>2025-06-11T23:57:03</CreateDate>
    <NodeName Default="من نحن" />
    <SortOrder>1</SortOrder>
  </Info>
  <Properties />
</Media>