<?xml version="1.0" encoding="utf-8"?>
<Media Key="10c0c3c2-40fa-493f-8151-01d7d8a1139d" Alias="نظام الرقابة" Level="6">
  <Info>
    <Parent Key="01ba10d6-5d47-4fda-be37-0bd889c07c46">Files</Parent>
    <Path>/NRRC/Content///Files/</Path>
    <Trashed>false</Trashed>
    <ContentType>umbracoMediaArticle</ContentType>
    <CreateDate>2025-06-11T23:57:21</CreateDate>
    <NodeName Default="نظام الرقابة" />
    <SortOrder>6</SortOrder>
  </Info>
  <Properties>
    <umbracoFile>
      <Value><![CDATA[/media/3tbnaeh0/نظام-الرقابة.pdf]]></Value>
    </umbracoFile>
  </Properties>
</Media>