<?xml version="1.0" encoding="utf-8"?>
<Content Key="16629279-a477-419d-b222-ae17c3726068" Alias="Ahmed.abdelfatah.habib@gmail.com" Level="4">
  <Info>
    <Parent Key="5955134f-d51b-490d-93b0-cdf76c96cdfc">النشرة البريدية</Parent>
    <Path>//Lists//AhmedabdelfatahhabibGmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_NewsLetterItem</ContentType>
    <CreateDate>2025-06-02T03:47:11</CreateDate>
    <NodeName Default="Ahmed.abdelfatah.habib@gmail.com" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[Ahmed.abdelfatah.habib@gmail.com]]></Value>
    </email>
  </Properties>
</Content>