<?xml version="1.0" encoding="utf-8"?>
<Content Key="c084f8ee-c0b7-4d66-a8ee-e4f5b70eb48f" Alias="Ahmed.abdelf44atah.habib@gmail.com" Level="4">
  <Info>
    <Parent Key="5955134f-d51b-490d-93b0-cdf76c96cdfc">النشرة البريدية</Parent>
    <Path>//Lists//Ahmedabdelf44atahhabibGmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_NewsLetterItem</ContentType>
    <CreateDate>2025-06-02T03:51:05</CreateDate>
    <NodeName Default="Ahmed.abdelf44atah.habib@gmail.com" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[Ahmed.abdelf44atah.habib@gmail.com]]></Value>
    </email>
  </Properties>
</Content>