<?xml version="1.0" encoding="utf-8"?>
<Content Key="f9492d30-8eb7-4476-829e-b2b6269c3f9a" Alias="Ahmed.fffffffffff.habib@gmail.com (1)" Level="4">
  <Info>
    <Parent Key="5955134f-d51b-490d-93b0-cdf76c96cdfc">النشرة البريدية</Parent>
    <Path>//Lists//AhmedfffffffffffhabibGmailcom1</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_NewsLetterItem</ContentType>
    <CreateDate>2025-06-02T19:47:28</CreateDate>
    <NodeName Default="Ahmed.fffffffffff.habib@gmail.com (1)" />
    <SortOrder>11</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[Ahmed.fffffffffff.habib@gmail.com]]></Value>
    </email>
  </Properties>
</Content>