<?xml version="1.0" encoding="utf-8"?>
<Content Key="998521ff-4f79-423a-befd-1ffa485a0c9d" Alias="Ahmed.abd666elfatah.habib@gmail.com" Level="4">
  <Info>
    <Parent Key="5955134f-d51b-490d-93b0-cdf76c96cdfc">النشرة البريدية</Parent>
    <Path>//Lists//Ahmedabd666elfatahhabibGmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_NewsLetterItem</ContentType>
    <CreateDate>2025-06-02T03:55:34</CreateDate>
    <NodeName Default="Ahmed.abd666elfatah.habib@gmail.com" />
    <SortOrder>7</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[Ahmed.abd666elfatah.habib@gmail.com]]></Value>
    </email>
  </Properties>
</Content>