<?xml version="1.0" encoding="utf-8"?>
<Content Key="2f94dc75-c6a7-4b19-a0c4-8401532f42d1" Alias="AhmedHabib@gmail.com" Level="4">
  <Info>
    <Parent Key="5955134f-d51b-490d-93b0-cdf76c96cdfc">النشرة البريدية</Parent>
    <Path>//Lists//AhmedHabibGmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_NewsLetterItem</ContentType>
    <CreateDate>2025-06-02T20:14:40</CreateDate>
    <NodeName Default="AhmedHabib@gmail.com" />
    <SortOrder>13</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[AhmedHabib@gmail.com]]></Value>
    </email>
  </Properties>
</Content>