<?xml version="1.0" encoding="utf-8"?>
<Content Key="8460ad50-d6f8-4da1-8c1d-4fc05243c630" Alias="Ahme444d.abdelfatah.habib@gmail.com" Level="4">
  <Info>
    <Parent Key="5955134f-d51b-490d-93b0-cdf76c96cdfc">النشرة البريدية</Parent>
    <Path>//Lists//Ahme444dabdelfatahhabibGmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_NewsLetterItem</ContentType>
    <CreateDate>2025-06-02T03:53:59</CreateDate>
    <NodeName Default="Ahme444d.abdelfatah.habib@gmail.com" />
    <SortOrder>5</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[Ahme444d.abdelfatah.habib@gmail.com]]></Value>
    </email>
  </Properties>
</Content>