<?xml version="1.0" encoding="utf-8"?>
<Content Key="3396e187-5fdf-44ab-9d8b-ead8ed7623a0" Alias="Ahmedfff.abdelfatah.habib@gmail.com" Level="4">
  <Info>
    <Parent Key="5955134f-d51b-490d-93b0-cdf76c96cdfc">النشرة البريدية</Parent>
    <Path>//Lists//AhmedfffabdelfatahhabibGmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_NewsLetterItem</ContentType>
    <CreateDate>2025-06-03T13:10:54</CreateDate>
    <NodeName Default="Ahmedfff.abdelfatah.habib@gmail.com" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[Ahmedfff.abdelfatah.habib@gmail.com]]></Value>
    </email>
  </Properties>
</Content>