<?xml version="1.0" encoding="utf-8"?>
<Content Key="724325c2-79cc-4056-ae65-81d43ff7ee1b" Alias="Ahmed.abd44444elfatah.habib@gmail.com (1)" Level="4">
  <Info>
    <Parent Key="5955134f-d51b-490d-93b0-cdf76c96cdfc">النشرة البريدية</Parent>
    <Path>//Lists//Ahmedabd44444elfatahhabibGmailcom1</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_NewsLetterItem</ContentType>
    <CreateDate>2025-06-02T19:47:28</CreateDate>
    <NodeName Default="Ahmed.abd44444elfatah.habib@gmail.com (1)" />
    <SortOrder>9</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[Ahmed.abd44444elfatah.habib@gmail.com]]></Value>
    </email>
  </Properties>
</Content>