<?xml version="1.0" encoding="utf-8"?>
<Content Key="87c0e1c1-9f4c-4be0-831a-404820db9e26" Alias="Ahmed.abdelfatah2.habib@gmail.com" Level="4">
  <Info>
    <Parent Key="5955134f-d51b-490d-93b0-cdf76c96cdfc">النشرة البريدية</Parent>
    <Path>//Lists//Ahmedabdelfatah2habibGmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_NewsLetterItem</ContentType>
    <CreateDate>2025-06-02T03:49:12</CreateDate>
    <NodeName Default="Ahmed.abdelfatah2.habib@gmail.com" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[Ahmed.abdelfatah2.habib@gmail.com]]></Value>
    </email>
  </Properties>
</Content>