<?xml version="1.0" encoding="utf-8"?>
<Content Key="24af9cae-3f6d-436b-a7b2-1f04c06eb1cc" Alias="Ahmed.fffffffffff.habib@gmail.com (2)" Level="4">
  <Info>
    <Parent Key="5955134f-d51b-490d-93b0-cdf76c96cdfc">النشرة البريدية</Parent>
    <Path>//Lists//AhmedfffffffffffhabibGmailcom2</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_NewsLetterItem</ContentType>
    <CreateDate>2025-06-02T19:47:28</CreateDate>
    <NodeName Default="Ahmed.fffffffffff.habib@gmail.com (2)" />
    <SortOrder>12</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[Ahmed.fffffffffff.habib@gmail.com]]></Value>
    </email>
  </Properties>
</Content>