<?xml version="1.0" encoding="utf-8"?>
<Content Key="10b4cf72-5913-40df-9f14-28928276f2b8" Alias="Ahmed33333Habib@gmail.com" Level="4">
  <Info>
    <Parent Key="5955134f-d51b-490d-93b0-cdf76c96cdfc">النشرة البريدية</Parent>
    <Path>//Lists//Ahmed33333HabibGmailcom</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_NewsLetterItem</ContentType>
    <CreateDate>2025-06-02T20:16:01</CreateDate>
    <NodeName Default="Ahmed33333Habib@gmail.com" />
    <SortOrder>14</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[Ahmed33333Habib@gmail.com]]></Value>
    </email>
  </Properties>
</Content>