<?xml version="1.0" encoding="utf-8"?>
<Content Key="c0e3af26-4124-4ee7-96d2-54730f2dcd2e" Alias="fwfwfwf" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/fwfwfwf</Path>
    <Trashed Parent="3d7b8c62-9039-42e4-9783-0a430aa6dbfe">true</Trashed>
    <ContentType>DT_VersionsItem</ContentType>
    <CreateDate>2025-06-02T17:41:05</CreateDate>
    <NodeName Default="fwfwfwf">
      <Name Culture="ar">fwfwfwf</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
    </cssClass>
    <date>
      <Value Culture="ar"><![CDATA[2025-06-18T12:00:00]]></Value>
    </date>
    <description>
      <Value Culture="ar"><![CDATA[]]></Value>
    </description>
    <file>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "9eef2a94-9023-4541-8210-4004557a381a",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
    </file>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </hide>
    <image>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "39e8e745-6c84-44f5-8737-94fdf74f67a9",
    "mediaKey": "4c5aa63c-5efb-4595-9665-477946a07761"
  }
]]]></Value>
    </image>
    <order>
      <Value Culture="ar"><![CDATA[5]]></Value>
    </order>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
    </pageIcon>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInHome>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showInHome>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>