<?xml version="1.0" encoding="utf-8"?>
<Content Key="edec8822-284d-4573-968b-dd4983c240a2" Alias="malfy@interactive.sa" Level="4">
  <Info>
    <Parent Key="5955134f-d51b-490d-93b0-cdf76c96cdfc">النشرة البريدية</Parent>
    <Path>//Lists//malfyInteractivesa</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_NewsLetterItem</ContentType>
    <CreateDate>2025-06-03T09:40:20</CreateDate>
    <NodeName Default="malfy@interactive.sa" />
    <SortOrder>15</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <email>
      <Value><![CDATA[malfy@interactive.sa]]></Value>
    </email>
  </Properties>
</Content>