<?xml version="1.0" encoding="utf-8"?>
<Content Key="821ee394-f540-4615-bafd-c10e6dbe15e7" Alias="National Nuclear Registry" Level="4">
  <Info>
    <Parent Key="ab5ccbb4-ea92-41e8-8012-3102dc742e0b">الخدمات</Parent>
    <Path>//Lists//NationalNuclearRegistry</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_ServicesItem</ContentType>
    <CreateDate>2025-06-07T15:50:56</CreateDate>
    <NodeName Default="National Nuclear Registry">
      <Name Culture="en-us">National Nuclear Registry (1)</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="false">
      <Published Culture="en-us">false</Published>
    </Published>
    <Schedule />
    <Template Key="8e494aed-8b25-482f-95bf-a5bc7b0a05dd">DT_ServicesItem</Template>
  </Info>
  <Properties>
    <category>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/36e60b6b3a4e4a48924930726cb3fc11"
      },
      {
        "contentUdi": "umb://element/4874a0c5b9884dbf937e3d17f0552e87"
      },
      {
        "contentUdi": "umb://element/d6749c7b27464b268fe11b375378f90e"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/36e60b6b3a4e4a48924930726cb3fc11",
      "category": "umb://document/09bb4a0f8d4d4c0b94cb4144d7ac9760"
    },
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/4874a0c5b9884dbf937e3d17f0552e87",
      "category": "umb://document/ebd4a973430c4e30b58d2cbe8bf49d1c"
    },
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/d6749c7b27464b268fe11b375378f90e",
      "category": "umb://document/e7c8bbcedc294c40a17167c17ab26c98"
    }
  ],
  "settingsData": []
}]]></Value>
    </category>
    <description>
      <Value Culture="en-us"><![CDATA[​​​​The National Nuclear Registry Platform is a national database for nuclear materials and radiation sources inventory, in addition to monitoring their movements, such as import, export, transfer, manufacturing, or mining. It also includes information on licensed facilities, radiation practices, and their related data.
]]></Value>
    </description>
    <details>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>​​​​The National Nuclear Registry Platform is a national database for nuclear materials and radiation sources inventory, in addition to monitoring their movements, such as import, export, transfer, manufacturing, or mining. It also includes information on licensed facilities, radiation practices, and their related data.</p>\n<p>Additionally, the National Nuclear Registry contains personnel, employment, and records of occupational exposures.</p>\n<p>The platform aims to enable licensed facilities to electronically register and periodically update data related to nuclear materials and radiation sources. It also keeps occupational radiation exposure dose records to conduct immediate safety assessments and help ensure compliance with dose limits and constraints.​</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </details>
    <hide>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hide>
    <icon>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "6153c5e8-c68a-4c26-98bf-0f277d3feb6d",
    "mediaKey": "eea03720-4551-403a-a234-a00f67a65163"
  }
]]]></Value>
    </icon>
    <itemOrder>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </itemOrder>
    <title>
      <Value Culture="en-us"><![CDATA[National Nuclear Registry]]></Value>
    </title>
  </Properties>
</Content>