<?xml version="1.0" encoding="utf-8"?>
<Content Key="0818153c-914c-44ba-8e2e-419bc6964f48" Alias="Types of services" Level="3">
  <Info>
    <Parent Key="86556fe5-4c62-4e94-893b-5189cf91b6e5">Lists</Parent>
    <Path>//Lists/TypesOfServices</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItems</ContentType>
    <CreateDate>2025-05-24T18:15:45</CreateDate>
    <NodeName Default="Types of services" />
    <SortOrder>6</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value><![CDATA[]]></Value>
    </cssClass>
    <pageIcon>
      <Value><![CDATA[[]]]></Value>
    </pageIcon>
    <redirectURL>
      <Value><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value><![CDATA[0]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>