<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8efb4d4-9c2e-4fdc-aa40-19a3fae4d8cb" Alias="إصداراتنا" Level="3">
  <Info>
    <Parent Key="86556fe5-4c62-4e94-893b-5189cf91b6e5">Lists</Parent>
    <Path>//Lists/</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_Versions</ContentType>
    <CreateDate>2025-04-21T15:08:39</CreateDate>
    <NodeName Default="إصداراتنا">
      <Name Culture="ar">إصداراتنا</Name>
      <Name Culture="en-us">إصداراتنا</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0abc018e-bcc6-40d3-a00e-79dafc53e2d9">DT_RedirectPage</Template>
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <redirectURL>
      <Value Culture="ar"><![CDATA[[
  {
    "udi": "umb://document/2249825d0b69410382cdbc1fa13f2c9c"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "udi": "umb://document/2249825d0b69410382cdbc1fa13f2c9c"
  }
]]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>