<?xml version="1.0" encoding="utf-8"?>
<Content Key="abbc7edc-eb7a-4891-979d-28dc68ecf4f0" Alias="اتفاقية الدعم والإجراءات التعويضية" Level="4">
  <Info>
    <Parent Key="e8efb4d4-9c2e-4fdc-aa40-19a3fae4d8cb">إصداراتنا</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_VersionsItem</ContentType>
    <CreateDate>2025-04-21T15:17:17</CreateDate>
    <NodeName Default="اتفاقية الدعم والإجراءات التعويضية">
      <Name Culture="ar">اتفاقية الدعم والإجراءات التعويضية</Name>
      <Name Culture="en-us">اتفاقية الدعم والإجراءات التعويضية</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <date>
      <Value Culture="ar"><![CDATA[2025-04-01T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2025-04-01T12:00:00]]></Value>
    </date>
    <description>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
    <file>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "0448af39-319b-490c-8097-156a2bdef97b",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "065cbe2b-78b2-496d-9cb9-931fe7d5312e",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
    </file>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hide>
    <image>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "9099b008-5dec-44dc-9b66-e60473b03d67",
    "mediaKey": "8bd9b9e1-9949-40ed-88e7-4ea66c7d86e5"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "d2828ad3-c6d0-4916-b50c-7e0b01861015",
    "mediaKey": "8bd9b9e1-9949-40ed-88e7-4ea66c7d86e5"
  }
]]]></Value>
    </image>
    <order>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </order>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInHome>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInHome>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>