<?xml version="1.0" encoding="utf-8"?>
<Content Key="a6207cc4-1573-47b1-ba16-94bffcc40446" Alias="اختتام البرنامج التدريبي (الحماية من الإشعاع وأمان المصادر المشعة)" Level="4">
  <Info>
    <Parent Key="78dee17b-4ab4-4792-ab1d-4f82d6cf04bc">الفعاليات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_EventsItem</ContentType>
    <CreateDate>2025-06-02T18:01:00</CreateDate>
    <NodeName Default="اختتام البرنامج التدريبي (الحماية من الإشعاع وأمان المصادر المشعة)">
      <Name Culture="ar">اختتام البرنامج التدريبي (الحماية من الإشعاع وأمان المصادر المشعة)</Name>
      <Name Culture="en-us">Conclusion of the training program (Radiation Protection and Safety of Radioactive Sources)</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="5b5eb258-b123-444b-bb95-e794cd39c584">EventsItem</Template>
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <dateEnd>
      <Value Culture="ar"><![CDATA[2025-07-07T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2025-07-07T12:00:00]]></Value>
    </dateEnd>
    <dateStart>
      <Value Culture="ar"><![CDATA[2025-06-18T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2025-06-18T12:00:00]]></Value>
    </dateStart>
    <details>
      <Value Culture="ar"><![CDATA[{
  "markup": "<div class=\"page-title-section border-bottom pb-5\">\n<div class=\"d-flex justify-content-between align-items-center\">\n<h2 class=\"font-bold\">اختتام البرنامج التدريبي (الحماية من الإشعاع وأمان المصادر المشعة)</h2>\n</div>\n</div>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Conclusion of the training program (Radiation Protection and Safety of Radioactive Sources)</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </details>
    <eventURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </eventURL>
    <image>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "d6b1823d-12e5-4ed7-8b87-af1cb0574ee1",
    "mediaKey": "d1c5f71b-e4bd-4630-bbff-2d063f9aa69a"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="ar"><![CDATA[الرياض]]></Value>
      <Value Culture="en-us"><![CDATA[Jedda]]></Value>
    </location>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </pageIcon>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>