<?xml version="1.0" encoding="utf-8"?>
<Content Key="5955134f-d51b-490d-93b0-cdf76c96cdfc" Alias="النشرة البريدية" Level="3">
  <Info>
    <Parent Key="86556fe5-4c62-4e94-893b-5189cf91b6e5">Lists</Parent>
    <Path>//Lists/</Path>
    <Trashed>false</Trashed>
    <ContentType>news_Letter</ContentType>
    <CreateDate>2025-05-31T18:23:35</CreateDate>
    <NodeName Default="النشرة البريدية">
      <Name Culture="ar">النشرة البريدية</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties />
</Content>