<?xml version="1.0" encoding="utf-8"?>
<Content Key="5955134f-d51b-490d-93b0-cdf76c96cdfc" Alias="النشرة البريدية" Level="3">
  <Info>
    <Parent Key="86556fe5-4c62-4e94-893b-5189cf91b6e5">Lists</Parent>
    <Path>//Lists/</Path>
    <Trashed>false</Trashed>
    <ContentType>news_Letter</ContentType>
    <CreateDate>2025-05-31T18:23:35</CreateDate>
    <NodeName Default="النشرة البريدية">
      <Name Culture="ar">النشرة البريدية</Name>
      <Name Culture="en-us">NewsLetter</Name>
    </NodeName>
    <SortOrder>7</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0abc018e-bcc6-40d3-a00e-79dafc53e2d9">DT_RedirectPage</Template>
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageIcon>
    <redirectURL>
      <Value Culture="ar"><![CDATA[[
  {
    "udi": "umb://document/0f311b6b56874b97b224c668f9306d37"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </showSharingIcons>
  </Properties>
</Content>