<?xml version="1.0" encoding="utf-8"?>
<Content Key="38b2708b-b0f4-46ba-be21-e06f6ab3fc30" Alias="التقرير السنوي 2022" Level="4">
  <Info>
    <Parent Key="e8efb4d4-9c2e-4fdc-aa40-19a3fae4d8cb">إصداراتنا</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_VersionsItem</ContentType>
    <CreateDate>2025-04-21T15:22:32</CreateDate>
    <NodeName Default="التقرير السنوي 2022">
      <Name Culture="ar">التقرير السنوي 2022</Name>
      <Name Culture="en-us">التقرير السنوي 2022</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <date>
      <Value Culture="ar"><![CDATA[2022-04-01T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2022-04-01T12:00:00]]></Value>
    </date>
    <description>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
    <file>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "b808cd98-39dc-49d1-8288-8f206c68ce61",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "2ea26798-3657-4dac-8efb-5703f51333e8",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
    </file>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hide>
    <image>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "cc228dff-d5fe-4fed-830d-c7489b8cac67",
    "mediaKey": "00abcdbe-8826-4b55-97bc-d3880314c177"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "1ace34df-7f50-44fb-958b-4b8728bd3411",
    "mediaKey": "00abcdbe-8826-4b55-97bc-d3880314c177"
  }
]]]></Value>
    </image>
    <order>
      <Value Culture="ar"><![CDATA[2]]></Value>
      <Value Culture="en-us"><![CDATA[2]]></Value>
    </order>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInHome>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInHome>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>