<?xml version="1.0" encoding="utf-8"?>
<Content Key="af111c53-e6de-4492-9cb0-81fef9da28a6" Alias="التقرير السنوي 2023" Level="4">
  <Info>
    <Parent Key="e8efb4d4-9c2e-4fdc-aa40-19a3fae4d8cb">إصداراتنا</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_VersionsItem</ContentType>
    <CreateDate>2025-04-21T15:23:16</CreateDate>
    <NodeName Default="التقرير السنوي 2023">
      <Name Culture="ar">التقرير السنوي 2023</Name>
      <Name Culture="en-us">التقرير السنوي 2023</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <date>
      <Value Culture="ar"><![CDATA[2023-04-01T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2023-04-01T12:00:00]]></Value>
    </date>
    <description>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
    <file>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "206046e0-cab9-4c4d-be46-6b059d334250",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "7be63e11-c584-4365-93a1-4b11441aa7fd",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
    </file>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hide>
    <image>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "b9e33b12-0f40-46fa-b77c-87453de10d98",
    "mediaKey": "9b3f9653-ec83-4dfc-aa8c-7d8bd088f146"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "0ccf0093-2368-45ee-a3e1-2a848f9b20aa",
    "mediaKey": "9b3f9653-ec83-4dfc-aa8c-7d8bd088f146"
  }
]]]></Value>
    </image>
    <order>
      <Value Culture="ar"><![CDATA[3]]></Value>
      <Value Culture="en-us"><![CDATA[3]]></Value>
    </order>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInHome>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInHome>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>