<?xml version="1.0" encoding="utf-8"?>
<Content Key="723f573b-f422-4950-bc4a-375b7d0e1432" Alias="السجل الوطني النووي" Level="4">
  <Info>
    <Parent Key="ab5ccbb4-ea92-41e8-8012-3102dc742e0b">الخدمات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_ServicesItem</ContentType>
    <CreateDate>2025-05-30T17:16:41</CreateDate>
    <NodeName Default="السجل الوطني النووي">
      <Name Culture="ar">السجل الوطني النووي</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
    </Published>
    <Schedule />
    <Template Key="8e494aed-8b25-482f-95bf-a5bc7b0a05dd">DT_ServicesItem</Template>
  </Info>
  <Properties>
    <category>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/c81689f79bbc4711b743fba4eac174ab"
      },
      {
        "contentUdi": "umb://element/aada535aeea848dc9cd6c19ac238dcd0"
      },
      {
        "contentUdi": "umb://element/51a3bd08e0434d77a1e9e2fb101e76d1"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/c81689f79bbc4711b743fba4eac174ab",
      "category": "umb://document/09bb4a0f8d4d4c0b94cb4144d7ac9760"
    },
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/aada535aeea848dc9cd6c19ac238dcd0",
      "category": "umb://document/ebd4a973430c4e30b58d2cbe8bf49d1c"
    },
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/51a3bd08e0434d77a1e9e2fb101e76d1",
      "category": "umb://document/e7c8bbcedc294c40a17167c17ab26c98"
    }
  ],
  "settingsData": []
}]]></Value>
    </category>
    <description>
      <Value Culture="ar"><![CDATA[تهدف منصة السجلات الوطنية إلى تمكين المنشآت المرخصة من تسجيل بياناتها بإدخال المعلومات إلكترونياً ...]]></Value>
    </description>
    <details>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>تهدف منصة السجلات الوطنية إلى تمكين المنشآت المرخصة من تسجيل بياناتها بإدخال المعلومات إلكترونياً وتحديثها بشكل دوري، وتشمل معلومات المرافق والممارسات الإشعاعية وبياناتها اللوجستية، وبيانات المصادر الإشعاعية، وبيانات المواد النووية ، بالإضافة إلى بيانات العاملين في المجال الإشعاعي، ومعلومات جرعات التعرض للعاملين في المجال الإشعاعي.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </details>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </hide>
    <icon>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "89185300-cbd7-49cf-bf3b-05a97514b59a",
    "mediaKey": "30017544-0c44-4606-b42a-6146a93cb450"
  }
]]]></Value>
    </icon>
    <itemOrder>
      <Value Culture="ar"><![CDATA[3]]></Value>
    </itemOrder>
    <title>
      <Value Culture="ar"><![CDATA[السجل الوطني النووي]]></Value>
    </title>
  </Properties>
</Content>