<?xml version="1.0" encoding="utf-8"?>
<Content Key="ab5ccbb4-ea92-41e8-8012-3102dc742e0b" Alias="الخدمات" Level="3">
  <Info>
    <Parent Key="86556fe5-4c62-4e94-893b-5189cf91b6e5">Lists</Parent>
    <Path>//Lists/</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_Services</ContentType>
    <CreateDate>2025-05-22T16:07:44</CreateDate>
    <NodeName Default="الخدمات">
      <Name Culture="ar">الخدمات</Name>
      <Name Culture="en-us">Services</Name>
    </NodeName>
    <SortOrder>5</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0f318359-c478-4a78-93ee-9e1cc41311f1">DT_Services</Template>
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </pageIcon>
    <redirectURL>
      <Value Culture="ar"><![CDATA[[
  {
    "name": "المزيد",
    "udi": "umb://document/e414c5014dd8410d9db89fd9214a8333"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>