<?xml version="1.0" encoding="utf-8"?>
<Content Key="fa3ad574-0872-4fc3-9a89-169848ce510e" Alias="الإطار التشريعي الوطني للرقابة النووية" Level="4">
  <Info>
    <Parent Key="3d7b8c62-9039-42e4-9783-0a430aa6dbfe">المنشورات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_VersionsItem</ContentType>
    <CreateDate>2025-06-02T17:39:00</CreateDate>
    <NodeName Default="الإطار التشريعي الوطني للرقابة النووية">
      <Name Culture="ar">الإطار التشريعي الوطني للرقابة النووية</Name>
      <Name Culture="en-us">National legislative framework for nuclear regulation</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <date>
      <Value Culture="ar"><![CDATA[2025-06-17T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2025-06-25T12:00:00]]></Value>
    </date>
    <description>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
    <file>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "137213ec-0a87-44cf-ab4f-c1a17b426cae",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "d98a2e5c-4ee5-43a2-8ed5-40ad18ce8542",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
    </file>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hide>
    <image>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "750aa925-d3f8-4dc6-b3ae-2b8c5d393fea",
    "mediaKey": "40fbc58f-0207-4499-96ed-d4d6cc9912d9"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "e21528d4-c909-4c8c-8232-bfc8fa8d16cf",
    "mediaKey": "40fbc58f-0207-4499-96ed-d4d6cc9912d9"
  }
]]]></Value>
    </image>
    <order>
      <Value Culture="ar"><![CDATA[3]]></Value>
      <Value Culture="en-us"><![CDATA[2]]></Value>
    </order>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </pageIcon>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInHome>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInHome>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>