<?xml version="1.0" encoding="utf-8"?>
<Content Key="ebd4a973-430c-4e30-b58d-2cbe8bf49d1c" Alias="الخدمات" Level="4">
  <Info>
    <Parent Key="0818153c-914c-44ba-8e2e-419bc6964f48">Types of services</Parent>
    <Path>//Lists/TypesOfServices/</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-05-24T18:17:53</CreateDate>
    <NodeName Default="الخدمات" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value><![CDATA[border-blue-500 bg-blue-50 text-primary]]></Value>
    </cssClass>
    <hide>
      <Value><![CDATA[0]]></Value>
    </hide>
    <itemOrder>
      <Value><![CDATA[2]]></Value>
    </itemOrder>
    <titleAr>
      <Value><![CDATA[الخدمات]]></Value>
    </titleAr>
    <titleEn>
      <Value><![CDATA[Services]]></Value>
    </titleEn>
  </Properties>
</Content>