<?xml version="1.0" encoding="utf-8"?>
<Content Key="915a4e38-d17d-4f25-a76c-29cd4a5016a7" Alias="الدورة التدريبية الوطنية للمستجيبين الأوائل للطوارئ الإشعاعية" Level="4">
  <Info>
    <Parent Key="78dee17b-4ab4-4792-ab1d-4f82d6cf04bc">الفعاليات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_EventsItem</ContentType>
    <CreateDate>2025-06-02T17:58:34</CreateDate>
    <NodeName Default="الدورة التدريبية الوطنية للمستجيبين الأوائل للطوارئ الإشعاعية">
      <Name Culture="ar">الدورة التدريبية الوطنية للمستجيبين الأوائل للطوارئ الإشعاعية</Name>
      <Name Culture="en-us">National Training Course for First Responders to Radiation Emergencies</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <dateEnd>
      <Value Culture="ar"><![CDATA[2025-07-08T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2025-07-03T12:00:00]]></Value>
    </dateEnd>
    <dateStart>
      <Value Culture="ar"><![CDATA[2025-06-25T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2025-06-09T12:00:00]]></Value>
    </dateStart>
    <details>
      <Value Culture="ar"><![CDATA[{
  "markup": "<div class=\"page-title-section border-bottom pb-5\">\n<div class=\"d-flex justify-content-between align-items-center\">\n<h2 class=\"font-bold\">الدورة التدريبية الوطنية للمستجيبين الأوائل للطوارئ الإشعاعية</h2>\n</div>\n</div>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>National Training Course for First Responders to Radiation Emergencies</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </details>
    <eventURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </eventURL>
    <image>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "705f7961-6108-4317-9bfc-3c6d839bde9e",
    "mediaKey": "d1c5f71b-e4bd-4630-bbff-2d063f9aa69a"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="ar"><![CDATA[الرياض]]></Value>
      <Value Culture="en-us"><![CDATA[Riyadh]]></Value>
    </location>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </pageIcon>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>