<?xml version="1.0" encoding="utf-8"?>
<Content Key="3d7b8c62-9039-42e4-9783-0a430aa6dbfe" Alias="المنشورات" Level="3">
  <Info>
    <Parent Key="86556fe5-4c62-4e94-893b-5189cf91b6e5">Lists</Parent>
    <Path>//Lists/</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_Versions</ContentType>
    <CreateDate>2025-05-22T00:49:03</CreateDate>
    <NodeName Default="المنشورات">
      <Name Culture="ar">المنشورات</Name>
      <Name Culture="en-us">Publications</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0abc018e-bcc6-40d3-a00e-79dafc53e2d9">DT_RedirectPage</Template>
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </pageIcon>
    <redirectURL>
      <Value Culture="ar"><![CDATA[[
  {
    "udi": "umb://document/0fb70cc7b128453a86b28bc8c231dd91"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>