<?xml version="1.0" encoding="utf-8"?>
<Content Key="b39fdbb8-91b4-42c8-b43b-11795a9ecba5" Alias="الرقابة التنظيمية على استكشاف اليورانيوم" Level="4">
  <Info>
    <Parent Key="3d7b8c62-9039-42e4-9783-0a430aa6dbfe">المنشورات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_VersionsItem</ContentType>
    <CreateDate>2025-06-02T17:39:46</CreateDate>
    <NodeName Default="الرقابة التنظيمية على استكشاف اليورانيوم">
      <Name Culture="ar">الرقابة التنظيمية على استكشاف اليورانيوم</Name>
      <Name Culture="en-us">Regulatory oversight of uranium exploration</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <date>
      <Value Culture="ar"><![CDATA[2025-06-17T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2025-06-16T12:00:00]]></Value>
    </date>
    <description>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
    <file>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "1dde34d1-fe13-4f6b-9bef-425f8102f1d3",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "42bfc4c0-120d-41c0-9fda-d34e109b9988",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
    </file>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hide>
    <image>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "2b72ee1c-2590-426e-979a-20bd28ed5219",
    "mediaKey": "40fbc58f-0207-4499-96ed-d4d6cc9912d9"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "6f9ffcf0-02de-4e8f-aaba-658fdffd3d5d",
    "mediaKey": "40fbc58f-0207-4499-96ed-d4d6cc9912d9"
  }
]]]></Value>
    </image>
    <order>
      <Value Culture="ar"><![CDATA[4]]></Value>
      <Value Culture="en-us"><![CDATA[3]]></Value>
    </order>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </pageIcon>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInHome>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInHome>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>