<?xml version="1.0" encoding="utf-8"?>
<Content Key="90ff6fdb-f50d-4ada-b7c5-125635886604" Alias="الإجتماع الدوري ال (40) للجنة الوطنية الدائمة للاستجاية الطوارئ الإشعاعية والنووية" Level="4">
  <Info>
    <Parent Key="90388c21-cc56-42af-b891-69981112fce1">الأخبار</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_NewsItem</ContentType>
    <CreateDate>2025-05-21T10:12:18</CreateDate>
    <NodeName Default="الإجتماع الدوري ال (40) للجنة الوطنية الدائمة للاستجاية الطوارئ الإشعاعية والنووية">
      <Name Culture="ar">الإجتماع الدوري ال (40) للجنة الوطنية الدائمة للاستجاية الطوارئ الإشعاعية والنووية</Name>
      <Name Culture="en-us">40th regular meeting of the national Permanent Committee for Radiological and Nuclear Emergency Response</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="152a2150-df81-4ba9-95c0-cfaf4274e7f0">NewsItem</Template>
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <date>
      <Value Culture="ar"><![CDATA[2025-05-14T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2025-05-14T12:00:00]]></Value>
    </date>
    <description>
      <Value Culture="ar"><![CDATA[عقدت ⁧‫#هيئة_الرقابة_النووية_والإشعاعية‬⁩ اليوم الإجتماع الدوري ال(40) للجنة الوطنية الدائمة للاستجابة للطوارئ الإشعاعية والنووية، وبمشاركة ممثلي الجهات الوطنية باللجنة]]></Value>
      <Value Culture="en-us"><![CDATA[40th regular meeting of the national Permanent Committee for Radiological and Nuclear Emergency Response
]]></Value>
    </description>
    <details>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p dir=\"rtl\">عقدت ⁧‫#هيئة_الرقابة_النووية_والإشعاعية‬⁩ اليوم الإجتماع الدوري ال(40) للجنة الوطنية الدائمة للاستجابة للطوارئ الإشعاعية والنووية، وبمشاركة ممثلي الجهات الوطنية باللجنة<br><br></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>The Nuclear and Radiological Regulatory Commission (#NRRC) held today the 40th regular meeting of the National Permanent Committee for Radiological and Nuclear Emergency Response, with the participation of representatives from the national entities on the committee.​</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </details>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hide>
    <hideInnerImage>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hideInnerImage>
    <image>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "1dbd2c3f-f3b9-41f2-a38a-014db5e83b52",
    "mediaKey": "081ae107-c0a1-4355-898a-b3788a222059"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "12b71f49-7bf4-4970-8685-225d797cd0e1",
    "mediaKey": "081ae107-c0a1-4355-898a-b3788a222059"
  }
]]]></Value>
    </image>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </pageIcon>
    <pageTitle>
      <Value Culture="ar"><![CDATA[الإجتماع الدوري ال (40) للجنة الوطنية الدائمة للاستجاية الطوارئ الإشعاعية والنووية]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>