<?xml version="1.0" encoding="utf-8"?>
<Content Key="78dee17b-4ab4-4792-ab1d-4f82d6cf04bc" Alias="الفعاليات" Level="3">
  <Info>
    <Parent Key="86556fe5-4c62-4e94-893b-5189cf91b6e5">Lists</Parent>
    <Path>//Lists/</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_Events</ContentType>
    <CreateDate>2025-05-21T22:55:22</CreateDate>
    <NodeName Default="الفعاليات">
      <Name Culture="ar">الفعاليات</Name>
      <Name Culture="en-us">Events</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="0abc018e-bcc6-40d3-a00e-79dafc53e2d9">DT_RedirectPage</Template>
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </pageIcon>
    <redirectURL>
      <Value Culture="ar"><![CDATA[[
  {
    "name": "المزيد",
    "udi": "umb://document/2249825d0b69410382cdbc1fa13f2c9c"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>