<?xml version="1.0" encoding="utf-8"?>
<Content Key="09bb4a0f-8d4d-4c0b-94cb-4144d7ac9760" Alias="المستفيدين" Level="4">
  <Info>
    <Parent Key="0818153c-914c-44ba-8e2e-419bc6964f48">أنواع الخدمات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-05-24T18:17:23</CreateDate>
    <NodeName Default="المستفيدين" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value><![CDATA[border-gray-100 bg-gray-100]]></Value>
    </cssClass>
    <hide>
      <Value><![CDATA[0]]></Value>
    </hide>
    <itemOrder>
      <Value><![CDATA[1]]></Value>
    </itemOrder>
    <titleAr>
      <Value><![CDATA[المستفيدين]]></Value>
    </titleAr>
    <titleEn>
      <Value><![CDATA[Beneficiaries]]></Value>
    </titleEn>
  </Properties>
</Content>