<?xml version="1.0" encoding="utf-8"?>
<Content Key="439e5178-1743-45aa-ab9d-d547cbf2984a" Alias="بوابة خدمات المستفيدين" Level="4">
  <Info>
    <Parent Key="ab5ccbb4-ea92-41e8-8012-3102dc742e0b">الخدمات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_ServicesItem</ContentType>
    <CreateDate>2025-05-30T17:06:25</CreateDate>
    <NodeName Default="بوابة خدمات المستفيدين">
      <Name Culture="ar">بوابة خدمات المستفيدين</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
    </Published>
    <Schedule />
    <Template Key="8e494aed-8b25-482f-95bf-a5bc7b0a05dd">DT_ServicesItem</Template>
  </Info>
  <Properties>
    <category>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a0a171f07e264bc7aac2bbfe67958068"
      },
      {
        "contentUdi": "umb://element/010078948be34bcdbb62c0ce278d6fea"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/a0a171f07e264bc7aac2bbfe67958068",
      "category": "umb://document/ebd4a973430c4e30b58d2cbe8bf49d1c"
    },
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/010078948be34bcdbb62c0ce278d6fea",
      "category": "umb://document/e7c8bbcedc294c40a17167c17ab26c98"
    }
  ],
  "settingsData": []
}]]></Value>
    </category>
    <description>
      <Value Culture="ar"><![CDATA[تهدف بوابة مسؤولي الحماية من الاشعاع إلى أتمتة إجراءات الترخيص لمسؤولي الحماية من الاشعاع ...]]></Value>
    </description>
    <details>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>تهدف<span>&nbsp;<a href=\"https://rsolicensing.nrrc.gov.sa/\" data-uw-rm-brl=\"PR\" data-uw-original-href=\"https://rsolicensing.nrrc.gov.sa/\">بوابة مسؤولي الحماية من الاشعاع</a>&nbsp;</span>إلى أتمتة إجراءات الترخيص لمسؤولي الحماية من الاشعاع وتسهيل الوصول للخدمات المتعلقة برخصهم، وتقوم هيئة الرقابة النووية والاشعاعية باستمرار بإضافة المزيد من الخدمات والتي من شأنها رفع مستوى الخدمة وتسهيل عملية التواصل بين مسؤول الحماية من الاشعاع والهيئة<span>.</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </details>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </hide>
    <icon>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "5797f070-78f6-4b31-9b18-b64ca25f4d99",
    "mediaKey": "30017544-0c44-4606-b42a-6146a93cb450"
  }
]]]></Value>
    </icon>
    <itemOrder>
      <Value Culture="ar"><![CDATA[1]]></Value>
    </itemOrder>
    <title>
      <Value Culture="ar"><![CDATA[بوابة خدمات المستفيدين]]></Value>
    </title>
  </Properties>
</Content>