<?xml version="1.0" encoding="utf-8"?>
<Content Key="439e5178-1743-45aa-ab9d-d547cbf2984a" Alias="بوابة خدمات المستفيدين" Level="4">
  <Info>
    <Parent Key="ab5ccbb4-ea92-41e8-8012-3102dc742e0b">الخدمات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_ServicesItem</ContentType>
    <CreateDate>2025-05-30T17:06:25</CreateDate>
    <NodeName Default="بوابة خدمات المستفيدين">
      <Name Culture="ar">بوابة خدمات المستفيدين</Name>
      <Name Culture="en-us">Beneficiary Services Portal</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="8e494aed-8b25-482f-95bf-a5bc7b0a05dd">DT_ServicesItem</Template>
  </Info>
  <Properties>
    <category>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/4f6ea64f77b64ce8b1259d19ae8a22f7"
      },
      {
        "contentUdi": "umb://element/b8b3be8469244bd2a90593e8aeeeab4e"
      },
      {
        "contentUdi": "umb://element/ab450445343b4cd2b61ffe99ee681e38"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/4f6ea64f77b64ce8b1259d19ae8a22f7",
      "category": "umb://document/09bb4a0f8d4d4c0b94cb4144d7ac9760"
    },
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/b8b3be8469244bd2a90593e8aeeeab4e",
      "category": "umb://document/ebd4a973430c4e30b58d2cbe8bf49d1c"
    },
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/ab450445343b4cd2b61ffe99ee681e38",
      "category": "umb://document/e7c8bbcedc294c40a17167c17ab26c98"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/696b2432c49446169158fb88fe89617d"
      },
      {
        "contentUdi": "umb://element/3a943ae06f094f6e9cc8f4c1b8a26f36"
      },
      {
        "contentUdi": "umb://element/639307081abf407d9108ed592170c0eb"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/696b2432c49446169158fb88fe89617d",
      "category": "umb://document/09bb4a0f8d4d4c0b94cb4144d7ac9760"
    },
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/3a943ae06f094f6e9cc8f4c1b8a26f36",
      "category": "umb://document/ebd4a973430c4e30b58d2cbe8bf49d1c"
    },
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/639307081abf407d9108ed592170c0eb",
      "category": "umb://document/e7c8bbcedc294c40a17167c17ab26c98"
    }
  ],
  "settingsData": []
}]]></Value>
    </category>
    <description>
      <Value Culture="ar"><![CDATA[تهدف بوابة مسؤولي الحماية من الاشعاع إلى أتمتة إجراءات الترخيص لمسؤولي الحماية من الاشعاع ...]]></Value>
      <Value Culture="en-us"><![CDATA[The Radiation Protection Officers Portal aims to automate the licensing procedures officers...]]></Value>
    </description>
    <details>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>تهدف<span>&nbsp;<a href=\"https://rsolicensing.nrrc.gov.sa/\" data-uw-rm-brl=\"PR\" data-uw-original-href=\"https://rsolicensing.nrrc.gov.sa/\">بوابة مسؤولي الحماية من الاشعاع</a>&nbsp;</span>إلى أتمتة إجراءات الترخيص لمسؤولي الحماية من الاشعاع وتسهيل الوصول للخدمات المتعلقة برخصهم، وتقوم هيئة الرقابة النووية والاشعاعية باستمرار بإضافة المزيد من الخدمات والتي من شأنها رفع مستوى الخدمة وتسهيل عملية التواصل بين مسؤول الحماية من الاشعاع والهيئة<span>.</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>The Radiation Protection Officers Portal aims to automate the for radiation protection officers...</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </details>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hide>
    <icon>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "5797f070-78f6-4b31-9b18-b64ca25f4d99",
    "mediaKey": "30017544-0c44-4606-b42a-6146a93cb450"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "fa96a42e-02e7-492f-a2a1-41b40867cab6",
    "mediaKey": "30017544-0c44-4606-b42a-6146a93cb450"
  }
]]]></Value>
    </icon>
    <itemOrder>
      <Value Culture="ar"><![CDATA[3]]></Value>
      <Value Culture="en-us"><![CDATA[3]]></Value>
    </itemOrder>
    <title>
      <Value Culture="ar"><![CDATA[بوابة خدمات المستفيدين]]></Value>
      <Value Culture="en-us"><![CDATA[Beneficiary Services Portal]]></Value>
    </title>
  </Properties>
</Content>