<?xml version="1.0" encoding="utf-8"?>
<Content Key="76a6a53d-5f39-44c2-b8fc-f7d31ec04a89" Alias="دليل استيفاء الشكاوى" Level="4">
  <Info>
    <Parent Key="e8efb4d4-9c2e-4fdc-aa40-19a3fae4d8cb">إصداراتنا</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_VersionsItem</ContentType>
    <CreateDate>2025-04-21T15:24:40</CreateDate>
    <NodeName Default="دليل استيفاء الشكاوى">
      <Name Culture="ar">دليل استيفاء الشكاوى</Name>
      <Name Culture="en-us">دليل استيفاء الشكاوى</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <date>
      <Value Culture="ar"><![CDATA[2025-04-01T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2025-04-01T12:00:00]]></Value>
    </date>
    <description>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
    <file>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "c9d020bd-c85d-45dd-a7e1-7fc18a3d1f71",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "7154c430-06e7-4a30-95b2-a8ec95261521",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
    </file>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hide>
    <image>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "e0b7f037-8ee7-4f24-a6b6-8a99d468066a",
    "mediaKey": "759fee3b-ca2b-4ada-8289-ba3eef43fab1"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "2540fa73-8a5c-4963-afc3-2b4ddd94e601",
    "mediaKey": "759fee3b-ca2b-4ada-8289-ba3eef43fab1"
  }
]]]></Value>
    </image>
    <order>
      <Value Culture="ar"><![CDATA[4]]></Value>
      <Value Culture="en-us"><![CDATA[4]]></Value>
    </order>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInHome>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInHome>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>