<?xml version="1.0" encoding="utf-8"?>
<Content Key="6b1843c2-b52f-464c-b202-486e454dc24b" Alias="دليل استيفاء الشكاوى (1)" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/</Path>
    <Trashed Parent="e8efb4d4-9c2e-4fdc-aa40-19a3fae4d8cb">true</Trashed>
    <ContentType>DT_VersionsItem</ContentType>
    <CreateDate>2025-04-21T15:40:00</CreateDate>
    <NodeName Default="دليل استيفاء الشكاوى (1)">
      <Name Culture="ar">دليل استيفاء الشكاوى (1)</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
    </cssClass>
    <date>
      <Value Culture="ar"><![CDATA[2025-04-01T12:00:00]]></Value>
    </date>
    <file>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "c9d020bd-c85d-45dd-a7e1-7fc18a3d1f71",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
    </file>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </hide>
    <image>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "d57ddf06-a27a-466b-a1a2-49eaebd153fe",
    "mediaKey": "759fee3b-ca2b-4ada-8289-ba3eef43fab1"
  }
]]]></Value>
    </image>
    <order>
      <Value Culture="ar"><![CDATA[5]]></Value>
    </order>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInHome>
      <Value Culture="ar"><![CDATA[1]]></Value>
    </showInHome>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>