<?xml version="1.0" encoding="utf-8"?>
<Content Key="b42baa3a-feb2-409b-bc88-a0ee769e78ef" Alias="رخصة في المجال الصناعي الإشعاعي" Level="4">
  <Info>
    <Parent Key="acb8bdae-2747-4d75-ab5e-4cb2749b5e29">إحصائيات وأرقام</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>dT_NumbersItem</ContentType>
    <CreateDate>2025-05-22T15:14:07</CreateDate>
    <NodeName Default="رخصة في المجال الصناعي الإشعاعي">
      <Name Culture="ar">رخصة في المجال الصناعي الإشعاعي</Name>
      <Name Culture="en-us">License in the field of radiological industry</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </hide>
    <iconI>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "001e15c9-efd0-464b-9f9c-23a31539be7d",
    "mediaKey": "c3a66cb9-c7f1-4b7d-8662-9fd9eb3dc619"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </iconI>
    <itemOrder>
      <Value Culture="ar"><![CDATA[2]]></Value>
      <Value Culture="en-us"><![CDATA[2]]></Value>
    </itemOrder>
    <number>
      <Value Culture="ar"><![CDATA[500]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </number>
    <operationCharacter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </operationCharacter>
    <title>
      <Value Culture="ar"><![CDATA[رخصة في المجال الصناعي الإشعاعي]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>