<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8f0a179-2d91-4fee-9f82-2dcaf9803456" Alias="رخصة في المجال الطبي الإشعاعي" Level="4">
  <Info>
    <Parent Key="acb8bdae-2747-4d75-ab5e-4cb2749b5e29">إحصائيات وأرقام</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>dT_NumbersItem</ContentType>
    <CreateDate>2025-05-22T15:15:00</CreateDate>
    <NodeName Default="رخصة في المجال الطبي الإشعاعي">
      <Name Culture="ar">رخصة في المجال الطبي الإشعاعي</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <hide>
      <Value><![CDATA[0]]></Value>
    </hide>
    <iconI>
      <Value><![CDATA[[
  {
    "key": "c3ccc925-a9db-47e8-8b19-63a20090384e",
    "mediaKey": "d1c5f71b-e4bd-4630-bbff-2d063f9aa69a"
  }
]]]></Value>
    </iconI>
    <itemOrder>
      <Value Culture="ar"><![CDATA[1]]></Value>
    </itemOrder>
    <number>
      <Value><![CDATA[300]]></Value>
    </number>
    <operationCharacter>
      <Value Culture="ar"><![CDATA[]]></Value>
    </operationCharacter>
    <title>
      <Value><![CDATA[رخصة في المجال الطبي الإشعاعي]]></Value>
    </title>
  </Properties>
</Content>