<?xml version="1.0" encoding="utf-8"?>
<Content Key="e8f0a179-2d91-4fee-9f82-2dcaf9803456" Alias="رخصة في المجال الطبي الإشعاعي" Level="4">
  <Info>
    <Parent Key="acb8bdae-2747-4d75-ab5e-4cb2749b5e29">إحصائيات وأرقام</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>dT_NumbersItem</ContentType>
    <CreateDate>2025-05-22T15:15:00</CreateDate>
    <NodeName Default="رخصة في المجال الطبي الإشعاعي">
      <Name Culture="ar">رخصة في المجال الطبي الإشعاعي</Name>
      <Name Culture="en-us">License in the field of radiological medicine</Name>
    </NodeName>
    <SortOrder>2</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </hide>
    <iconI>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "235ea880-485e-43ad-a0ad-7e649b0bbcd5",
    "mediaKey": "a9707c04-c0a9-4cf5-a68d-cf128d169db8"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </iconI>
    <itemOrder>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[4]]></Value>
    </itemOrder>
    <number>
      <Value Culture="ar"><![CDATA[300]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </number>
    <operationCharacter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </operationCharacter>
    <title>
      <Value Culture="ar"><![CDATA[رخصة في المجال الطبي الإشعاعي]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>