<?xml version="1.0" encoding="utf-8"?>
<Content Key="cd838acd-f91f-43b4-ba18-830cec1a0deb" Alias="شركاؤنا" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/</Path>
    <Trashed Parent="86556fe5-4c62-4e94-893b-5189cf91b6e5">true</Trashed>
    <ContentType>DT_Partners</ContentType>
    <CreateDate>2025-04-20T22:36:03</CreateDate>
    <NodeName Default="شركاؤنا">
      <Name Culture="ar">شركاؤنا</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
    </cssClass>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>