<?xml version="1.0" encoding="utf-8"?>
<Content Key="5bd4547b-8abb-45fb-9a03-72129a0bae9e" Alias="عامل في المجال الإشعاعي" Level="4">
  <Info>
    <Parent Key="acb8bdae-2747-4d75-ab5e-4cb2749b5e29">إحصائيات وأرقام</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>dT_NumbersItem</ContentType>
    <CreateDate>2025-05-30T21:22:26</CreateDate>
    <NodeName Default="عامل في المجال الإشعاعي">
      <Name Culture="ar">عامل في المجال الإشعاعي</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </hide>
    <iconI>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "02f1ba11-c045-4cc9-93f5-e6fa7b5031d4",
    "mediaKey": "5f60a38c-a8ef-47c6-aa78-6d6c0684c378"
  }
]]]></Value>
    </iconI>
    <itemOrder>
      <Value Culture="ar"><![CDATA[3]]></Value>
    </itemOrder>
    <number>
      <Value Culture="ar"><![CDATA[30000]]></Value>
    </number>
    <operationCharacter>
      <Value Culture="ar"><![CDATA[+]]></Value>
    </operationCharacter>
    <title>
      <Value Culture="ar"><![CDATA[عامل في المجال الإشعاعي]]></Value>
    </title>
  </Properties>
</Content>