<?xml version="1.0" encoding="utf-8"?>
<Content Key="8dc1bdd7-488f-4a0e-ab2c-16f4a042f625" Alias="عامل في المجال الإشعاعي" Level="101">
  <Info>
    <Parent Key="00000000-0000-0000-0000-000000000000"></Parent>
    <Path>/[-20]/</Path>
    <Trashed Parent="acb8bdae-2747-4d75-ab5e-4cb2749b5e29">true</Trashed>
    <ContentType>dT_NumbersItem</ContentType>
    <CreateDate>2025-05-22T15:04:46</CreateDate>
    <NodeName Default="عامل في المجال الإشعاعي">
      <Name Culture="ar">عامل في المجال الإشعاعي</Name>
      <Name Culture="en-us">Radiation Monitoring Station (1)</Name>
    </NodeName>
    <SortOrder>6</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <hide>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </hide>
    <iconI>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "2d1cf1b5-45a3-4815-9e93-d0ffc28df798",
    "mediaKey": "5f60a38c-a8ef-47c6-aa78-6d6c0684c378"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </iconI>
    <itemOrder>
      <Value Culture="ar"><![CDATA[3]]></Value>
      <Value Culture="en-us"><![CDATA[4]]></Value>
    </itemOrder>
    <number>
      <Value Culture="ar"><![CDATA[30000]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </number>
    <operationCharacter>
      <Value Culture="ar"><![CDATA[+]]></Value>
      <Value Culture="en-us"><![CDATA[+]]></Value>
    </operationCharacter>
    <title>
      <Value Culture="ar"><![CDATA[عامل في المجال الإشعاعي]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>