<?xml version="1.0" encoding="utf-8"?>
<Content Key="825e823d-e69b-427e-b4d2-3ac7dfafd792" Alias="​عقدت هيئة الرقابة النووية والإشعاعية ورشة" Level="4">
  <Info>
    <Parent Key="78dee17b-4ab4-4792-ab1d-4f82d6cf04bc">الفعاليات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_EventsItem</ContentType>
    <CreateDate>2025-05-21T23:01:53</CreateDate>
    <NodeName Default="​عقدت هيئة الرقابة النووية والإشعاعية ورشة">
      <Name Culture="ar">​عقدت هيئة الرقابة النووية والإشعاعية ورشة</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
    </Published>
    <Schedule />
    <Template Key="5b5eb258-b123-444b-bb95-e794cd39c584">EventsItem</Template>
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
    </cssClass>
    <dateEnd>
      <Value Culture="ar"><![CDATA[2025-05-28T12:00:00]]></Value>
    </dateEnd>
    <dateStart>
      <Value Culture="ar"><![CDATA[2025-05-16T12:00:00]]></Value>
    </dateStart>
    <details>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>​عقدت هيئة الرقابة النووية والإشعاعية ورشة<span>&nbsp;</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </details>
    <eventURL>
      <Value Culture="ar"><![CDATA[]]></Value>
    </eventURL>
    <image>
      <Value Culture="ar"><![CDATA[[]]]></Value>
    </image>
    <location>
      <Value Culture="ar"><![CDATA[جدة]]></Value>
    </location>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
    </pageIcon>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>