<?xml version="1.0" encoding="utf-8"?>
<Content Key="fc061129-3114-407b-9cdf-222016b2b6f7" Alias="قاعدة مفاعلات الأبحاث النووية" Level="3">
  <Info>
    <Parent Key="aabf6165-5b29-4982-ac9a-73a7d3ba2356">البيانات المفتوحة والمصادر العامة</Parent>
    <Path>///</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_PageContent</ContentType>
    <CreateDate>2025-05-25T08:54:52</CreateDate>
    <NodeName Default="قاعدة مفاعلات الأبحاث النووية">
      <Name Culture="ar">قاعدة مفاعلات الأبحاث النووية</Name>
      <Name Culture="en-us">Research Reactor Database (RRDB)</Name>
    </NodeName>
    <SortOrder>4</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="544a3a9b-8d32-4eba-901e-bcd48670cd55">DT_PageContent</Template>
  </Info>
  <Properties>
    <Canonical>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </Canonical>
    <childrens>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </childrens>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <description>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
    <excludedDocumentTypes>
      <Value><![CDATA[]]></Value>
    </excludedDocumentTypes>
    <FBAppID>
      <Value><![CDATA[]]></Value>
    </FBAppID>
    <hideFromXmlSitemap>
      <Value><![CDATA[0]]></Value>
    </hideFromXmlSitemap>
    <menuDisplayImage>
      <Value><![CDATA[[]]]></Value>
    </menuDisplayImage>
    <menuDisplayName>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </menuDisplayName>
    <metaAuthor>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaAuthor>
    <metaDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaDescription>
    <metaKeywords>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaKeywords>
    <metaTagBlock>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </metaTagBlock>
    <OGDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </OGDescription>
    <OGImage>
      <Value><![CDATA[[]]]></Value>
    </OGImage>
    <OGLocale>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </OGLocale>
    <OGTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </OGTitle>
    <OGType>
      <Value><![CDATA[]]></Value>
    </OGType>
    <OGURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </OGURL>
    <pageBlockGridDetails>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageBlockGridDetails>
    <pageContentDetails>
      <Value Culture="ar"><![CDATA[{
  "markup": "<h3 dir=\"rtl\"><strong><span lang=\"AR-SA\" data-uw-rm-lang=\"false\"><span>​​قاعدة مفاعلات الأبحاث النووية&nbsp;</span></span></strong>​</h3>\n<p dir=\"rtl\"><span>&nbsp;تُعد قاعدة&nbsp;قاعدة بيانات المفاعلات البحثية​&nbsp;<a rel=\"noopener\" href=\"https://nucleus.iaea.org/rrdb/#/home\" target=\"_blank\" data-anchor=\"#/home\">(<strong>RRDB</strong>)​</a></span><strong>&nbsp;</strong>التابعة للوكالة الدولية للطاقة الذرية مرجعًا موثوقًا يشتمل على معلومات تقنية تفصيلية حول أكثر من 800 مفاعل بحثي، بما في ذلك التجميعات الحرجة وتحت الحرجة في 67 دولة. ​وتحتوي هذه القاعدة أيضًا على مع​لومات حول استخدام هذه ال​مفاعلات وإدارتها، ويتم توفير هذه البيانات عبر نقاط اتصال معتمدة في المرافق المختلفة، تم تعيينها من خلال قنوات رسمية.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<h3><strong><span>​​​​Research Reactor Database (RRDB)</span></strong></h3>\n<p><span>​The IAEA's Research Reac​tor Database&nbsp;</span><a rel=\"noopener\" href=\"https://nucleus.iaea.org/rrdb/#/home\" target=\"_blank\" data-uw-rm-brl=\"PR\" data-uw-original-href=\"https://nucleus.iaea.org/rrdb/#/home\" data-anchor=\"#/home\"><span>(<strong>RRDB</strong></span>)​</a><span>&nbsp;</span><span>is an authoritative database containing technical information on over 800 research reactors, including critical and sub-critical assemblies in 67 countries.​&nbsp;​</span><span>The information in the database, provided by​ facility focal points nominated through official channels, also includes utilization and administrative information.​​</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </pageContentDetails>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </pageIcon>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTitle>
    <pageTitle2>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTitle2>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <searchEngineChangeFrequency>
      <Value><![CDATA[]]></Value>
    </searchEngineChangeFrequency>
    <searchEngineRelativePriority>
      <Value><![CDATA[]]></Value>
    </searchEngineRelativePriority>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
    <TwitterCardType>
      <Value><![CDATA[]]></Value>
    </TwitterCardType>
    <TwitterDescription>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </TwitterDescription>
    <TwitterImage>
      <Value><![CDATA[[]]]></Value>
    </TwitterImage>
    <TwitterImageAlt>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </TwitterImageAlt>
    <TwitterSite>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </TwitterSite>
    <TwitterTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </TwitterTitle>
    <umbracoNaviHide77>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </umbracoNaviHide77>
  </Properties>
</Content>