<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ed2099f-4242-442f-9cb8-32ba012eadcf" Alias="​​لتعزيز ونشر قيم ومفاهيم الأمن والأمان" Level="4">
  <Info>
    <Parent Key="78dee17b-4ab4-4792-ab1d-4f82d6cf04bc">الفعاليات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_EventsItem</ContentType>
    <CreateDate>2025-05-22T04:40:06</CreateDate>
    <NodeName Default="​​لتعزيز ونشر قيم ومفاهيم الأمن والأمان">
      <Name Culture="ar">​​لتعزيز ونشر قيم ومفاهيم الأمن والأمان</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
    </cssClass>
    <dateEnd>
      <Value Culture="ar"><![CDATA[2025-06-03T12:00:00]]></Value>
    </dateEnd>
    <dateStart>
      <Value Culture="ar"><![CDATA[2025-05-22T12:00:00]]></Value>
    </dateStart>
    <details>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>dwwwwwwwwwwwwwwwwwwwww</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </details>
    <eventURL>
      <Value Culture="ar"><![CDATA[]]></Value>
    </eventURL>
    <image>
      <Value Culture="ar"><![CDATA[[]]]></Value>
    </image>
    <location>
      <Value Culture="ar"><![CDATA[جدة]]></Value>
    </location>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
    </pageIcon>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>