<?xml version="1.0" encoding="utf-8"?>
<Content Key="ed23db7f-ee3b-4811-a711-531debdae42b" Alias="محطة رصد إشعاعي" Level="4">
  <Info>
    <Parent Key="acb8bdae-2747-4d75-ab5e-4cb2749b5e29">إحصائيات وأرقام</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>dT_NumbersItem</ContentType>
    <CreateDate>2025-05-22T15:15:17</CreateDate>
    <NodeName Default="محطة رصد إشعاعي">
      <Name Culture="ar">محطة رصد إشعاعي</Name>
      <Name Culture="en-us">Radiation Monitoring Station</Name>
    </NodeName>
    <SortOrder>3</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </hide>
    <iconI>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "64cbeeab-82bf-47cc-b001-239495100221",
    "mediaKey": "b52373e4-8432-4b64-8542-864e03bb1923"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </iconI>
    <itemOrder>
      <Value Culture="ar"><![CDATA[4]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </itemOrder>
    <number>
      <Value Culture="ar"><![CDATA[200]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </number>
    <operationCharacter>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </operationCharacter>
    <title>
      <Value Culture="ar"><![CDATA[محطة رصد إشعاعي]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </title>
  </Properties>
</Content>