<?xml version="1.0" encoding="utf-8"?>
<Content Key="6566e89c-230f-4ae8-b778-5b3ca9e8ff37" Alias="مختبرات الهيئة للرصد الإشعاعي البيئي" Level="4">
  <Info>
    <Parent Key="3d7b8c62-9039-42e4-9783-0a430aa6dbfe">المنشورات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_VersionsItem</ContentType>
    <CreateDate>2025-05-22T00:52:01</CreateDate>
    <NodeName Default="مختبرات الهيئة للرصد الإشعاعي البيئي">
      <Name Culture="ar">مختبرات الهيئة للرصد الإشعاعي البيئي</Name>
      <Name Culture="en-us">The Authority's Laboratories for Environmental Radiation Monitoring</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <date>
      <Value Culture="ar"><![CDATA[2025-05-22T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2025-05-19T12:00:00]]></Value>
    </date>
    <description>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </description>
    <file>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "87416d96-99d1-4dc9-b1bf-f591385f7980",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "c1a643dc-3a5c-434f-a2cc-f19ae7b8c16c",
    "mediaKey": "df7d890a-52c2-471f-b6a2-649cebe2b3ae"
  }
]]]></Value>
    </file>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hide>
    <image>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "f21ed970-6765-404c-b570-2a16e069684b",
    "mediaKey": "d1c5f71b-e4bd-4630-bbff-2d063f9aa69a"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "e78c11ab-425c-490f-abc9-62e489beec79",
    "mediaKey": "d1c5f71b-e4bd-4630-bbff-2d063f9aa69a"
  }
]]]></Value>
    </image>
    <order>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </order>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </pageIcon>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInHome>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[1]]></Value>
    </showInHome>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>