<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b5c0371-4c67-489b-b478-b17c8f50830a" Alias="مسؤول الحماية من الإشعاع" Level="4">
  <Info>
    <Parent Key="ab5ccbb4-ea92-41e8-8012-3102dc742e0b">الخدمات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_ServicesItem</ContentType>
    <CreateDate>2025-05-22T16:10:57</CreateDate>
    <NodeName Default="مسؤول الحماية من الإشعاع">
      <Name Culture="ar">مسؤول الحماية من الإشعاع</Name>
      <Name Culture="en-us">Radiation Protection Officer</Name>
    </NodeName>
    <SortOrder>0</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="8e494aed-8b25-482f-95bf-a5bc7b0a05dd">DT_ServicesItem</Template>
  </Info>
  <Properties>
    <category>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a435abd3612a482e9d69a045a588c17a"
      },
      {
        "contentUdi": "umb://element/e1e38fd282ee4e169b6c733f88e7d154"
      },
      {
        "contentUdi": "umb://element/b8c4102206a7484b88e9276c267a31b4"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/a435abd3612a482e9d69a045a588c17a",
      "category": "umb://document/09bb4a0f8d4d4c0b94cb4144d7ac9760"
    },
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/e1e38fd282ee4e169b6c733f88e7d154",
      "category": "umb://document/ebd4a973430c4e30b58d2cbe8bf49d1c"
    },
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/b8c4102206a7484b88e9276c267a31b4",
      "category": "umb://document/e7c8bbcedc294c40a17167c17ab26c98"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </category>
    <description>
      <Value Culture="ar"><![CDATA[تهدف بوابة مسؤولي الحماية من الاشعاع إلى أتمتة إجراءات الترخيص لمسؤولي الحماية من الاشعاع ...]]></Value>
      <Value Culture="en-us"><![CDATA[Radiation Protection Officer Radiation Protection Officer Radiation Protection Officer Radiation Protection Officer ....]]></Value>
    </description>
    <details>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>تهدف<span>&nbsp;<a href=\"https://rsolicensing.nrrc.gov.sa/\" data-uw-rm-brl=\"PR\" data-uw-original-href=\"https://rsolicensing.nrrc.gov.sa/\">بوابة مسؤولي الحماية من الاشعاع</a>&nbsp;</span>إلى أتمتة إجراءات الترخيص لمسؤولي الحماية من الاشعاع وتسهيل الوصول للخدمات المتعلقة برخصهم، وتقوم هيئة الرقابة النووية والاشعاعية باستمرار بإضافة المزيد من الخدمات والتي من شأنها رفع مستوى الخدمة وتسهيل عملية التواصل بين مسؤول الحماية من الاشعاع والهيئة<span>.</span></p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Radiation Protection Officer Radiation Protection Officer</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </details>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hide>
    <icon>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "a38ad565-a410-4a0a-83b1-173402fbcf08",
    "mediaKey": "30017544-0c44-4606-b42a-6146a93cb450"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "2ae1dc44-040b-4bdb-84c9-c4935d906308",
    "mediaKey": "30017544-0c44-4606-b42a-6146a93cb450"
  }
]]]></Value>
    </icon>
    <itemOrder>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[3]]></Value>
    </itemOrder>
    <title>
      <Value Culture="ar"><![CDATA[مسؤول الحماية من الإشعاع]]></Value>
      <Value Culture="en-us"><![CDATA[Radiation Protection Officer Radiation Protection Officer]]></Value>
    </title>
  </Properties>
</Content>