<?xml version="1.0" encoding="utf-8"?>
<Content Key="0b5c0371-4c67-489b-b478-b17c8f50830a" Alias="مسؤول الحماية من الإشعاع" Level="4">
  <Info>
    <Parent Key="ab5ccbb4-ea92-41e8-8012-3102dc742e0b">الخدمات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_ServicesItem</ContentType>
    <CreateDate>2025-05-22T16:10:57</CreateDate>
    <NodeName Default="مسؤول الحماية من الإشعاع" />
    <SortOrder>0</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8e494aed-8b25-482f-95bf-a5bc7b0a05dd">DT_ServicesItem</Template>
  </Info>
  <Properties>
    <description>
      <Value><![CDATA[يعد وجود مسؤول حماية من الاشعاع أحد شروط ترخيص الممارسات...]]></Value>
    </description>
    <details>
      <Value><![CDATA[{
  "markup": "​​​يعد وجود مسؤول حماية من الاشعاع أحد شروط ترخيص الممارسات الإشعاعية المختلفة، حيث يتولى مسؤول الحماية من الاشعاع مهام الإشراف على تنفيذ برنامج الحماية من الإشعاع في الممارسة الإشعاعية، ويعمل حلقة اتصال رسمية مع هيئة الرقابة النووية والإشعاعية لتنفيذ المتطلبات الأخرى التي تحددها الهيئة، ويمكن للمرشح على الحصول على رخصة مسؤول الحماية من الاشعاع التقدم بطلب اصدار رخصة مسؤول الحماية من الاشعاع  \n\n",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </details>
    <hide>
      <Value><![CDATA[0]]></Value>
    </hide>
    <icon>
      <Value><![CDATA[[
  {
    "key": "a4087676-e1dc-4eba-90d2-3f44e93e80e6",
    "mediaKey": "d1c5f71b-e4bd-4630-bbff-2d063f9aa69a"
  }
]]]></Value>
    </icon>
    <itemOrder>
      <Value><![CDATA[2]]></Value>
    </itemOrder>
    <title>
      <Value><![CDATA[مسؤول الحماية من الإشعاع]]></Value>
    </title>
  </Properties>
</Content>