<?xml version="1.0" encoding="utf-8"?>
<Content Key="bdcef02e-141a-4a38-b93c-7942c5e7e5fb" Alias="منصة أمان" Level="4">
  <Info>
    <Parent Key="ab5ccbb4-ea92-41e8-8012-3102dc742e0b">الخدمات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_ServicesItem</ContentType>
    <CreateDate>2025-05-22T16:12:06</CreateDate>
    <NodeName Default="منصة أمان" />
    <SortOrder>1</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template Key="8e494aed-8b25-482f-95bf-a5bc7b0a05dd">DT_ServicesItem</Template>
  </Info>
  <Properties>
    <category>
      <Value><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a1f0ae4cef1348dbbb9feaeb0c0d01c6"
      },
      {
        "contentUdi": "umb://element/c720d9295d9c4c0e865f5ba215413393"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/a1f0ae4cef1348dbbb9feaeb0c0d01c6",
      "category": "umb://document/ebd4a973430c4e30b58d2cbe8bf49d1c"
    },
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/c720d9295d9c4c0e865f5ba215413393",
      "category": "umb://document/e7c8bbcedc294c40a17167c17ab26c98"
    }
  ],
  "settingsData": []
}]]></Value>
    </category>
    <description>
      <Value><![CDATA[تهدف منصة أمان إلى أتمتة الإجراءات الرقابية وتحويلها إلى خدمات إلكترونية...]]></Value>
    </description>
    <details>
      <Value><![CDATA[{
  "markup": "​​​​​​​​​​​​​​​​​​​​​​​​​​​​تهدف منصة أمان إلى أتمتة الإجراءات الرقابية وتحويلها إلى خدمات إلكترونية بهدف رفع كفاءة وجودة العمليات الرقابية التي تقوم بها الهيئة وذلك لتسهيل الوصول و الاستفادة من تلك الخدمات  للمستفيدين، والتي ستمكن الجهات من إدارة المنشآت التابعة لها والتقدم بطلبات الترخيص.\n\n\n",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </details>
    <hide>
      <Value><![CDATA[0]]></Value>
    </hide>
    <icon>
      <Value><![CDATA[[
  {
    "key": "41d85b2c-5850-4a90-b183-d30efde52cb6",
    "mediaKey": "d1c5f71b-e4bd-4630-bbff-2d063f9aa69a"
  }
]]]></Value>
    </icon>
    <itemOrder>
      <Value><![CDATA[1]]></Value>
    </itemOrder>
    <title>
      <Value><![CDATA[منصة أمان]]></Value>
    </title>
  </Properties>
</Content>