<?xml version="1.0" encoding="utf-8"?>
<Content Key="bdcef02e-141a-4a38-b93c-7942c5e7e5fb" Alias="منصة أمان" Level="4">
  <Info>
    <Parent Key="ab5ccbb4-ea92-41e8-8012-3102dc742e0b">الخدمات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_ServicesItem</ContentType>
    <CreateDate>2025-05-22T16:12:06</CreateDate>
    <NodeName Default="منصة أمان">
      <Name Culture="ar">منصة أمان</Name>
      <Name Culture="en-us">Aman platform</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="8e494aed-8b25-482f-95bf-a5bc7b0a05dd">DT_ServicesItem</Template>
  </Info>
  <Properties>
    <category>
      <Value Culture="ar"><![CDATA[{
  "layout": {
    "Umbraco.BlockList": [
      {
        "contentUdi": "umb://element/a1f0ae4cef1348dbbb9feaeb0c0d01c6"
      },
      {
        "contentUdi": "umb://element/c720d9295d9c4c0e865f5ba215413393"
      }
    ]
  },
  "contentData": [
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/a1f0ae4cef1348dbbb9feaeb0c0d01c6",
      "category": "umb://document/ebd4a973430c4e30b58d2cbe8bf49d1c"
    },
    {
      "contentTypeKey": "2dac45c2-19d6-476a-8255-a462dbe2f4d8",
      "udi": "umb://element/c720d9295d9c4c0e865f5ba215413393",
      "category": "umb://document/e7c8bbcedc294c40a17167c17ab26c98"
    }
  ],
  "settingsData": []
}]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </category>
    <description>
      <Value Culture="ar"><![CDATA[تهدف منصة أمان إلى أتمتة الإجراءات الرقابية وتحويلها إلى خدمات إلكترونية بهدف رفع كفاءة ...]]></Value>
      <Value Culture="en-us"><![CDATA[Aman platform Aman platform Aman platform Aman platform Aman platform Aman platform Aman platform.....]]></Value>
    </description>
    <details>
      <Value Culture="ar"><![CDATA[{
  "markup": "<p>تهدف منصة أمان إلى أتمتة الإجراءات الرقابية وتحويلها إلى خدمات إلكترونية بهدف رفع كفاءة وجودة العمليات الرقابية التي تقوم بها الهيئة وذلك لتسهيل الوصول و الاستفادة من تلك الخدمات&nbsp;&nbsp;للمستفيدين، والتي ستمكن الجهات من إدارة المنشآت التابعة لها والتقدم بطلبات الترخيص.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>Aman platform Aman platform</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </details>
    <hide>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </hide>
    <icon>
      <Value Culture="ar"><![CDATA[[
  {
    "key": "87ebf312-9991-4b7c-a890-0fbb2bfed34b",
    "mediaKey": "30017544-0c44-4606-b42a-6146a93cb450"
  }
]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "40a80e7f-4724-4b4c-b429-9fec75629d93",
    "mediaKey": "30017544-0c44-4606-b42a-6146a93cb450"
  }
]]]></Value>
    </icon>
    <itemOrder>
      <Value Culture="ar"><![CDATA[1]]></Value>
      <Value Culture="en-us"><![CDATA[2]]></Value>
    </itemOrder>
    <title>
      <Value Culture="ar"><![CDATA[منصة أمان]]></Value>
      <Value Culture="en-us"><![CDATA[Aman platform Aman platform]]></Value>
    </title>
  </Properties>
</Content>