<?xml version="1.0" encoding="utf-8"?>
<Content Key="e7c8bbce-dc29-4c40-a171-67c17ab26c98" Alias="نووى" Level="4">
  <Info>
    <Parent Key="0818153c-914c-44ba-8e2e-419bc6964f48">أنواع الخدمات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>lookupItem</ContentType>
    <CreateDate>2025-05-24T18:18:19</CreateDate>
    <NodeName Default="نووى" />
    <SortOrder>2</SortOrder>
    <Published Default="true" />
    <Schedule />
    <Template />
  </Info>
  <Properties>
    <cssClass>
      <Value><![CDATA[ border-green-600 bg-green-50 text-success]]></Value>
    </cssClass>
    <hide>
      <Value><![CDATA[0]]></Value>
    </hide>
    <itemOrder>
      <Value><![CDATA[3]]></Value>
    </itemOrder>
    <titleAr>
      <Value><![CDATA[نووى]]></Value>
    </titleAr>
    <titleEn>
      <Value><![CDATA[nuclear]]></Value>
    </titleEn>
  </Properties>
</Content>