<?xml version="1.0" encoding="utf-8"?>
<Content Key="1ed2099f-4242-442f-9cb8-32ba012eadcf" Alias="ورشة عمل القانون النووي" Level="4">
  <Info>
    <Parent Key="78dee17b-4ab4-4792-ab1d-4f82d6cf04bc">الفعاليات</Parent>
    <Path>//Lists//</Path>
    <Trashed>false</Trashed>
    <ContentType>DT_EventsItem</ContentType>
    <CreateDate>2025-05-22T04:40:06</CreateDate>
    <NodeName Default="ورشة عمل القانون النووي">
      <Name Culture="ar">ورشة عمل القانون النووي</Name>
      <Name Culture="en-us">To promote and disseminate the values and concepts of security and safety.</Name>
    </NodeName>
    <SortOrder>1</SortOrder>
    <Published Default="true">
      <Published Culture="ar">true</Published>
      <Published Culture="en-us">true</Published>
    </Published>
    <Schedule />
    <Template Key="5b5eb258-b123-444b-bb95-e794cd39c584">EventsItem</Template>
  </Info>
  <Properties>
    <cssClass>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </cssClass>
    <dateEnd>
      <Value Culture="ar"><![CDATA[2025-06-03T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2025-05-28T11:50:00]]></Value>
    </dateEnd>
    <dateStart>
      <Value Culture="ar"><![CDATA[2025-05-22T12:00:00]]></Value>
      <Value Culture="en-us"><![CDATA[2025-05-13T11:45:00]]></Value>
    </dateStart>
    <details>
      <Value Culture="ar"><![CDATA[{
  "markup": "<div class=\"page-title-section border-bottom pb-5\">\n<div class=\"d-flex justify-content-between align-items-center\">\n<h2 class=\"font-bold\">ورشة عمل القانون النووي</h2>\n</div>\n</div>\n<div class=\"py-5\">\n<div class=\"py-3 my-4 border-top border-bottom wow animate__ animate__fadeInUp d-flex justify-content-between align-items-center animated\">\n<div class=\"d-flex gap-3 align-items-center flex-wrap\">\n<div class=\"d-flex gap-2 align-items-center flex-wrap\"></div>\n</div>\n</div>\n</div>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
      <Value Culture="en-us"><![CDATA[{
  "markup": "<p>To promote and disseminate the values and concepts of security and safety.</p>",
  "blocks": {
    "contentData": [],
    "settingsData": []
  }
}]]></Value>
    </details>
    <eventURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </eventURL>
    <image>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[
  {
    "key": "8434c058-8ada-407a-a69d-b458ee638888",
    "mediaKey": "71b57955-3d6f-4636-8267-3d7fa15a180e"
  }
]]]></Value>
    </image>
    <location>
      <Value Culture="ar"><![CDATA[جدة]]></Value>
      <Value Culture="en-us"><![CDATA[Jedda]]></Value>
    </location>
    <pageIcon>
      <Value Culture="ar"><![CDATA[[]]]></Value>
      <Value Culture="en-us"><![CDATA[[]]]></Value>
    </pageIcon>
    <pageTitle>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </pageTitle>
    <redirectURL>
      <Value Culture="ar"><![CDATA[]]></Value>
      <Value Culture="en-us"><![CDATA[]]></Value>
    </redirectURL>
    <showBreadcrumb>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showBreadcrumb>
    <showComingSoon>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showComingSoon>
    <showInMainMenu>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInMainMenu>
    <showInSiteMap>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showInSiteMap>
    <showPageTitle>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showPageTitle>
    <showSharingIcons>
      <Value Culture="ar"><![CDATA[0]]></Value>
      <Value Culture="en-us"><![CDATA[0]]></Value>
    </showSharingIcons>
  </Properties>
</Content>